@import './_google-maps-mixin';
@import './_google-maps-constant';

.rac {

  // @stable [22.06.2021]
  @include rac-google-maps (
    $rac-google-maps-body-flex: $rac-google-maps-body-flex,
    $rac-google-maps-display: $rac-google-maps-display,
    $rac-google-maps-flex: $rac-google-maps-flex,
    $rac-google-maps-position: $rac-google-maps-position
  );
}