@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [20.05.2020] */
/************************/
$rac-main-body-content-min-width: unset !default;  /* min-content (for right padding, but the chartjs doesn't allow) */
$rac-main-flex-direction: unset !default;

/************************/
/* @stable [20.05.2020] */
/************************/
$rac-full-main-flex-grow: $rac-primary-flex-grow-1 !default;