@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [21.05.2020] */
/************************/
$rac-primary-header-size-0: $rac-primary-size-5 !default;

/************************/
/* @stable [21.05.2020] */
/************************/
$rac-header-actions-align-items: center !default;
$rac-header-actions-display: $rac-primary-display-0 !default;
$rac-header-actions-margin: 0 0 0 auto !default;
$rac-header-background: $rac-primary-color-metis-05 !default;
$rac-header-content-align-items: center !default;
$rac-header-content-display: $rac-primary-display-0 !default;
$rac-header-content-flex-direction: unset !default;
$rac-header-content-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-header-display: $rac-primary-display-0 !default;
$rac-header-height: $rac-primary-size-13 !default;
$rac-header-menu-action-background: unset !default;
$rac-header-menu-action-color: unset !default;
$rac-header-menu-action-icon-color:  $rac-primary-color-metis-3 !default;
$rac-header-menu-action-icon-size: unset !default;
$rac-header-menu-action-position: unset !default;
$rac-header-menu-action-right: unset !default;
$rac-header-navigation-action-icon-color: unset !default;
$rac-header-navigation-action-margin: 0 $rac-primary-offset-3 0 0 !default;
$rac-header-padding: 0 $rac-primary-offset-8 !default;
$rac-header-user-avatar-background-size: cover !default;
$rac-header-user-avatar-border-radius: 50% !default;
$rac-header-user-avatar-height: $rac-primary-header-size-0 !default;
$rac-header-user-avatar-margin: 0 $rac-primary-offset-1 0 0 !default;
$rac-header-user-avatar-width: $rac-primary-header-size-0 !default;
$rac-header-user-info-color: $rac-primary-color-poseidon-0 !default;
$rac-header-user-info-font-size: $rac-primary-font-size-1 !default;
$rac-header-user-info-font-weight: $rac-primary-font-weight-4 !default;
$rac-header-user-info-margin: unset !default;
