@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [19.04.2020] */
/************************/
$rac-header-actions-align-items: center !default;
$rac-header-actions-display: $rac-primary-display-0 !default;
$rac-header-actions-margin: 0 0 0 auto !default;
$rac-header-content-align-items: center !default;
$rac-header-content-display: $rac-primary-display-0 !default;
$rac-header-content-flex-direction: unset !default;
$rac-header-content-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-header-menu-action-color: unset !default;
$rac-header-menu-action-icon-color:  $rac-primary-color-metis-3 !default;
$rac-header-menu-action-icon-size: unset !default;
$rac-header-menu-action-position: unset !default;
$rac-header-menu-action-right: unset !default;
$rac-header-navigation-action-icon-color: unset !default;
$rac-header-navigation-action-margin: 0 $rac-primary-offset-3 0 0 !default;
$rac-header-user-info-color: $rac-primary-color-poseidon-0 !default;
$rac-header-user-info-font-size: $rac-primary-font-size-1 !default;
$rac-header-user-info-font-weight: $rac-primary-font-weight-2 !default;
$rac-header-user-info-margin: unset !default;

/************************/
/* @stable [10.02.2020] */
/************************/
$rac-header-size-0: 24px !default;
/**/

$rac-header-user-avatar-background-size: cover !default;
$rac-header-user-avatar-border-radius: $rac-header-size-0 / 2 !default;
$rac-header-user-avatar-height: $rac-header-size-0 !default;
$rac-header-user-avatar-margin: 0 $rac-primary-offset-1 0 0 !default;
$rac-header-user-avatar-width: $rac-header-size-0 !default;