@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [19.04.2020] */
/************************/
$rac-header-user-info-color: $rac-primary-color-poseidon-0;
$rac-header-user-info-font-size: $rac-primary-font-size-1;
$rac-header-user-info-font-weight: $rac-primary-font-weight-2;
$rac-header-user-info-margin: unset !default;