@import './_header-mixin';
@import './_header-constant';

.rac {

  /**
   * @header
   * @stable [10.02.2020]
   */
  @include rac-header (
    $rac-header-actions-align-items: $rac-header-actions-align-items,
    $rac-header-actions-display: $rac-header-actions-display,
    $rac-header-actions-margin: $rac-header-actions-margin,
    $rac-header-content-align-items: $rac-header-content-align-items,
    $rac-header-content-display: $rac-header-content-display,
    $rac-header-content-flex-direction: $rac-header-content-flex-direction,
    $rac-header-content-flex-grow: $rac-header-content-flex-grow,
    $rac-header-menu-action-color: $rac-header-menu-action-color,
    $rac-header-menu-action-icon-color: $rac-header-menu-action-icon-color,
    $rac-header-menu-action-icon-size: $rac-header-menu-action-icon-size,
    $rac-header-menu-action-position: $rac-header-menu-action-position,
    $rac-header-menu-action-right: $rac-header-menu-action-right,
    $rac-header-navigation-action-icon-color: $rac-header-navigation-action-icon-color,
    $rac-header-navigation-action-margin: $rac-header-navigation-action-margin,
    $rac-header-user-avatar-background-size: $rac-header-user-avatar-background-size,
    $rac-header-user-avatar-border-radius: $rac-header-user-avatar-border-radius,
    $rac-header-user-avatar-height: $rac-header-user-avatar-height,
    $rac-header-user-avatar-margin: $rac-header-user-avatar-margin,
    $rac-header-user-avatar-width: $rac-header-user-avatar-width,
    $rac-header-user-info-color: $rac-header-user-info-color,
    $rac-header-user-info-font-size: $rac-header-user-info-font-size,
    $rac-header-user-info-font-weight: $rac-header-user-info-font-weight,
    $rac-header-user-info-margin: $rac-header-user-info-margin
  );
}