@import '~sass-flex-mixin/_flex';
@import '../constant';

// Header [FRAMEWORK-][RAC+]
.rac {

  .rac-header {
    color: $rac-header-color;                                                            /* @stable [07.08.2018] */
    background: $rac-header-background;                                                  /* @stable [07.08.2018] */
    padding: $rac-header-padding;                                                        /* @stable [08.08.2018] */

    .rac-header-section-title {
      font-weight: $rac-header-section-title-font-weight;                                /* @stable [26.06.2018] */
      font-size: $rac-header-section-title-font-size;                                    /* @stable [26.06.2018] */
      margin-left: $rac-header-section-title-margin-left;                                /* @stable [26.06.2018] */
      margin-right: $rac-header-section-title-margin-right;                              /* @stable [29.06.2018] */
    }

    &.rac-header-search-toolbar-active {

      .rac-search-toolbar {
        animation: headerSearchToolbarAnimationRule;                                     /* @stable [25.06.2018] */
        animation-duration: $rac-header-search-toolbar-animation-duration;               /* @stable [25.06.2018] */
      }
    }

    .rac-form-field {

      .rac-text-field {
        margin-top: unset;                                                               /* @stable [25.06.2018] */
        border-bottom-color: $rac-header-text-field-border-bottom-color;                 /* @stable [25.06.2018] */

        .rac-field-input-wrapper {
          height: 100%;                                                                  /* @stable [24.06.2018] */

          .rac-field-input {
            height: 100%;
            padding-top: unset;                                                          /* @stable [25.06.2018] */
          }
        }
      }
    }
  }
}

// Search toolbar animation rule [FRAMEWORK-]
@keyframes headerSearchToolbarAnimationRule {
  from { @include flex(0); }
  to { @include flex; }
}