@import '~sass-flex-mixin/_flex';
@import '../constant';

// Header [FRAMEWORK-]
.rac-header {

  .rac-header-title, .rac-header-subtitle {
    margin: 4px 0;
  }

  &.rac-header-search-toolbar-active {
    .rac-search-toolbar {
      animation: headerSearchToolbarAnimationRule;                       // [RAC+]
      animation-duration: $rac-header-search-animation-duration;         // [RAC+]
    }
  }

  .rac-navigation-section {
    @include flex(unset); // [RAC+]
  }

  .rac-search-toolbar {
    &.rac-toolbar {
      background: none;   // [RAC+]
    }

    .rac-form-field {
      margin-left: 16px;    // [RAC+]
      margin-right: 16px;   // [RAC+]

      .rac-field-input {
        &::placeholder {
          color: $rac-header-search-field-color;    // [RAC+]
        }
      }

      .rac-field-input, .rac-button {
        color: $rac-header-search-field-color;      // [RAC+]
      }
    }
  }
}

// Search toolbar animation rule [FRAMEWORK-]
@keyframes headerSearchToolbarAnimationRule {
  from { @include flex(0); }
  to { @include flex; }
}