@import '../constant';
@import '../mixin';

.rac {

  /**
   * @header
   * @stable [10.02.2020]
   */
  @include rac-header (
    $rac-header-actions-align-items: $rac-header-actions-align-items,
    $rac-header-actions-display: $rac-header-actions-display,
    $rac-header-actions-margin: $rac-header-actions-margin,
    $rac-header-back-action-margin: $rac-header-back-action-margin,
    $rac-header-content-align-items: $rac-header-content-align-items,
    $rac-header-content-display: $rac-header-content-display,
    $rac-header-content-flex-direction: $rac-header-content-flex-direction,
    $rac-header-content-flex: $rac-header-content-flex
  );

  .rac-sub-header-section-title {
    font-weight: $rac-sub-header-section-title-font-weight;                              /* @stable [26.06.2018] */
    font-size: $rac-sub-header-section-title-font-size;                                  /* @stable [26.06.2018] */
    margin-left: $rac-sub-header-section-title-margin-left;                              /* @stable [26.06.2018] */
    margin-right: $rac-sub-header-section-title-margin-right;                            /* @stable [29.06.2018] */
  }

  .rac-sub-header {

    &.rac-sub-header-navigated {

      .rac-sub-header-section-title {
        padding-right: $rac-sub-header-section-title-padding-right;                          /* @stable [14.09.2018] */
      }
    }
  }
}