@import '~sass-flex-mixin/_flex';
@import '../constant';

// Header [FRAMEWORK-][RAC+]
.rac {

  .rac-header {

    .rac-header-title, .rac-header-subtitle {
      margin-left: 4px;                                         /* @stable [01.06.2018] */
    }

    .rac-navigation-section {
      @include flex(unset);                                     /* @stable [01.06.2018] */
    }

    &.rac-header-search-toolbar-active {

      .rac-search-toolbar {
        animation: headerSearchToolbarAnimationRule;                       /* @stable [01.06.2018] */
        animation-duration: $rac-header-search-animation-duration;         /* @stable [01.06.2018] */
      }
    }

    .rac-search-toolbar {

      .rac-button {
        height: 100%;                                           /* @stable [01.06.2018] */
        color: $rac-header-action-color;                        /* @stable [01.06.2018] */
      }

      .rac-form-field {
        margin-left: 16px;                                      /* @stable [01.06.2018] */
        margin-right: 16px;                                     /* @stable [01.06.2018] */

        .rac-text-field {
          border-bottom-color: $rac-header-search-field-color;  /* @stable [01.06.2018] */

          .rac-field-input-wrapper {
            height: 100%;                                       /* @stable [01.06.2018] */

            .rac-field-input {
              height: 100%;
              color: $rac-header-search-field-color;            /* @stable [01.06.2018] */

              &::placeholder {
                color: $rac-header-search-field-color;          /* @stable [01.06.2018] */
              }
            }
          }
        }
      }
    }
  }
}

// Search toolbar animation rule [FRAMEWORK-]
@keyframes headerSearchToolbarAnimationRule {
  from { @include flex(0); }
  to { @include flex; }
}