@import './navigation-list-mixin';
@import './navigation-list-constant';

.rac {

  /**
   * @navigation-list
   * @stable [14.05.2020]
   */
  @include rac-navigation-list (
    $rac-navigation-list-active-section-background: $rac-navigation-list-active-section-background,
    $rac-navigation-list-active-section-color: $rac-navigation-list-active-section-color,
    $rac-navigation-list-active-section-icon-color: $rac-navigation-list-active-section-icon-color,
    $rac-navigation-list-expand-icon-height: $rac-navigation-list-expand-icon-height,
    $rac-navigation-list-expand-icon-margin: $rac-navigation-list-expand-icon-margin,
    $rac-navigation-list-expand-icon-size: $rac-navigation-list-expand-icon-size,
    $rac-navigation-list-expand-icon-width: $rac-navigation-list-expand-icon-width,
    $rac-navigation-list-expanded-section-background: $rac-navigation-list-expanded-section-background,
    $rac-navigation-list-group-section-color: $rac-navigation-list-group-section-color,
    $rac-navigation-list-group-section-cursor: $rac-navigation-list-group-section-cursor,
    $rac-navigation-list-group-section-font-size: $rac-navigation-list-group-section-font-size,
    $rac-navigation-list-group-section-font-weight: $rac-navigation-list-group-section-font-weight,
    $rac-navigation-list-group-section-height: $rac-navigation-list-group-section-height,
    $rac-navigation-list-group-section-text-transform: $rac-navigation-list-group-section-text-transform,
    $rac-navigation-list-item-section-font-weight: $rac-navigation-list-item-section-font-weight,
    $rac-navigation-list-item-section-height: $rac-navigation-list-item-section-height,
    $rac-navigation-list-item-section-icon-visibility: $rac-navigation-list-item-section-icon-visibility,
    $rac-navigation-list-last-section-margin: $rac-navigation-list-last-section-margin,
    $rac-navigation-list-no-user-select: $rac-navigation-list-no-user-select,
    $rac-navigation-list-overflow: $rac-navigation-list-overflow,
    $rac-navigation-list-position: $rac-navigation-list-position,
    $rac-navigation-list-section-align-items: $rac-navigation-list-section-align-items,
    $rac-navigation-list-section-color: $rac-navigation-list-section-color,
    $rac-navigation-list-section-display: $rac-navigation-list-section-display,
    $rac-navigation-list-section-flex-direction: $rac-navigation-list-section-flex-direction,
    $rac-navigation-list-section-font-size: $rac-navigation-list-section-font-size,
    $rac-navigation-list-section-hover-outline: $rac-navigation-list-section-hover-outline,
    $rac-navigation-list-section-icon-color: $rac-navigation-list-section-icon-color,
    $rac-navigation-list-section-word-break: $rac-navigation-list-section-word-break
  );

  /**
   * @mini-navigation-list
   * @stable [14.05.2020]
   */
  @include rac-navigation-list (
    $rac-navigation-list-custom: $rac-mini-navigation-list-cls,
    $rac-navigation-list-icon-width: $rac-mini-navigation-list-icon-width,
    $rac-navigation-list-section-border-radius: $rac-mini-navigation-list-section-border-radius,
    $rac-navigation-list-section-height: $rac-mini-navigation-list-section-height,
    $rac-navigation-list-section-margin: $rac-mini-navigation-list-section-margin,
    $rac-navigation-list-section-width: $rac-mini-navigation-list-section-width
  );

  /**
   * @full-navigation-list
   * @stable [14.05.2020]
   */
  @include rac-navigation-list (
    $rac-navigation-list-custom: $rac-full-navigation-list-cls,
    $rac-navigation-list-flex-basis: $rac-full-navigation-list-flex-basis,
    $rac-navigation-list-flex-grow: $rac-full-navigation-list-flex-grow
  );

  /**
   * @media
   * @stable [29.05.2020]
   */
  @media (min-width: $rac-primary-media-query-breakpoint-2-min) {

    /**
     * @navigation-list
     * @stable [29.05.2020]
     */
    @include rac-navigation-list (
      $rac-navigation-list-icon-width: $rac-navigation-list-icon-width
    );
  }

  /**
   * @media
   * @stable [29.05.2020]
   */
  @media (min-width: $rac-primary-media-query-breakpoint-1-min) and (max-width: $rac-primary-media-query-breakpoint-1-max) {

    /**
     * @drawer
     * @stable [14.05.2020]
     */
    @include rac-navigation-list (
      $rac-navigation-list-icon-width: $rac-navigation-list__media-query-breakpoint-1-min-max__icon-width
    );
  }

  /**
   * @media
   * @stable [29.05.2020]
   */
  @media (min-width: $rac-primary-media-query-breakpoint-0-min) and (max-width: $rac-primary-media-query-breakpoint-0-max) {

    /**
     * @drawer
     * @stable [14.05.2020]
     */
    @include rac-navigation-list (
      $rac-navigation-list-icon-width: $rac-navigation-list__media-query-breakpoint-0-min-max__icon-width
    );
  }
}