@import '../_field-mixin';
@import './_text-field-constant';

.rac {

  /**
   * @base-text-field
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-cls,
    $rac-field-background: $rac-base-text-field-background,
    $rac-field-border-radius: $rac-base-text-field-border-radius,
    $rac-field-overflow: $rac-base-text-field-overflow,
    $rac-field-word-break: $rac-base-text-field-word-break,
    $rac-self-field-background: $rac-base-text-field-self-field-background,
    $rac-self-field-border-radius: $rac-base-text-field-self-field-border-radius,
    $rac-self-field-border: $rac-base-text-field-self-field-border,
    $rac-self-field-height: $rac-base-text-field-self-field-height,
    $rac-self-field-icon-color: $rac-base-text-field-self-field-icon-color,
    $rac-self-field-icon-height: $rac-base-text-field-self-field-icon-height,
    $rac-self-field-icon-padding: $rac-base-text-field-self-field-icon-padding,
    $rac-self-field-input-autofill-transition: $rac-base-text-field-self-field-input-autofill-transition,
    $rac-self-field-input-background: $rac-base-text-field-self-field-input-background,
    $rac-self-field-input-border: $rac-base-text-field-self-field-input-border,
    $rac-self-field-input-caret-bottom: $rac-base-text-field-self-field-input-caret-bottom,
    $rac-self-field-input-caret-font-size: $rac-base-text-field-self-field-input-caret-font-size,
    $rac-self-field-input-caret-position: $rac-base-text-field-self-field-input-caret-position,
    $rac-self-field-input-color: $rac-base-text-field-self-field-input-color,
    $rac-self-field-input-font-size: $rac-base-text-field-self-field-input-font-size,
    $rac-self-field-input-font-weight: $rac-base-text-field-self-field-input-font-weight,
    $rac-self-field-input-line-height: $rac-base-text-field-self-field-input-line-height,
    $rac-self-field-input-mirror-width: $rac-base-text-field-self-field-input-mirror-width,
    $rac-self-field-input-padding: $rac-base-text-field-self-field-input-padding,
    $rac-self-field-input-placeholder-color: $rac-base-text-field-self-field-input-placeholder-color,
    $rac-self-field-input-resize: $rac-base-text-field-self-field-input-resize,
    $rac-self-field-input-width: $rac-base-text-field-self-field-input-width,
    $rac-self-field-input-wrapper-flex-grow: $rac-base-text-field-self-field-input-wrapper-flex-grow,
    $rac-self-field-overflow: $rac-base-text-field-self-field-overflow,
    $rac-self-field-prefix-label-align-items: $rac-base-text-field-self-field-prefix-label-align-items,
    $rac-self-field-prefix-label-color: $rac-base-text-field-self-field-prefix-label-color,
    $rac-self-field-prefix-label-display: $rac-base-text-field-self-field-prefix-label-display,
    $rac-self-field-prefix-label-font-size: $rac-base-text-field-self-field-prefix-label-font-size,
    $rac-self-field-prefix-label-height: $rac-base-text-field-self-field-prefix-label-height,
    $rac-self-field-prefix-label-justify-content: $rac-base-text-field-self-field-prefix-label-justify-content,
    $rac-self-field-prefix-label-position: $rac-base-text-field-self-field-prefix-label-position,
    $rac-self-field-prefix-label-width: $rac-base-text-field-self-field-prefix-label-width
  );

  /**
   * @base-text-field-labeled
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-labeled-cls,
    $rac-self-field-flex-direction: $rac-base-text-field-labeled-self-field-flex-direction,
    $rac-self-field-label-left: $rac-base-text-field-labeled-self-field-label-left,
    $rac-self-field-label-position: $rac-base-text-field-labeled-self-field-label-position,
    $rac-self-field-label-top: $rac-base-text-field-labeled-self-field-label-top,
    $rac-self-field-label-white-space: $rac-base-text-field-labeled-self-field-label-white-space,
    $rac-self-field-label-width: $rac-base-text-field-labeled-self-field-label-width,
    $rac-self-field-margin-top: $rac-base-text-field-labeled-self-field-margin-top,
    $rac-self-field-padding-top: $rac-base-text-field-labeled-self-field-padding-top
  );

  /**
   * @base-text-field-labeled-value-not-present
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-labeled-value-not-present-cls,
    $rac-self-field-margin-top: $rac-base-text-field-labeled-value-not-present-self-field-margin-top
  );

  /**
   * @base-text-field-busy
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-busy-cls,
    $rac-self-field-input-opacity: $rac-base-text-field-busy-self-field-input-opacity
  );

  /**
   * @base-text-field-invalid
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-invalid-cls,
    $rac-self-field-border-color: $rac-base-text-field-invalid-self-field-border-color
  );

  /**
   * @base-text-field-actioned
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-actioned-cls,
    $rac-self-field-input-padding: $rac-base-text-field-actioned-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-actioned-self-field-input-width
  );

  /**
   * @base-text-field-not-changeable
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-cls,
    $rac-self-field-border-bottom: $rac-base-text-field-not-changeable-self-field-border-bottom,
    $rac-self-field-border-left: $rac-base-text-field-not-changeable-self-field-border-left,
    $rac-self-field-border-right: $rac-base-text-field-not-changeable-self-field-border-right
  );

  /**
   * @base-text-field-not-changeable-not-prefixed
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-not-prefixed-cls,
    $rac-self-field-input-padding: $rac-base-text-field-not-changeable-not-prefixed-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-not-changeable-not-prefixed-self-field-input-width
  );

  /**
   * @base-text-field-not-changeable-prefixed
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-prefixed-cls,
    $rac-self-field-input-padding: $rac-base-text-field-not-changeable-prefixed-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-not-changeable-prefixed-self-field-input-width
  );
}