@import '../../constant';
@import '../../mixin';
@import './_text-field-constant';

.rac {

  /**
   * @base-text-field
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-cls,
    $rac-field-background: $rac-base-text-field-background,
    $rac-field-border-radius: $rac-base-text-field-border-radius,
    $rac-field-overflow: $rac-base-text-field-overflow,
    $rac-self-field-background: $rac-base-text-field-self-field-background,
    $rac-self-field-border-radius: $rac-base-text-field-self-field-border-radius,
    $rac-self-field-border: $rac-base-text-field-self-field-border,
    $rac-self-field-height: $rac-base-text-field-self-field-height,
    $rac-self-field-input-caret-font-size: $rac-base-text-self-field-input-caret-font-size,
    $rac-self-field-input-caret-position: $rac-base-text-self-field-input-caret-position,
    $rac-self-field-input-mirror-width: $rac-base-text-self-field-input-mirror-width,
    $rac-self-field-input-padding: $rac-base-text-field-self-field-input-padding,
    $rac-self-field-input-resize: $rac-base-text-field-self-field-input-resize,
    $rac-self-field-input-width: $rac-base-text-field-self-field-input-width,
    $rac-self-field-input-wrapper-flex-grow: $rac-base-text-field-self-field-input-wrapper-flex-grow,
    $rac-self-field-overflow: $rac-base-text-field-self-field-overflow
  );

  /**
   * @base-text-labeled
   * @stable [16.02.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-labeled-cls,
    $rac-self-field-flex-direction: $rac-base-text-field-labeled-self-field-flex-direction,
    $rac-self-field-label-left: $rac-base-text-field-labeled-self-field-label-left,
    $rac-self-field-label-position: $rac-base-text-field-labeled-self-field-label-position,
    $rac-self-field-label-top: $rac-base-text-field-labeled-self-field-label-top,
    $rac-self-field-label-white-space: $rac-base-text-field-labeled-self-field-label-white-space,
    $rac-self-field-label-width: $rac-base-text-field-labeled-self-field-label-width,
    $rac-self-field-margin-top: $rac-base-text-field-labeled-self-field-margin-top,
    $rac-self-field-padding-top: $rac-base-text-field-labeled-self-field-padding-top
  );

  /**
   * @base-text-labeled-value-not-present
   * @stable [16.02.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-labeled-value-not-present-cls,
    $rac-self-field-margin-top: $rac-base-text-labeled-value-not-present-self-field-margin-top
  );

  /**
   * @base-text-field-busy
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-busy-cls,
    $rac-self-field-input-opacity: $rac-base-text-field-busy-self-field-input-opacity
  );

  /**
   * @base-text-field-invalid
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-invalid-cls,
    $rac-self-field-border-color: $rac-base-text-field-invalid-self-field-border-color
  );

  /**
   * @base-text-field-actioned
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-actioned-cls,
    $rac-self-field-input-padding: $rac-base-text-field-actioned-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-actioned-self-field-input-width
  );

  /**
   * @base-text-field-not-changeable
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-cls,
    $rac-self-field-border-bottom: $rac-base-text-field-not-changeable-self-field-border-bottom,
    $rac-self-field-border-left: $rac-base-text-field-not-changeable-self-field-border-left,
    $rac-self-field-border-right: $rac-base-text-field-not-changeable-self-field-border-right
  );

  /**
   * @base-text-field-not-changeable-not-prefixed
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-not-prefixed-cls,
    $rac-self-field-input-padding: $rac-base-text-field-not-changeable-not-prefixed-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-not-changeable-not-prefixed-self-field-input-width
  );

  /**
   * @base-text-field-not-changeable-prefixed
   * @stable [18.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-base-text-field-not-changeable-prefixed-cls,
    $rac-self-field-input-padding: $rac-base-text-field-not-changeable-prefixed-self-field-input-padding,
    $rac-self-field-input-width: $rac-base-text-field-not-changeable-prefixed-self-field-input-width
  );
}