@import '../constant';

// Menu [FRAMEWORK-]
.rac-dnd {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  border: $rac-drop-zone-border-width dashed $rac-drop-zone-border-color;
}