@import '../constant';

// Dnd [FRAMEWORK-][RAC+]
.rac {

  .rac-dnd {
    cursor: pointer;                                                               /* @stable [03.10.2018] */
    text-align: center;                                                            /* @stable [03.10.2018] */
    font-size: $rac-dnd-font-size;                                                 /* @stable [03.10.2018] */
    border: $rac-dnd-border;                                                       /* @stable [03.10.2018] */
    padding: $rac-dnd-padding;                                                     /* @stable [03.10.2018] */
    border-radius: $rac-dnd-border-radius;                                         /* @stable [03.10.2018] */
  }
}