@import '../vue-constant';
@import '../vue-mixin';

.vac {

  .vue-dropzone {

    @include rac-flex-layout(                                                                 /* @stable [27.12.2018] */
      $flex-layout-direction: column,
      $flex-layout-align-items: center,
      $flex-layout-justify-content: center
    );

    .dz-message {                                                                             /* @stable [27.12.2018] */
      color: $vue-dnd-default-message-color;
      text-decoration: $vue-dnd-default-message-text-decoration;
      cursor: $vue-dnd-default-message-cursor;
    }
  }
}