@import '../vue-constant';
@import '../vue-mixin';

.vac {

  .vue-dropzone {

    @include rac-flex-layout(                                                                 /* @stable [27.12.2018] */
      $flex-layout-direction: column,
      $flex-layout-align-items: center,
      $flex-layout-justify-content: center
    );

    @include rac-styles(                                                                      /* @stable [27.12.2018] */
      $rac-styles-custom: vue-dropzone-message,
      $rac-styles-color: $vue-dnd-default-message-color,
      $rac-styles-text-decoration: $vue-dnd-default-message-text-decoration,
      $rac-styles-cursor: $vue-dnd-default-message-cursor
    );
  }
}