@import '../mixin';
@import './page/page-toolbar';

// Toolbar [FRAMEWORK-][RAC+]
.rac {

  @include rac-toolbar(                                                                       /* @stable [31.10.2018] */
    $rac-toolbar-button-margin: $rac-toolbar-button-margin
  );

  @include rac-toolbar(                                                                       /* @stable [07.12.2018] */
    $rac-toolbar-custom: rac-page-toolbar,
    $rac-toolbar-border-top: $rac-page-toolbar-border-top
  );


  .rac-toolbar {
    @include rac-field($rac-field-max-width: $rac-toolbar-field-max-width);             /* @stable [31.10.2018] */
  }
}