@import '../mixin';
@import '../constant';

.rac {

  @include rac-toolbar(                                                                       /* @stable [23.06.2018] */
    $rac-toolbar-button-margin: $rac-toolbar-button-margin,
    $rac-toolbar-field-max-width: $rac-toolbar-field-max-width
  );

  @include rac-toolbar(                                                                       /* @stable [23.06.2018] */
    $rac-toolbar-custom: $rac-page-toolbar-cls,
    $rac-toolbar-border-top: $rac-page-toolbar-border-top,
    $rac-toolbar-pages-margin: $rac-page-toolbar-pages-margin,
    $rac-toolbar-pages-font-size: $rac-page-toolbar-pages-font-size,
    $rac-toolbar-pages-color: $rac-page-toolbar-pages-color,
    $rac-toolbar-icon-color: $rac-page-toolbar-icon-color,
    $rac-toolbar-icon-margin: $rac-page-toolbar-icon-margin
  );
}