@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-flex-align-items-center-align-items: center !default;
$rac-flex-align-items-end-align-items: flex-end !default;
$rac-flex-align-items-stretch-align-items: stretch !default;
$rac-flex-display: $rac-primary-display-0 !default;
$rac-flex-justify-content-center-justify-content: center !default;
$rac-flex-justify-content-end-justify-content: flex-end !default;
$rac-flex-no-shrink-flex-shrink: $rac-primary-flex-shrink-0 !default;
$rac-flex-wrap-flex-wrap: wrap !default;
