@import '../../constant';
@import '../../mixin';

.rac {

  /**
   * @calendar-dialog
   * @stable [14.01.2020]
   */
  @include rac-calendar-dialog (
    $rac-calendar-dialog-body-background: $rac-calendar-dialog-body-background,
    $rac-calendar-dialog-body-content-padding: $rac-calendar-dialog-body-content-padding,
    $rac-calendar-dialog-calendar-body-border-bottom: $rac-calendar-dialog-calendar-body-border-bottom,
    $rac-calendar-dialog-calendar-border-bottom: $rac-calendar-dialog-calendar-border-bottom,
    $rac-calendar-dialog-calendar-day-border-radius: $rac-calendar-dialog-calendar-day-border-radius,
    $rac-calendar-dialog-calendar-day-color: $rac-calendar-dialog-calendar-day-color,
    $rac-calendar-dialog-calendar-day-font-size: $rac-calendar-dialog-calendar-day-font-size,
    $rac-calendar-dialog-calendar-day-size: $rac-calendar-dialog-calendar-day-size,
    $rac-calendar-dialog-calendar-head-border-bottom: $rac-calendar-dialog-calendar-head-border-bottom,
    $rac-calendar-dialog-calendar-head-border-left: $rac-calendar-dialog-calendar-head-border-left,
    $rac-calendar-dialog-calendar-head-border-right: $rac-calendar-dialog-calendar-head-border-right,
    $rac-calendar-dialog-calendar-head-color: $rac-calendar-dialog-calendar-head-color,
    $rac-calendar-dialog-calendar-head-column-content-font-size: $rac-calendar-dialog-calendar-head-column-content-font-size,
    $rac-calendar-dialog-calendar-head-padding: $rac-calendar-dialog-calendar-head-padding,
    $rac-calendar-dialog-calendar-margin: $rac-calendar-dialog-calendar-margin,
    $rac-calendar-dialog-calendar-selected-day-color: $rac-calendar-dialog-calendar-selected-day-color,
    $rac-calendar-dialog-footer-action-background: $rac-calendar-dialog-footer-action-background,
    $rac-calendar-dialog-footer-action-content-color: $rac-calendar-dialog-footer-action-content-color,
    $rac-calendar-dialog-footer-action-height: $rac-calendar-dialog-footer-action-height,
    $rac-calendar-dialog-footer-action-margin: $rac-calendar-dialog-footer-action-margin,
    $rac-calendar-dialog-footer-display: $rac-calendar-dialog-footer-display,
    $rac-calendar-dialog-footer-input-self-field-background: $rac-calendar-dialog-footer-input-self-field-background,
    $rac-calendar-dialog-footer-justify-content: $rac-calendar-dialog-footer-justify-content,
    $rac-calendar-dialog-range-explorer-align-items: $rac-calendar-dialog-range-explorer-align-items,
    $rac-calendar-dialog-range-explorer-button-mini-background: $rac-calendar-dialog-range-button-mini-background,
    $rac-calendar-dialog-range-explorer-button-mini-icon-color: $rac-calendar-dialog-range-button-mini-icon-color,
    $rac-calendar-dialog-range-explorer-button-mini-icon-size: $rac-calendar-dialog-range-button-mini-icon-size,
    $rac-calendar-dialog-range-explorer-date-color: $rac-calendar-dialog-range-explorer-date,
    $rac-calendar-dialog-range-explorer-date-content-flex: $rac-calendar-dialog-range-explorer-date-content-flex,
    $rac-calendar-dialog-range-explorer-date-content-text-align: $rac-calendar-dialog-range-explorer-date-content-text-align,
    $rac-calendar-dialog-range-explorer-date-display: $rac-calendar-dialog-range-explorer-date-display,
    $rac-calendar-dialog-range-explorer-date-flex: $rac-calendar-dialog-range-explorer-date-flex,
    $rac-calendar-dialog-range-explorer-date-font-size: $rac-calendar-dialog-range-explorer-date-font-size,
    $rac-calendar-dialog-range-explorer-display: $rac-calendar-dialog-range-explorer-display,
    $rac-calendar-dialog-range-explorer-flex-direction: $rac-calendar-dialog-range-explorer-flex-direction,
    $rac-calendar-dialog-range-explorer-margin: $rac-calendar-dialog-range-explorer-margin
  );

  /**
   * @date-field-calendar-dialog
   * @stable [14.01.2020]
   */
  @include rac-calendar-dialog (
    $rac-calendar-dialog-custom: rac-date-field__calendar-dialog,
    $rac-calendar-dialog-body-height: $rac-date-field-calendar-dialog-body-height,
    $rac-calendar-dialog-body-width: $rac-date-field-calendar-dialog-body-width,
    $rac-calendar-dialog-footer-action-width: $rac-date-field-calendar-dialog-footer-action-width,
    $rac-calendar-dialog-footer-input-self-field-input-text-align: $rac-date-field-calendar-dialog-footer-input-self-field-input-text-align,
    $rac-calendar-dialog-footer-input-width: $rac-date-field-calendar-dialog-footer-input-width,
    $rac-calendar-dialog-range-explorer-date-justify-content: $rac-date-field-calendar-dialog-range-explorer-date-justify-content
  );

  /**
   * @date-field-calendar-range-dialog
   * @stable [20.01.2020]
   */
  @include rac-calendar-dialog (
    $rac-calendar-dialog-custom: rac-date-field__calendar-range-dialog,
    $rac-calendar-dialog-body-height: $rac-date-field-calendar-range-dialog-body-height,
    $rac-calendar-dialog-body-width: $rac-date-field-calendar-range-dialog-body-width,
    $rac-calendar-dialog-range-calendar-next-margin: $rac-calendar-dialog-range-calendar-next-margin,
    $rac-calendar-dialog-range-calendars-display: $rac-calendar-dialog-range-calendars-display
  );
}