@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [24.03.2020] */
/************************/
$rac-date-field-calendars-dialog-quick-actions-display: $rac-primary-display-0 !default;
$rac-date-field-calendars-dialog-quick-actions-margin: 0 0 $rac-primary-offset-1 0 !default;

/************************/
/* @stable [25.03.2020] */
/************************/
$rac-date-field-navigator-button-decorated-not-filled-mini-icon-size: $rac-primary-icon-size-2 !default;
$rac-date-field-navigator-display: $rac-primary-display-0 !default;
$rac-date-field-navigator-field-margin: 0 $rac-primary-offset-1 !default;
$rac-date-field-navigator-self-field-background: unset !default;
