@import './_chip-constant';
@import './_chip-mixin';

.rac {

  /**
   * @chip
   * @stable [02.06.2020]
   */
  @include rac-chip (
    $rac-chip-align-items: $rac-chip-align-items,
    $rac-chip-background: $rac-chip-background,
    $rac-chip-border-radius: $rac-chip-border-radius,
    $rac-chip-close-background: $rac-chip-close-background,
    $rac-chip-close-content-size: $rac-chip-close-content-size,
    $rac-chip-content-font-size: $rac-chip-content-font-size,
    $rac-chip-content-padding: $rac-chip-content-padding,
    $rac-chip-display: $rac-chip-display,
    $rac-chip-min-height: $rac-chip-min-height
  );
}