@import '../../mixin';
@import './_switch-constant';

.rac {

  /**
   * @switch
   * @stable [03.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-switch-cls,
    $rac-self-field-input-height: $rac-switch-self-field-input-height,
    $rac-self-field-input-width: $rac-switch-self-field-input-width,
    $rac-self-field-input-wrapper-background: $rac-switch-self-field-input-wrapper-background,
    $rac-self-field-input-wrapper-border-radius: $rac-switch-self-field-input-wrapper-border-radius,
    $rac-self-field-input-wrapper-box-shadow: $rac-switch-self-field-input-wrapper-box-shadow
  );

  /**
   * @thumb
   * @stable [03.06.2020]
   */
  @include rac-thumb (
    $rac-thumb-custom: $rac-switch-thumb-cls,
    $rac-thumb-background: $rac-switch-thumb-background,
    $rac-thumb-border-radius: $rac-switch-thumb-border-radius,
    $rac-thumb-checked-disabled-opacity: $rac-switch-thumb-checked-disabled-opacity,
    $rac-thumb-checked-transform: $rac-switch-thumb-checked-transform,
    $rac-thumb-checked-transition: $rac-switch-thumb-checked-transition,
    $rac-thumb-enabled-box-shadow: $rac-switch-thumb-enabled-box-shadow,
    $rac-thumb-position: $rac-switch-thumb-position,
    $rac-thumb-size: $rac-switch-thumb-size,
    $rac-thumb-top: $rac-switch-thumb-top,
    $rac-thumb-unchecked-disabled-opacity: $rac-switch-thumb-unchecked-disabled-opacity,
    $rac-thumb-unchecked-enabled-opacity: $rac-switch-thumb-unchecked-enabled-opacity,
    $rac-thumb-unchecked-transform: $rac-switch-thumb-unchecked-transform,
    $rac-thumb-unchecked-transition: $rac-switch-thumb-unchecked-transition
  );
}