@import './checkbox/_checkbox';
@import './chips-field/_chips-field';
@import './cron-field/_cron-field';
@import './date-field/_date-field';
@import './place-field/_place-field';
@import './select/_select';
@import './switch/_switch';
@import './text-area/_text-area';
@import './text-field/_text-field';
@import './view-field/_view-field';
@import './_field-constant';
@import './_field-mixin';

.rac {

  /**
   * @field
   * @stable [19.06.2020]
   */
  @include rac-field (
    $rac-field-display: $rac-field-display,
    $rac-field-error-message-color: $rac-field-error-message-color,
    $rac-field-flex-direction: $rac-field-flex-direction,
    $rac-field-message-color: $rac-field-message-color,
    $rac-field-message-font-size: $rac-field-message-font-size,
    $rac-field-message-line-height: $rac-field-message-line-height,
    $rac-field-message-margin: $rac-field-message-margin,
    $rac-self-field-background: $rac-self-field-background,
    $rac-self-field-box-sizing: $rac-self-field-box-sizing,
    $rac-self-field-display: $rac-self-field-display,
    $rac-self-field-info-height: $rac-self-field-info-height,
    $rac-self-field-info-position: $rac-self-field-info-position,
    $rac-self-field-info-width: $rac-self-field-info-width,
    $rac-self-field-input-wrapper-display: $rac-self-field-input-wrapper-display,
    $rac-self-field-label-color: $rac-self-field-label-color,
    $rac-self-field-label-font-size: $rac-self-field-label-font-size,
    $rac-self-field-label-font-weight: $rac-self-field-label-font-weight,
    $rac-self-field-label-line-height: $rac-self-field-label-line-height,
    $rac-self-field-label-overflow: $rac-self-field-label-overflow,
    $rac-self-field-label-text-overflow: $rac-self-field-label-text-overflow,
    $rac-self-field-position: $rac-self-field-position
  );

  /**
   * @field-required
   * @stable [19.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-field-required-cls,
    $rac-self-field-label-after-content: $rac-field-required-self-field-label-after-content,
    $rac-self-field-label-after-font-size: $rac-field-required-self-field-label-after-font-size,
    $rac-self-field-label-after-margin-left: $rac-field-required-self-field-label-after-margin-left,
    $rac-self-field-label-after-position: $rac-field-required-self-field-label-after-position,
    $rac-self-field-label-after-right: $rac-field-required-self-field-label-after-right
  );

  // @stable [14.10.2020]
  @include rac-field (
    $rac-field-custom: $rac-field-prevent-focus-cls,
    $rac-self-field-input-cursor: $rac-field-prevent-focus-self-field-input-cursor
  );

  /**
   * @field-disabled
   * @stable [19.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-field-disabled-cls,
    $rac-field-message-opacity: $rac-field-disabled-field-message-opacity,
    $rac-self-field-input-cursor: $rac-field-disabled-self-field-input-cursor,
    $rac-self-field-input-opacity: $rac-field-disabled-self-field-input-opacity,
    $rac-self-field-label-opacity: $rac-field-disabled-self-field-label-opacity,
    $rac-self-field-prefix-label-opacity: $rac-field-disabled-self-field-prefix-label-opacity
  );
}