@import '../constant';
@import './textfield/textfield';
@import './chipsfield/chipsfield';
@import './imagefield/imagefield';

// Field label [FRAMEWORK-]
.rac-form-field-disabled {
  label {
    opacity: $opacity-label;
  }
}

// Form field [FRAMEWORK-]
.rac-form-field {
  .rac-field-input {
    resize: none;
  }

  .rac-menu, .rac-dnd {
    width: 100%;
  }
}

// Form field [FRAMEWORK-]
.rac-textarea-length-label {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 11px;
  color: $color-4;
}