@import '../vue-constant';
@import '../vue-mixin';

.vac {

  @include vue-field(
    $vue-field-input-wrapper-height: 100%
  );

  @include vue-field(
    $vue-field-custom: vue-text-field,
    $vue-field-height: $vue-text-field-height,
    $vue-field-border-radius: $vue-text-field-border-radius
  );

  .vue-field {

    &.vue-text-field {
      border: 1px solid rgba(0, 0, 0, 0.1);

      .vue-field-input {
        border: 0;
        padding: 0 16px;
        background: none;
      }
    }
  }
}