@import '../vue-constant';
@import '../vue-mixin';
@import '../mixin';

.vac {

  @include vue-field(                                                                         /* @stable [25.11.2018] */
    $vue-field-input-wrapper-height: 100%,
    $vue-field-input-wrapper-position: absolute,  /* Make child 100% height*/
    $vue-field-position: relative,
    $vue-field-float-label-color: $vue-field-float-label-color,
    $vue-field-float-label-font-size: $vue-field-float-label-font-size,
    $vue-field-float-label-absolute: true,
    $vue-field-input-border: 0,
    $vue-field-input-background: none
  );

  @include vue-field(                                                                         /* @stable [25.11.2018] */
    $vue-field-custom: vue-text-field,
    $vue-field-height: $vue-text-field-height,
    $vue-field-border-radius: $vue-text-field-border-radius,
    $vue-field-border: $vue-text-field-border,
    $vue-field-input-padding: $vue-text-field-input-padding,
    $vue-field-float-label-padding: $vue-text-field-float-label-padding
  );

  @include vue-field(                                                                         /* @stable [08.12.2018] */
    $vue-field-custom: vue-file-field,
    $vue-field-attachment-wrapper-content-border: $vue-file-field-attachment-wrapper-content-border
  );

  @include vue-field(                                                                         /* @stable [25.11.2018] */
    $vue-field-custom: 'vue-text-field.vue-field-filled',
    $vue-field-input-padding: $vue-text-field-filled-input-padding,
    $vue-field-float-label-padding: $vue-text-field-filled-float-label-padding
  );

  @include vue-field(                                                                         /* @stable [25.11.2018] */
    $vue-field-custom: vue-field-not-filled,
    $vue-field-float-label-display: none
  );
}