@import '../mixin';
@import '../constant';
@import './_calendar-constant';

.rac {

  /**
   * @calendar
   * @stable [04.01.2020]
   */
  @include rac-calendar (
    $rac-calendar-body-background: $rac-calendar-body-background,
    $rac-calendar-body-border: $rac-calendar-body-border,
    $rac-calendar-cell-content-margin: $rac-calendar-cell-content-margin,
    $rac-calendar-cell-content-no-user-select: $rac-calendar-cell-content-no-user-select,
    $rac-calendar-cell-content-width: $rac-calendar-cell-content-width,
    $rac-calendar-cell-padding-left: $rac-calendar-cell-padding-left,
    $rac-calendar-cell-padding-right: $rac-calendar-cell-padding-right,
    $rac-calendar-current-day-font-weight: $rac-calendar-current-day-font-weight,
    $rac-calendar-day-border-radius: $rac-calendar-day-border-radius,
    $rac-calendar-day-color: $rac-calendar-day-color,
    $rac-calendar-day-cursor: $rac-calendar-day-cursor,
    $rac-calendar-day-height: $rac-calendar-day-height,
    $rac-calendar-day-line-height: $rac-calendar-day-line-height,
    $rac-calendar-day-wrapper-padding-bottom: $rac-calendar-day-wrapper-padding-bottom,
    $rac-calendar-day-wrapper-padding-top: $rac-calendar-day-wrapper-padding-top,
    $rac-calendar-head-background: $rac-calendar-head-background,
    $rac-calendar-margin: $rac-calendar-margin,
    $rac-calendar-selected-day-background: $rac-calendar-selected-day-background,
    $rac-calendar-today-color: $rac-calendar-today-color
  );
}