@import '../constant';
@import '../mixin';

.rac {

  /**
   * @calendar
   * @stable [04.01.2020]
   */
  @include rac-calendar (
    $rac-calendar-body-border: $rac-calendar-body-border,
    $rac-calendar-cell-padding-left: $rac-calendar-cell-padding-left,
    $rac-calendar-cell-padding-right: $rac-calendar-cell-padding-right,
    $rac-calendar-current-day-font-weight: $rac-calendar-current-day-font-weight,
    $rac-calendar-day-border-radius: $rac-calendar-day-border-radius,
    $rac-calendar-day-cursor: $rac-calendar-day-cursor,
    $rac-calendar-day-margin: $rac-calendar-day-margin,
    $rac-calendar-day-no-user-select: $rac-calendar-day-no-user-select,
    $rac-calendar-day-size: $rac-calendar-day-size,
    $rac-calendar-day-wrapper-padding-bottom: $rac-calendar-day-wrapper-padding-bottom,
    $rac-calendar-day-wrapper-padding-top: $rac-calendar-day-wrapper-padding-top,
    $rac-calendar-margin: $rac-calendar-margin,
    $rac-calendar-selected-day-background: $rac-calendar-selected-day-background,
    $rac-calendar-today-color: $rac-calendar-today-color
  );
}