@import '../_primary-constant';
@import '../_classes';

// @stable [29.12.2020]
$rac-primary-calendar-size-0: $rac-primary-size-6 !default;

// @stable [29.12.2020]
$rac-calendar-body-background: unset !default;
$rac-calendar-body-border: 0 !default;
$rac-calendar-cell-content-width: $rac-primary-calendar-size-0 !default;
$rac-calendar-cell-padding-left: 0 !default;
$rac-calendar-cell-padding-right: 0 !default;
$rac-calendar-day-color: unset !default;
$rac-calendar-day-cursor: pointer !default;
$rac-calendar-day-height: $rac-primary-calendar-size-0 !default;
$rac-calendar-day-line-height: $rac-primary-calendar-size-0 !default;

/************************/
/* @stable [25.03.2020] */
/************************/
$rac-calendar-dialog-footer-input-width: 148px !default;

/************************/
/* @stable [19.05.2020] */
/************************/
$rac-calendar-selected-day-background: $rac-primary-color-ganymede-0 !default;
