@import '../../constant';

// Navigation list [FRAMEWORK-][RAC+]
.rac {

  .rac-navigation-list {
    overflow: auto;                                                            /* @stable [08.04.2018] */

    .rac-navigation-list-item {
      position: relative;                                                      /* @stable [22.06.2018] */
      height: $rac-navigation-list-item-height;                                /* @stable [22.06.2018] */
      padding-left: $rac-navigation-list-item-padding-left;                    /* @stable [22.06.2018] */
      font-size: $rac-navigation-list-item-font-size;                          /* @stable [22.06.2018] */
      line-height: $rac-navigation-list-item-line-height;                      /* @stable [22.06.2018] */
      letter-spacing: $rac-navigation-list-item-letter-spacing;                /* @stable [22.06.2018] */
      word-break: $rac-navigation-list-item-word-break;                        /* @stable [02.07.2018] */

      &::before,
        &::after {
        display: $rac-navigation-list-item-before-after-display;               /* @mdc @stable [10.08.2018] */
      }

      &:hover {
        background-color: $rac-navigation-list-item-hover-background-color;           /* @stable [10.08.2018] */
        outline: 1px solid $rac-navigation-list-item-hover-outline-color;             /* @stable [10.08.2018] */
      }

      .rac-navigation-list-item-active-border {
        position: absolute;                                                           /* @stable [22.06.2018] */
        left: 0;                                                                      /* @stable [22.06.2018] */
        top: 0;                                                                       /* @stable [22.06.2018] */
        width: $rac-navigation-list-item-active-border-width;                         /* @stable [22.06.2018] */                                                    /* @stable [22.06.2018] */
        height: 100%;                                                                 /* @stable [22.06.2018] */
        background-color: $rac-navigation-list-item-active-border-background-color;   /* @stable [22.06.2018] */
      }

      &.rac-list-item-active {
        color: $rac-navigation-list-item-active-color;                         /* @stable [22.06.2018] */
        background-color: $rac-navigation-list-item-active-background-color;   /* @stable [22.06.2018] */
        outline: 1px solid $rac-navigation-list-item-active-outline-color;     /* @stable [22.06.2018] */
      }

      .rac-icon {
        margin-right: $rac-navigation-list-item-icon-margin-right;             /* @stable [26.04.2018] */
        height: $rac-navigation-list-item-icon-height;                         /* @stable [26.06.2018] */
        width: $rac-navigation-list-item-icon-width;                           /* @stable [26.06.2018] */

        svg {
          height: $rac-navigation-list-item-icon-height;                       /* @stable [26.06.2018] */
          width: $rac-navigation-list-item-icon-width;                         /* @stable [26.06.2018] */
        }
      }
    }
  }
}