@import '~cropperjs/dist/cropper.css';
@import '../../vue-constant';
@import '../../vue-mixin';

.vac {

  @include vue-popup(                                                                         /* @stable [21.01.2019] */
    $vue-popup-custom: $vue-cropper-viewer-popup-cls,
    $vue-popup-padding: $vue-cropper-popup-padding,
    $vue-popup-body-padding: $vue-cropper-popup-body-padding,
    $vue-popup-header-position: $vue-cropper-popup-header-position,
    $vue-popup-header-right: $vue-cropper-popup-header-right,
    $vue-popup-header-top: $vue-cropper-popup-header-top,
    $vue-popup-header-z-index: $vue-cropper-popup-header-z-index,
    $vue-popup-header-border-radius: $vue-cropper-popup-header-border-radius,
    $vue-popup-header-background: $vue-cropper-popup-header-background,
    $vue-popup-header-button-background: $vue-cropper-popup-header-button-background,
    $vue-popup-header-button-padding: $vue-cropper-popup-header-button-padding
  );

  @include vue-cropper-viewer-popup-image-wrapper(                                            /* @stable [21.01.2019] */
    $vue-cropper-viewer-popup-image-wrapper-cropper-line-display: $vue-cropper-viewer-popup-image-wrapper-cropper-line-display,
    $vue-cropper-viewer-popup-image-wrapper-cropper-point-opacity: $vue-cropper-viewer-popup-image-wrapper-cropper-point-opacity,
    $vue-cropper-viewer-popup-image-wrapper-cropper-point-background-color: $vue-cropper-viewer-popup-image-wrapper-cropper-point-background-color,
    $vue-cropper-viewer-popup-image-wrapper-cropper-point-size: $vue-cropper-viewer-popup-image-wrapper-cropper-point-size,
    $vue-cropper-viewer-popup-image-wrapper-cropper-point-ne-e-se-right: $vue-cropper-viewer-popup-image-wrapper-cropper-point-ne-e-se-right,
    $vue-cropper-viewer-popup-image-wrapper-cropper-point-sw-s-se-bottom: $vue-cropper-viewer-popup-image-wrapper-cropper-point-sw-s-se-bottom,
    $vue-cropper-viewer-popup-image-wrapper-cropper-view-box-outline: $vue-cropper-viewer-popup-image-wrapper-cropper-view-box-outline,
    $vue-cropper-viewer-popup-image-wrapper-cropper-view-box-border: $vue-cropper-viewer-popup-image-wrapper-cropper-view-box-border,
    $vue-cropper-viewer-popup-image-wrapper-cropper-dashed-opacity: $vue-cropper-viewer-popup-image-wrapper-cropper-dashed-opacity
  );
}