@import '../../constant';
@import '../../mixin';

.rac {

  /**
   * @cron-field
   * @stable [16.12.2019]
   */
  @include rac-field (
    $rac-field-custom: $rac-cron-field-cls,
    $rac-self-field-input-wrapper-flex: $rac-cron-field-self-field-input-wrapper-flex
  );

  /**
   * @cron-field-labeled
   * @stable [16.12.2019]
   */
  @include rac-field (
    $rac-field-custom: $rac-cron-field-labeled-cls,
    $rac-self-field-label-position: $rac-cron-field-labeled-self-field-label-position,
    $rac-self-field-label-top: $rac-cron-field-labeled-self-field-label-top
  );

  /**
   * @cron-days
   * @stable [16.12.2019]
   */
  @include rac-cron-days (
    $rac-cron-days-background: $rac-cron-days-background,
    $rac-cron-days-border-radius: $rac-cron-days-border-radius,
    $rac-cron-days-display: $rac-cron-days-display,
    $rac-cron-days-flex: $rac-cron-days-flex,
    $rac-cron-days-padding: $rac-cron-days-padding
  );

  /**
   * @cron-calendar
   * @stable [04.01.2020]
   */
  @include rac-calendar (
    $rac-calendar-custom: rac-cron-calendar,
    $rac-calendar-selected-day-background: $rac-cron-calendar-selected-day-background
  );
}
