@import '../../vue-constant';
@import '../../vue-mixin';

.vac {

  @include vue-cyclic-viewer(                                                                 /* @stable [29.01.2019] */
    $vue-cyclic-viewer-footer-height: $vue-cyclic-viewer-footer-height,
    $vue-cyclic-viewer-index-info-font-size: $vue-cyclic-viewer-index-info-font-size,
    $vue-cyclic-viewer-index-info-white-space: $vue-cyclic-viewer-index-info-white-space,
    $vue-cyclic-viewer-footer-button-background: $vue-cyclic-viewer-footer-button-background,
    $vue-cyclic-viewer-footer-button-padding: $vue-cyclic-viewer-footer-button-padding,
    $vue-cyclic-viewer-footer-button-height: $vue-cyclic-viewer-footer-button-height
  );
}