@import '../constant';
@import './column/grid-column';

// Grid [FRAMEWORK-][RAC+]
.rac {

  .rac-grid {
    color: $rac-grid-color;                                         /* @stable [21.06.2018] */
    border-collapse: collapse;                                      /* @stable [21.06.2018] */

    .rac-grid-column {
      padding-right: 12px;                                          /* @stable [21.06.2018] */
      padding-left: 4px;                                            /* @stable [21.06.2018] */

      .rac-grid-column-content {
        width: 100%;                                                /* @stable [21.06.2018] */
        vertical-align: middle;                                     /* @stable [21.06.2018] */
        letter-spacing: $rac-grid-column-content-letter-spacing;    /* @stable [22.06.2018] */
        font-size: $rac-grid-column-content-font-size;              /* @stable [22.06.2018] */

        .rac-picture {
          width: $rac-grid-column-content-picture-width;            /* @stable [23.06.2018] */
          max-height: $rac-grid-column-content-picture-width;       /* @stable [23.06.2018] */
          vertical-align: middle;                                   /* @stable [23.06.2018] */
        }
      }

      .rac-icon {
        font-size: $rac-grid-icon-size;                   /* @stable [21.06.2018] */
        width: $rac-grid-icon-size;                       /* @stable [21.06.2018] */
        height: $rac-grid-icon-size;                      /* @stable [21.06.2018] */
        line-height: $rac-grid-icon-line-height;          /* @stable [21.06.2018] */
      }

      &.rac-grid-actioned-column {

        .rac-icon {
          color: $rac-grid-actioned-color;                  /* @stable [22.06.2018] */
          cursor: pointer;                                  /* @stable [22.06.2018] */
          font-size: $rac-grid-actioned-icon-size;          /* @stable [21.06.2018] */
          width: $rac-grid-actioned-icon-size;              /* @stable [21.06.2018] */
          height: $rac-grid-actioned-icon-size;             /* @stable [21.06.2018] */
          line-height: $rac-grid-actioned-icon-line-height; /* @stable [21.06.2018] */
          margin-right: 8px;                                /* @stable [22.06.2018] */
        }
      }
    }

    .rac-grid-head {
      padding: 20px 16px 8px 16px;                        /* @stable [21.06.2018] */

      .rac-grid-column {
        text-align: left;                                 /* @stable [21.06.2018] */
        white-space: nowrap;                              /* @stable [21.06.2018] */
        font-weight: 400;                                 /* @stable [21.06.2018] */

        .rac-grid-column-direction {
          margin-left: 4px;                               /* @stable - 05.04.2018 */
          vertical-align: bottom;                         /* @stable - 05.04.2018 */
        }

        .rac-grid-column-content {
          text-transform: uppercase;                      /* @stable [21.06.2018] */
        }
      }
    }

    .rac-grid-body {
      padding: 0 16px 16px 16px;                          /* @stable [21.06.2018] */
      overflow: auto;                                     /* @stable [21.06.2018] */

      .rac-grid-column {
        padding-top: 12px;                                /* @stable [21.06.2018] */
        padding-bottom: 12px;                             /* @stable [21.06.2018] */
      }
    }

    .rac-grid-row {
      display: table;                                                        /* @stable [21.06.2018] */
      table-layout: fixed;                                                   /* @stable [21.06.2018] */
      width: 100%;                                                           /* @stable [21.06.2018] */
      cursor: default;                                                       /* @stable [21.06.2018] */
      padding: 8px 16px;                                                     /* @stable [21.06.2018] */

      &.rac-grid-data-row {

        &.rac-grid-data-row-odd {
          background-color: $rac-grid-data-row-odd-background-color;         /* @stable [21.06.2018] */
        }

        &.rac-grid-row-selected {
          font-weight: bold;
          background-color: $rac-grid-data-row-selected-background-color;    /* @stable [21.06.2018] */
        }

        &:hover {
          background-color: $rac-grid-data-row-hover-background-color;       /* @stable [09.06.2018] */
        }
      }
    }
  }

  .rac-grid-container-wrapper {

    .rac-grid {

      .rac-grid-row {
        &.rac-grid-data-row {

          &:last-child {
            border-bottom: none;              /* @stable - 05.04.2018 */
          }
        }

        .rac-icon-avatar-image {
          width: 40px;                        /* @stable [08.06.2018] */
          height: 40px;                       /* @stable [08.06.2018] */
        }
      }
    }
  }

  .rac-grid-service-wrapper {

    border-left: 1px solid $color-3;          /* @stable - 05.04.2018 */

    .rac-grid-service {
      padding-top: 8px;                       /* @stable - 05.04.2018 */
    }
  }
}