@import '~sass-flex-mixin/_flex';
@import '../constant';
@import './time-grid';
@import './tight-grid';
@import './column/grid-column';

// Grid [FRAMEWORK-][RAC+]
.rac {

  .rac-grid {
    color: $rac-grid-color;                                                         /* @stable [21.06.2018] */
    border-collapse: collapse;                                                      /* @stable [21.06.2018] */

    .rac-grid-column {
      line-height:  $rac-grid-column-line-height;                                   /* @stable [15.09.2018] */
      padding-right: $rac-grid-column-padding-right;                                /* @stable [15.09.2018] */
      padding-left: $rac-grid-column-padding-left;                                  /* @stable [15.09.2018] */

      &.rac-grid-column-edited {

        .rac-grid-column-content {
          &::after {
            position: absolute;                                                     /* @stable [04.07.2018] */
            height: 0;                                                              /* @stable [04.08.2018] */
            right: $rac-grid-edited-column-content-right;                           /* @stable [04.07.2018] */
            top: $rac-grid-edited-column-content-top;                               /* @stable [04.07.2018] */
            font-size: $rac-grid-edited-column-content-font-size;                   /* @stable [04.07.2018] */
            content: '◹';                                                           /* @stable [04.07.2018] */
            color: $rac-grid-edited-column-content-color;                           /* @stable [04.07.2018] */
          }
        }
      }

      &.rac-grid-column-align-center {

        .rac-grid-column-content {

          .rac-field {

            .rac-self-field-wrapper {
              @include justify-content(center);                                     /* @stable [04.10.2018] */
            }
          }
        }
      }

      .rac-grid-column-content {
        position: relative;                                                         /* @stable [04.07.2018] */
        width: 100%;                                                                /* @stable [21.06.2018] */
        overflow: hidden;                                                           /* @stable [26.09.2018] */
        vertical-align: middle;                                                     /* @stable [21.06.2018] */
        letter-spacing: $rac-grid-column-content-letter-spacing;                    /* @stable [22.06.2018] */
        font-size: $rac-grid-column-content-font-size;                              /* @stable [22.06.2018] */

        .rac-field {

          .rac-text-field {
            margin-bottom: 0;                                                       /* @stable [06.10.2018] */
            margin-top: 0;                                                          /* @stable [06.10.2018] */
            border-color: $rac-grid-column-content-text-field-border-color;         /* @stable [04.10.2018] */
          }
        }

        .rac-button {
          height: $rac-grid-column-content-button-height;                           /* @stable [09.10.2018] */
          color: $rac-grid-column-content-button-color;                             /* @stable [11.10.2018] */
          background: $rac-grid-column-content-button-background;                   /* @stable [11.10.2018] */
        }
      }

      .rac-icon {
        display: inline-block;                                                      /* @stable [25.06.2018] */
        width: $rac-grid-icon-size;                                                 /* @stable [21.06.2018] */
        height: $rac-grid-icon-size;                                                /* @stable [21.06.2018] */
        line-height: $rac-grid-icon-line-height;                                    /* @stable [21.06.2018] */
      }

      &.rac-grid-actioned-column {

        .rac-icon {
          color: $rac-grid-actioned-color;                                          /* @stable [22.06.2018] */
          cursor: pointer;                                                          /* @stable [22.06.2018] */
          width: $rac-grid-actioned-icon-size;                                      /* @stable [21.06.2018] */
          height: $rac-grid-actioned-icon-size;                                     /* @stable [21.06.2018] */
        }
      }
    }

    .rac-grid-head {
      border-radius: $rac-grid-head-border-radius;                           /* @stable [13.09.2018] */
      color: $rac-grid-head-color;                                           /* @stable [13.09.2018] */
      background: $rac-grid-head-background;                                 /* @stable [13.09.2018] */

      .rac-grid-filter-row {

        .rac-grid-column {
          padding-top: $rac-grid-head-filter-row-column-padding-top;         /* @stable [06.10.2018] */
          padding-bottom: $rac-grid-head-filter-row-column-padding-bottom;   /* @stable [06.10.2018] */

          .rac-grid-column-content {

            .rac-field {

              .rac-text-field {
                height: $rac-grid-head-filter-row-text-field-height;         /* @stable [06.10.2018] */

                .rac-field-input {
                  color: $rac-grid-head-color;                               /* @stable [06.10.2018] */

                  &::placeholder {
                    color: $rac-grid-head-color;                             /* @stable [09.10.2018] */
                  }
                }

                .rac-icon {
                  &.rac-action-icon {
                    color: $rac-grid-head-color;                             /* @stable [06.10.2018] */
                  }
                }
              }
            }
          }
        }
      }

      .rac-grid-column {
        text-align: left;                                       /* @stable [21.06.2018] */
        white-space: nowrap;                                    /* @stable [21.06.2018] */
        font-weight: 400;                                       /* @stable [21.06.2018] */
        padding-top: $rac-grid-head-column-padding-top;         /* @stable [15.09.2018] */
        padding-bottom: $rac-grid-head-column-padding-bottom;   /* @stable [15.09.2018] */

        .rac-grid-column-direction {
          margin-left: 4px;                                     /* @stable - 05.04.2018 */
          vertical-align: bottom;                               /* @stable - 05.04.2018 */
        }

        .rac-grid-column-content {
          white-space: normal;                                      /* @stable [17.08.2018] */
          font-size: $rac-grid-head-column-content-font-size;       /* @stable [26.09.2018] */
          font-weight: $rac-grid-head-column-content-font-weight;   /* @stable [27.09.2018] */
        }
      }
    }

    .rac-grid-body {
      overflow: $rac-grid-body-overflow;                                     /* @stable [17.10.2018] */

      .rac-grid-column {
        padding-top: $rac-grid-body-column-padding-top;                      /* @stable [15.09.2018] */
        padding-bottom: $rac-grid-body-column-padding-bottom;                /* @stable [15.09.2018] */
      }
    }

    .rac-grid-row {
      display: table;                                                        /* @stable [21.06.2018] */
      table-layout: fixed;                                                   /* @stable [21.06.2018] */
      width: 100%;                                                           /* @stable [21.06.2018] */
      cursor: default;                                                       /* @stable [21.06.2018] */
      padding: $rac-grid-row-padding;                                        /* @stable [06.10.2018] */

      &.rac-grid-filter-row {
        background: $rac-grid-filter-row-background;                         /* @stable [16.09.2018] */
        border-bottom: $rac-grid-filter-row-border-bottom;                   /* @stable [16.09.2018] */
      }

      &.rac-grid-data-row {

        &.rac-grid-data-row-odd {
          background-color: $rac-grid-data-row-odd-background-color;                    /* @stable [21.06.2018] */

          .rac-grid-column {

            .rac-grid-column-content {

              .rac-button {
                background: $rac-grid-data-row-odd-column-content-button-background;    /* @stable [11.10.2018] */
              }
            }
          }
        }

        &.rac-grid-data-row-selectable {
          cursor: pointer;                                                   /* @stable [04.10.2018] */
        }

        &.rac-grid-data-row-grouped {
          font-weight: $rac-grid-data-row-grouped-font-weight;               /* @stable [01.09.2018] */
          background: $rac-grid-data-row-grouped-background;                 /* @stable [27.06.2018] */
          color: $rac-grid-data-row-grouped-color;                           /* @stable [05.10.2018] */

          &.rac-grid-data-row-group-expanded {
            background: $rac-grid-data-row-group-expanded-background;           /* @stable [10.10.2018] */
          }

          .rac-grid-data-row-group-expanded-icon {
            margin-right: $rac-grid-data-row-group-expanded-icon-margin-right;  /* @stable [10.10.2018] */
            flex-shrink: 0;                                                     /* @stable [10.10.2018] */
          }
        }

        &.rac-grid-row-selected {
          font-weight: $rac-grid-data-row-selected-font-weight;                 /* @stable [01.09.2018] */
          background: $rac-grid-data-row-selected-background;                   /* @stable [21.06.2018] */
        }

        &:hover {

          &.rac-grid-data-row-hovered {
            background: $rac-grid-data-row-hover-background;                              /* @stable [04.10.2018] */
          }

          .rac-grid-column {

            .rac-grid-column-content {

              .rac-button {
                color: $rac-grid-data-row-hover-column-content-button-color;              /* @stable [11.10.2018] */
                background: $rac-grid-data-row-hover-column-content-button-background;    /* @stable [11.10.2018] */
              }
            }
          }
        }
      }
    }
  }

  .rac-grid-service-wrapper {
    border-left: 1px solid $rac-grid-service-wrapper-border-left-color;      /* @stable [09.06.2018] */
    min-width: $rac-grid-service-wrapper-width;                              /* @stable [11.09.2018] */

    .rac-grid-service {
      padding-top: 8px;                                                      /* @stable [11.09.2018] */
    }

    .rac-icon {
      margin-left: auto;                                                     /* @stable [12.08.2018] */
      margin-right: auto;                                                    /* @stable [12.08.2018] */
    }
  }
}