@import '../constant';

// Time Grid [FRAMEWORK-][RAC+]
.rac {

  .rac-grid {

    &.rac-time-grid {
      width: min-content;                                                                   /* @stable [11.09.2018] */

      .rac-grid-head {

        .rac-time-grid-time-header-column {

          .rac-grid-column-content {
            letter-spacing: $rac-time-grid-time-header-column-content-letter-spacing;       /* @stable [19.09.2018] */                                                          /* @stable [11.09.2018] */
          }
        }
      }

      .rac-grid-body {
        overflow: hidden;                                                                   /* @stable [14.09.2018] */

        .rac-grid-column {
          cursor: pointer;                                                                  /* @stable [27.09.2018] */
        }
      }

      .rac-grid-row {

        &.rac-grid-data-row {

          &:hover {
            background: none;                                                               /* @stable [11.09.2018] */
          }

          &.rac-grid-row-odd {
            background: none;                                                               /* @stable [11.09.2018] */

            .rac-grid-column {

              &.rac-time-grid-column {
                background-color: #f3f3f3;

                &.rac-grid-column-odd {
                  background-color: $color-5;
                }
              }
            }
          }

          .rac-grid-column {

            &.rac-time-grid-column {
              background-color: #e6e6e6;

              &:hover {
                background-color: $rac-time-grid-column-hover-background-color;             /* @stable [11.09.2018] */
              }

              &.rac-grid-column-odd {
                background-color: $color-22;

                &:hover {
                  background-color: $rac-time-grid-column-hover-background-color;           /* @stable [11.09.2018] */
                }
              }
            }
          }
        }
      }

      .rac-grid-column {
        padding: 4px 0;                                                                     /* @stable [15.09.2018] */
      }
    }
  }
}