@import '~@material/button/mdc-button';
@import '../../constant';

// Field button [MDC+]
.rac-text-field {
  .rac-button {
    padding-bottom: 4px;
    padding-right: 0;
    color: $color-2;
  }
}

// Header field button [MDC+]
.rac-header {
  .rac-text-field {
    .rac-button {
      padding-top: 12px;
    }
  }
}

// Button icon [MDC+]
.rac-button {
  .material-icons {
    margin-right: 4px;
    vertical-align: middle;
  }

  &.mdc-fab {
    border-radius: 50%;
  }
}

// Button theme [MDC+]
.rac-button {
  &.mdc-button--accent {
    @include mdc-button-container-fill-color($rac-button-background-color);
  }
}