@import '../constant';
@import '../mixin';

.rac {

  @include rac-overlay(                                                                       /* @stable [13.01.2019] */
    $rac-overlay-opacity: $rac-overlay-opacity,
    $rac-overlay-background: $rac-overlay-background,
    $rac-overlay-close-action-position: $rac-overlay-close-action-position,
    $rac-overlay-close-action-top: $rac-overlay-close-action-top,
    $rac-overlay-close-action-right: $rac-overlay-close-action-right,
    $rac-overlay-close-action-size: $rac-overlay-close-action-size,
    $rac-overlay-close-action-color: $rac-overlay-close-action-color
  );
}