@import './_core-mixin';
@import './_core-constant';
@import './icon/_icon-mixin';

.rac {

  & * {
    /**
    * @base
    * @stable [19.02.2020]
    */
    @include rac-styles (
      $rac-styles-color: $rac-base-color,
      $rac-styles-font-family: $rac-base-font-family,
      $rac-styles-font-size: $rac-base-font-size,
      $rac-styles-font-weight: $rac-base-font-weight
    );
  }

  /**
   * @layout
   * @stable [18.11.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-margin-left-auto,
    $rac-styles-margin-left: $rac-margin-left-auto-margin-left
  );

  /**
   * @layout
   * @stable [18.11.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-margin-right-auto,
    $rac-styles-margin-right: $rac-margin-right-auto-margin-right
  );

  /**
   * @layout
   * @stable [10.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-full-size,
    $rac-styles-height: $rac-full-size-height,
    $rac-styles-width: $rac-full-size-width
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-absolute,
    $rac-styles-left: $rac-absolute-left,
    $rac-styles-position: $rac-absolute-position,
    $rac-styles-top: $rac-absolute-top
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-fixed,
    $rac-styles-left: $rac-fixed-left,
    $rac-styles-position: $rac-fixed-position,
    $rac-styles-top: $rac-fixed-top
  );

  /**
   * @layout
   * @stable [15.02.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-relative,
    $rac-styles-position: $rac-relative-position
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-alignment-center (
    $rac-alignment-center-left: $rac-alignment-center-left,
    $rac-alignment-center-position: $rac-alignment-center-position,
    $rac-alignment-center-top: $rac-alignment-center-top
  );

  /**
   * @layout
   * @stable [16.02.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-one-quarter,
    $rac-styles-flex-basis:  $rac-flex-one-quarter-flex-basis,
    $rac-styles-flex-grow: $rac-flex-one-quarter-flex-grow
  );

  /**
   * @layout
   * @stable [16.02.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-one-third,
    $rac-styles-flex-basis:  $rac-flex-one-third-flex-basis,
    $rac-styles-flex-grow: $rac-flex-one-third-flex-grow
  );

  /**
   * @layout
   * @stable [04.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-half,
    $rac-styles-flex-basis:  $rac-flex-half-flex-basis,
    $rac-styles-flex-grow: $rac-flex-half-flex-grow
  );

  /**
   * @layout
   * @stable [01.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-three-quarters,
    $rac-styles-flex-basis:  $rac-flex-three-quarters-flex-basis,
    $rac-styles-flex-grow: $rac-flex-three-quarters-flex-grow
  );

  /**
   * @layout
   * @stable [08.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-x1,
    $rac-styles-flex-basis: $rac-flex-x1-flex-basis,
    $rac-styles-flex-grow: $rac-flex-x1-flex-grow
  );

  /**
   * @layout
   * @stable [08.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-x2,
    $rac-styles-flex-basis: $rac-flex-x2-flex-basis,
    $rac-styles-flex-grow: $rac-flex-x2-flex-grow
  );

  /**
   * @layout
   * @stable [08.04.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-x3,
    $rac-styles-flex-basis: $rac-flex-x3-flex-basis,
    $rac-styles-flex-grow: $rac-flex-x3-flex-grow
  );

  // @layout
  // @stable [08.04.2020]
  @include rac-styles (
    $rac-styles-custom: rac-flex-x4,
    $rac-styles-flex-basis: $rac-flex-x4-flex-basis,
    $rac-styles-flex-grow: $rac-flex-x4-flex-grow
  );

  // @layout
  // @stable [16.02.2021]
  @include rac-styles (
    $rac-styles-custom: rac-flex-basis-1,
    $rac-styles-flex-basis: $rac-flex-basis-1-flex-basis
  );

  // @error
  // @stable [30.09.2019]
  @include rac-styles (
    $rac-styles-custom: rac-window-error-wrapper,
    $rac-styles-background: $rac-window-error-wrapper-background,
    $rac-styles-z-index: $rac-window-error-wrapper-z-index
  );

  // @error
  // @stable [07.10.2019]
  @include rac-styles (
    $rac-styles-custom: rac-window-error,
    $rac-styles-min-width: $rac-window-error-min-width
  );

  // @error
  // @stable [07.10.2019]
  @include rac-styles (
    $rac-styles-custom: rac-window-error-restart-action,
    $rac-styles-margin: $rac-window-error-restart-action-margin,
    $rac-styles-min-width: $rac-window-error-restart-action-min-width
  );

  // @sticky
  // @stable [16.10.2019]
  @include rac-styles (
    $rac-styles-custom: rac-sticky-fixed,
    $rac-styles-z-index: $rac-sticky-fixed-z-index,
    $rac-styles-position: $rac-sticky-fixed-position
  );

  // @user-select
  // @stable [17.10.2019]
  @include rac-styles (
    $rac-styles-custom: rac-no-user-select,
    $rac-styles-no-user-select: true
  );

  // @styling
  // @stable [03.01.2020]
  @include rac-styles (
    $rac-styles-custom: rac-nowrap,
    $rac-styles-white-space: $rac-nowrap-white-space
  );

  // @styling
  // @stable [18.10.2019]
  @include rac-styles (
    $rac-styles-custom: rac-strong,
    $rac-styles-font-weight: $rac-strong-font-weight
  );

  // @styling
  // @stable [21.12.2019]
  @include rac-styles (
    $rac-styles-custom: rac-break-word,
    $rac-styles-word-break: $rac-break-word-word-break
  );

  /**
   * @styling
   * @stable [15.06.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-invisible,
    $rac-styles-left: $rac-invisible-left,
    $rac-styles-position: $rac-invisible-position,
    $rac-styles-top: $rac-invisible-top
  );

  /**
   * @styling
   * @stable [15.06.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-display-none,
    $rac-styles-display: $rac-display-none-display
  );

  // @styling
  // @stable [15.06.2020]
  @include rac-styles (
    $rac-styles-custom: rac-visibility-hidden,
    $rac-styles-visibility: $rac-visibility-hidden-visibility
  );

  // @styling
  // @stable [18.10.2020]
  @include rac-styles (
    $rac-styles-custom: rac-transparent,
    $rac-styles-opacity: $rac-transparent-opacity
  );

  /**
   * @styling
   * @stable [08.03.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-overflow-hidden,
    $rac-styles-overflow: hidden
  );

  /**
   * @styling
   * @stable [04.01.2020]
   */
  @include rac-styles (
    $rac-styles-custom: rac-cursor-pointer,
    $rac-styles-cursor: pointer
  );

  /**
   * @icon
   * @stable [09.11.2019]
   */
  @include rac-icon (
    $rac-icon-align-items: $rac-icon-align-items,
    $rac-icon-content-height: $rac-icon-content-height,
    $rac-icon-content-width: $rac-icon-content-width,
    $rac-icon-display: $rac-icon-display,
    $rac-icon-flex-shrink: $rac-icon-flex-shrink,
    $rac-icon-justify-content: $rac-icon-justify-content,
    $rac-icon-size: $rac-icon-size
  );

  /**
   * @application-message
   * @stable [02.06.2020]
   */
  @include rac-message (
    $rac-message-custom: rac-application-message,
    $rac-message-background-size: $rac-application-message-background-size,
    $rac-message-background: $rac-application-message-background,
    $rac-message-body-color: $rac-application-message-body-color,
    $rac-message-body-font-size: $rac-application-message-body-font-size
  );
}

// @perfect-scrollbar
// @stable [02.06.2020]
@include rac-perfect-scrollbar (
  $rac-perfect-scrollbar-custom: rac,
  $rac-perfect-scrollbar-active-background-color: $rac-perfect-scrollbar-active-background-color,
  $rac-perfect-scrollbar-background-color: $rac-perfect-scrollbar-background-color,
  $rac-perfect-scrollbar-rail-background-color: $rac-perfect-scrollbar-rail-background-color
);

// @scrollbar
// @stable [02.06.2020]
@include rac-scrollbar (
  $rac-scrollbar-size: $rac-scrollbar-size,
  $rac-scrollbar-thumb-background: $rac-scrollbar-thumb-background,
  $rac-scrollbar-track-background: $rac-scrollbar-track-background
);