@import './_primary-constant';

/************************/
/* @stable [08.04.2020] */
/************************/
$rac-base-color: unset !default;
$rac-base-font-family: unset !default;
$rac-base-font-size: unset !default;

/************************/
/* @stable [08.04.2020] */
/************************/
$rac-alignment-center-left: 50% !default;
$rac-alignment-center-position: absolute !default;
$rac-alignment-center-top: 50% !default;

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-margin-left-auto-margin-left: auto !default;
$rac-margin-right-auto-margin-right: auto !default;

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-full-size-height: 100% !default;
$rac-full-size-width: 100% !default;

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-strong-font-weight: $rac-primary-font-weight-2 !default;

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-break-word-word-break: break-word !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-nowrap-white-space: nowrap !default;

/************************/
/* @stable [10.04.2020] */
/************************/
$rac-absolute-left: 0 !default;
$rac-absolute-position: absolute !default;
$rac-absolute-top: 0 !default;
/**/
$rac-fixed-left: 0 !default;
$rac-fixed-position: fixed !default;
$rac-fixed-top: 0 !default;
/**/
$rac-relative-position: relative !default;

/************************/
/* @stable [08.04.2020] */
/************************/
$rac-window-error-min-width: 70vw !default;
$rac-window-error-restart-action-margin: 0 auto !default;
$rac-window-error-restart-action-min-width: unset !default;
$rac-window-error-wrapper-background: $rac-primary-color-elara-0 !default;
$rac-window-error-wrapper-z-index: $rac-primary-z-index-max !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-icon-align-items: center !default;
$rac-icon-content-height: 100% !default;
$rac-icon-content-width: 100% !default;
$rac-icon-display: $rac-primary-display-2 !default;
$rac-icon-flex-shrink: $rac-primary-flex-shrink-0 !default;
$rac-icon-justify-content: center !default;
$rac-icon-size: $rac-primary-icon-size-2 !default;

/************************/
/* @stable [08.04.2020] */
/************************/
$rac-flex-one-quarter-flex-basis:  $rac-primary-flex-basis-0 !default;
$rac-flex-one-quarter-flex-grow: .25 !default;
/**/
$rac-flex-one-third-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-one-third-flex-grow: .333 !default;
/**/
$rac-flex-half-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-half-flex-grow: .5 !default;
/**/
$rac-flex-three-quarters-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-three-quarters-flex-grow: .75 !default;
/**/
$rac-flex-x1-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-x1-flex-grow: 1 !default;
/**/
$rac-flex-x2-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-x2-flex-grow: 2 !default;
/**/
$rac-flex-x3-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-x3-flex-grow: 3 !default;
/**/
$rac-flex-x4-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-flex-x4-flex-grow: 4 !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-perfect-scrollbar-active-background-color: unset !default;
$rac-perfect-scrollbar-background-color: unset !default;
$rac-perfect-scrollbar-rail-background-color: unset !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-application-message-body-color: unset !default;
$rac-application-message-body-font-size: unset !default;
$rac-application-message-wrapper-background-size: unset !default;
$rac-application-message-wrapper-background: unset !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-sticky-fixed-position: fixed !default;
$rac-sticky-fixed-z-index: $rac-primary-z-index-0 !default;
