@import './constant';
@import './mixin';

.rac {

  /**
   * @layout
   * @stable [18.11.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-margin-left-auto,
    $rac-styles-margin-left: auto
  );

  /**
   * @layout
   * @stable [18.11.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-margin-right-auto,
    $rac-styles-margin-right: auto
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-full-size,
    $rac-styles-height: 100%,
    $rac-styles-width: 100%
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-absolute,
    $rac-styles-position: absolute,
    $rac-styles-top: 0,
    $rac-styles-left: 0
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-fixed,
    $rac-styles-position: fixed,
    $rac-styles-top: 0,
    $rac-styles-left: 0
  );

  /**
   * @layout
   * @stable [30.09.2019]
   */
  @include rac-alignment-center (
    $rac-alignment-center-top: $rac-alignment-center-top,
    $rac-alignment-center-left: $rac-alignment-center-left,
    $rac-alignment-center-position: $rac-alignment-center-position
  );

  /**
   * @error
   * @stable [30.09.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-window-error-wrapper,
    $rac-styles-background: $rac-window-error-wrapper-background,
    $rac-styles-z-index: $rac-window-error-wrapper-z-index
  );

  /**
   * @error
   * @stable [07.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-window-error,
    $rac-styles-min-width: $rac-window-error-min-width
  );

  /**
   * @error
   * @stable [07.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-window-error-restart-action,
    $rac-styles-margin: $rac-window-error-restart-action-margin,
    $rac-styles-min-width: $rac-window-error-restart-action-min-width
  );

  /**
   * @sticky
   * @stable [16.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-sticky-fixed,
    $rac-styles-z-index: $rac-sticky-fixed-z-index,
    $rac-styles-position: $rac-sticky-fixed-position
  );

  /**
   * @user-select
   * @stable [17.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-no-user-select,
    $rac-styles-no-user-select: true
  );

  /**
   * @styling
   * @stable [18.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-strong,
    $rac-styles-font-weight: $rac-font-weight-2
  );

  /**
   * @styling
   * @stable [25.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-invisible,
    $rac-styles-position: absolute !important,
    $rac-styles-top: -10000px,
    $rac-styles-left: -10000px
  );

  /**
   * @styling
   * @stable [24.11.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-display-none,
    $rac-styles-display: none !important
  );

  /**
   * @icon
   * @stable [09.11.2019]
   */
  @include rac-icon (
    $rac-icon-content-height: $rac-icon-content-height,
    $rac-icon-content-vertical-align: $rac-icon-content-vertical-align,
    $rac-icon-content-width: $rac-icon-content-width,
    $rac-icon-flex-shrink: $rac-icon-flex-shrink,
    $rac-icon-size: $rac-icon-size
  );

  /**
   * @application-message
   * @stable [28.11.2019]
   */
  @include rac-message-wrapper (
    $rac-message-wrapper-custom: rac-application-message-wrapper,
    $rac-message-body-color: $rac-application-message-body-color,
    $rac-message-body-font-size: $rac-application-message-body-font-size,
    $rac-message-wrapper-background-size: $rac-application-message-wrapper-background-size,
    $rac-message-wrapper-background: $rac-application-message-wrapper-background
  );
}