/************************/
/* @stable [17.03.2020] */
/************************/
$rac-primary-flex-0: 0 0 auto !default;
$rac-primary-flex-grow-0: 1 !default;
/**/
$rac-primary-flex-basis-0: 0 !default;
$rac-primary-flex-basis-1: 0% !default;

/************************/
/* @stable [17.03.2020] */
/************************/
$rac-primary-display-0: flex !default;
$rac-primary-display-1: block !default;

/************************/
/* @stable [18.03.2020] */
/************************/
$rac-primary-line-height-0: 1.14 !default;
$rac-primary-line-height-1: 1.33 !default;

/************************/
/* @stable [18.03.2020] */
/************************/
$rac-primary-margin-0: 0 auto !default;

/************************/
/* @stable [18.03.2020] */
/************************/
$rac-primary-font-size-0: 12px !default;
$rac-primary-font-size-1: 14px !default;
$rac-primary-font-size-2: 16px !default;

/************************/
/* @stable [18.03.2020] */
/************************/
$rac-primary-offset-0: 4px !default;
$rac-primary-offset-1: 8px !default;
$rac-primary-offset-2: 12px !default;
$rac-primary-offset-3: 16px !default;
$rac-primary-offset-4: 20px !default;
$rac-primary-offset-5: 24px !default;
$rac-primary-offset-6: 32px !default;
$rac-primary-offset-7: 40px !default;

/************************/
/* @stable [26.03.2020] */
/************************/
$rac-primary-icon-size-0: 8px !default;
$rac-primary-icon-size-1: 12px !default;
$rac-primary-icon-size-2: 16px !default;
$rac-primary-icon-size-3: 20px !default;

/************************/
/* @stable [18.03.2020] */
/************************/
$rac-primary-color-callisto-0: #ed254e !default;
/**/
$rac-primary-color-metis-0: rgba(0, 0, 0, .05) !default;
$rac-primary-color-metis-0-0: #f2f2f2 !default;
$rac-primary-color-metis-1: rgba(0, 0, 0, .1) !default;
$rac-primary-color-metis-2: rgba(0, 0, 0, .2) !default;
$rac-primary-color-metis-3: rgba(0, 0, 0, .3) !default;
$rac-primary-color-metis-4: rgba(0, 0, 0, .4) !default;
$rac-primary-color-metis-5: rgba(0, 0, 0, .5) !default;
$rac-primary-color-metis-6: rgba(0, 0, 0, .6) !default;

// elara
// dia
// ganymede