/************************/
/* @stable [17.03.2020] */
/************************/
$rac-primary-flex-0: 0 0 auto !default;

/************************/
/* @stable [17.03.2020] */
/************************/
$rac-primary-flex-grow-0: 1 !default;

/************************/
/* @stable [17.03.2020] */
/************************/
$rac-primary-display-0: flex !default;