/************************/
/* @stable [11.03.2020] */
/************************/
$rac-confirm-dialog-cls: rac-confirm-dialog;
$rac-inline-dialog-cls: rac-inline-dialog;
$rac-menu-dialog-cls: rac-menu-dialog;
$rac-place-dialog-cls: rac-place-dialog;
$rac-preview-dialog-cls: rac-preview-dialog;

/************************/
/* @stable [11.03.2020] */
/************************/
$rac-full-viewer-cls: rac-full-viewer;

/************************/
/* @stable [11.03.2020] */
/************************/
$rac-date-field__calendar-dialog-cls: rac-date-field__calendar-dialog;
$rac-date-field__calendars-dialog-cls: rac-date-field__calendars-dialog;