@import '~sass-mixins/partials/_user-select';
@import './constant';

// Html + body [FRAMEWORK-]
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// Root [FRAMEWORK-]
.rac-root {
  height: 100%;
  width: 100%;
}

// Fieldset [FRAMEWORK-]
.rac-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 100%;
}

// Section [FRAMEWORK-]
.rac-section, .rac-section-content {
  padding: $rac-default-offset;
}

// Section [FRAMEWORK-]
.rac-section-content {
  padding-top: 0;
}

// Core [FRAMEWORK-][RAC+]
.rac {

  &.rac-disabled {

    .rac-root {
      opacity: $rac-disabled-opacity; /* @stable - 29.03.2018 */
    }
  }

  :focus {
    outline: none;                    /* @stable [23.06.2018] */
  }

  a {
    text-decoration: none;            /* @stable [23.06.2018] */
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;         /* @stable [06.06.2018] */
    -moz-appearance: none;            /* @stable [06.06.2018] */
    margin: 0;                        /* @stable [06.06.2018] */
  }

  .rac-overflow-ellipsis {
    display: inline-block;    /* @stable [14.05.2018] */
    overflow: hidden;         /* @stable [14.05.2018] */
    text-overflow: ellipsis;  /* @stable [14.05.2018] */
    white-space: nowrap;      /* @stable [14.05.2018] */
    max-width: 100%;          /* @stable [14.05.2018] */
  }

  .rac-global-error-message {
    background: $color-5;         /* @stable [27.05.2018] */
    padding: 16px;                /* @stable [27.05.2018] */
    border: 1px solid $color-12;  /* @stable [27.05.2018] */
    color: $color-12;             /* @stable [27.05.2018] */

    &.rac-absolute-center-position {
      width: auto;          /* @stable [27.05.2018] */
      max-width: 70%;       /* @stable [27.05.2018] */
    }
  }

  .rac-width-full {
    width: 100%;            /* @stable [14.05.2018] */
  }

  .rac-fixed-table {
    table-layout: fixed;    /* @stable [07.05.2018] */
    border-spacing: 0;      /* @stable [07.05.2018] */
    width: 100%;            /* @stable [07.05.2018] */
    height: 100%;           /* @stable [07.05.2018] */
  }

  .rac-visibility-hidden {
    visibility: hidden;      /* @stable [23.06.2018] */
  }

  .rac-display-none {
    display: none;           /* @stable [04.05.2018] */
  }

  .rac-loading-icon {
    vertical-align: middle;               /* @stable [19.06.2018] */
    color: $rac-loading-icon-color;       /* @stable [19.06.2018] */
  }

  .rac-loading-message {
    vertical-align: middle;               /* @stable [19.06.2018] */
    margin-left: 4px;                     /* @stable [19.06.2018] */
    color: $rac-loading-message-color;    /* @stable [19.06.2018] */
  }

  .rac-absolute-center-position {
    position: absolute;                 /* @stable [08.05.2018] */
    left: 50%;                          /* @stable [08.05.2018] */
    top: 50%;                           /* @stable [08.05.2018] */
    width: 50%;                         /* @stable [08.05.2018] */
    transform: translate(-50%, -50%);   /* @stable [08.05.2018] */
  }

  .rac-absolute-top-position, .rac-absolute-bottom-position {
    position: absolute;                 /* @stable [08.05.2018] */
    left: 50%;                          /* @stable [08.05.2018] */
    transform: translate(-50%, -100%);  /* @stable [08.05.2018] */
  }

  .rac-absolute-top-position {
    top: 0;                             /* @stable [23.06.2018] */
  }

  .rac-absolute-bottom-position {
    top: 100%;                          /* @stable [23.06.2018] */
  }

  .rac-invisible {
    position: absolute;                 /* @stable [04.05.2018] */
    top: -10000px;                      /* @stable [04.05.2018] */
  }

  .rac-icon {
    width: $rac-icon-width;             /* @stable [24.06.2018] */
    height: $rac-icon-height;           /* @stable [24.06.2018] */

    &.rac-action-icon {
      color: $rac-icon-color;           /* @stable [24.06.2018] */
      cursor: pointer;                  /* @stable [24.06.2018] */
    }

    &.rac-disabled-icon {
      opacity: $opacity;                /* @stable [24.06.2018] */
    }

    .svg-inline--fa {
      width: 100%;                      /* @stable [24.06.2018] */
      height: 100%;                     /* @stable [24.06.2018] */
    }
  }

  .rac-no-user-select {
    @include x-user-select;             /* @stable [04.05.2018] */
  }

  .rac-filter-active {
    position: relative;                             /* @stable [25.06.2018] */

    &::after {
      position: absolute;                           /* @stable [25.06.2018] */
      left: $rac-filter-active-left;                /* @stable [25.06.2018] */
      top: $rac-filter-active-top;                  /* @stable [25.06.2018] */
      font-size: $rac-filter-active-font-size;      /* @stable [25.06.2018] */
      content: '●';                                /* @stable [25.06.2018] */
      color: $rac-filter-active-color;              /* @stable [25.06.2018] */
    }
  }
}