@import '~sass-mixins/partials/_user-select';
@import './constant';

// Html + body [FRAMEWORK-]
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// Root [FRAMEWORK-]
.rac-root {
  height: 100%;
  width: 100%;
}

// Fieldset [FRAMEWORK-]
.rac-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 100%;
}

// Section [FRAMEWORK-]
.rac-section, .rac-section-content {
  padding: $rac-default-offset;
}

// Section [FRAMEWORK-]
.rac-section-content {
  padding-top: 0;
}

/* @stable - 04.04.2018 */
.rac-overflow-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

/* @stable - 05.04.2018 */
.rac-visibility-hidden {
  visibility: hidden;
}

.rac {

  :focus {
    outline: none;          /* @stable - 08.04.2018 */
  }

  a {
    text-decoration: none;  /* @stable - 08.04.2018 */
  }

  .rac-add-button {
    position: absolute;                                   /* @stable - 08.04.2018 */
    right: 24px;                                          /* @stable - 08.04.2018 */
    bottom: 24px;                                         /* @stable - 08.04.2018 */
    background-color: $rac-add-button-background-color;   /* @stable - 08.04.2018 */
  }

  .rac-loading-icon {
    vertical-align: middle;           /* @stable - 08.04.2018 */
    color: $rac-loading-icon-color;   /* @stable - 08.04.2018 */
  }

  .rac-loading-message {
    vertical-align: middle;               /* @stable - 08.04.2018 */
    margin-left: 4px;                     /* @stable - 08.04.2018 */
    color: $rac-loading-message-color;    /* @stable - 08.04.2018 */
  }

  .rac-absolute-center-position {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  .rac-no-user-select {
    @include x-user-select;   /* @stable - 08.04.2018 */
  }

  .rac-filter-active {
    position: relative;                   /* @stable - 08.04.2018 */

    &::after {
      position: absolute;                 /* @stable - 08.04.2018 */
      left: 20px;                         /* @stable - 08.04.2018 */
      font-size: 11px;                    /* @stable - 08.04.2018 */
      content: 'lens';                    /* @stable - 08.04.2018 */
      color: $rac-filter-active-color;    /* @stable - 08.04.2018 */
    }
  }
}

// Common [FRAMEWORK-][RAC+]
.rac {

  &.rac-disabled {

    .rac-root {
      opacity: $rac-disabled-opacity;   /* @stable - 29.03.2018 */
    }
  }
}