@import '~sass-mixins/partials/_user-select';
@import './constant';
@import './mixin';

// Html, Body [FRAMEWORK-]
html, body {
  margin: 0;                                                                        /* @stable [16.09.2018] */
  padding: 0;                                                                       /* @stable [16.09.2018] */
  height: 100%;                                                                     /* @stable [16.09.2018] */
  width: 100%;                                                                      /* @stable [16.09.2018] */
  -webkit-tap-highlight-color: transparent;                                         /* @stable [16.09.2018] */
  overflow: $html-overflow;                                                         /* @stable [21.09.2018] */
}

// Rac [FRAMEWORK-]
.rac {

  input::-ms-clear {                                                                          /* @stable [25.12.2018] */
    @include rac-styles(
      $rac-styles-display: none,
      $rac-styles-width: 0,
      $rac-styles-height: 0
    );
  }

  @include rac-styles(                                                                        /* @stable [13.12.2018] */
    $rac-styles-min-width: $rac-min-width
  );

  @include rac-styles(                                                                        /* @stable [13.12.2018] */
    $rac-styles-custom: rac-status-ok,
    $rac-styles-color: $rac-status-ok-color
  );

  @include rac-styles(                                                                        /* @stable [13.12.2018] */
    $rac-styles-custom: rac-status-warning,
    $rac-styles-color: $rac-status-warning-color
  );

  .rac-overflow-ellipsis {
    display: inline-block;                                                          /* @stable [16.09.2018] */
    overflow: hidden;                                                               /* @stable [16.09.2018] */
    text-overflow: ellipsis;                                                        /* @stable [16.09.2018] */
    white-space: nowrap;                                                            /* @stable [16.09.2018] */
    max-width: 100%;                                                                /* @stable [16.09.2018] */

    * {
      text-overflow: ellipsis;                                                      /* @stable [16.09.2018] */
      overflow: hidden;                                                             /* @stable [16.09.2018] */
    }
  }

  .rac-triangle {
    position: absolute;                                                             /* @stable [26.10.2018] */
    width: 0;                                                                       /* @stable [26.10.2018] */
    height: 0;                                                                      /* @stable [26.10.2018] */

    &.rac-triangle-left-top {
      border-left: $rac-triangle-size solid transparent;                            /* @stable [26.10.2018] */
      border-top: $rac-triangle-size solid $rac-triangle-color;                     /* @stable [26.10.2018] */
    }
  }

  .rac-total {
    font-weight: bold;                                                              /* @stable [14.10.2018] */
    text-transform: uppercase;                                                      /* @stable [14.10.2018] */
  }

  .rac-full-size {
    @include rac-size(100%);                                                                  /* @stable [27.11.2018] */
  }

  .rac-absolute {
    @include _rac-position-properties($rac-position: absolute,                                /* @stable [14.11.2018] */
                                      $rac-position-top: 0,
                                      $rac-position-left: 0);
  }

  .rac-absolute-full {
    @include _rac-position-properties($rac-position: absolute,                                /* @stable [26.11.2018] */
                                      $rac-position-top: 0,
                                      $rac-position-left: 0,
                                      $rac-position-width: 100%,
                                      $rac-position-height: 100%);
  }

  @include rac-icon($rac-icon-size: $rac-icon-size,                                           /* @stable [21.11.2018] */
                    $rac-icon-content-height: 100%,
                    $rac-icon-content-width: 100%,
                    $rac-icon-content-vertical-align: top);

  @include rac-icon($rac-icon-custom: rac-action-icon,                                        /* @stable [21.11.2018] */
                    $rac-icon-size: $rac-default-action-icon-size,
                    $rac-icon-color: $rac-default-action-color,
                    $rac-icon-cursor: pointer);

  @include rac-icon($rac-icon-custom: rac-disabled-icon,                                      /* @stable [21.11.2018] */
                    $rac-icon-opacity: $opacity);

  @include rac-icon($rac-icon-custom: 'rac-action-icon.rac-disabled-icon',                    /* @stable [21.11.2018] */
                    $rac-icon-cursor: default);

  @include rac-icon($rac-icon-custom: rac-button-add-icon,                                    /* @stable [17.12.2018] */
                    $rac-icon-position: $rac-add-button-icon-position,
                    $rac-icon-opacity: $rac-add-button-icon-opacity,
                    $rac-icon-border-radius: $rac-add-button-icon-border-radius,
                    $rac-icon-color: $rac-add-button-icon-color,
                    $rac-icon-background: $rac-add-button-icon-background,
                    $rac-icon-right: $rac-add-button-icon-right,
                    $rac-icon-bottom: $rac-add-button-icon-bottom,
                    $rac-icon-width: $rac-add-button-icon-width,
                    $rac-icon-height: $rac-add-button-icon-height,
                    $rac-icon-content-width: $rac-add-button-icon-content-width,
                    $rac-icon-content-height: $rac-add-button-icon-content-height);

  @include rac-filter-active(                                                                 /* @stable [15.12.2018] */
    $rac-filter-active-position: relative,
    $rac-filter-active-after-position: absolute,
    $rac-filter-active-after-left: $rac-filter-active-left,
    $rac-filter-active-after-right: $rac-filter-active-right,
    $rac-filter-active-after-top: $rac-filter-active-top,
    $rac-filter-active-after-bottom: $rac-filter-active-bottom,
    $rac-filter-active-after-font-size: $rac-filter-active-font-size,
    $rac-filter-active-after-content: $rac-filter-active-content,
    $rac-filter-active-after-color: $rac-filter-active-color
  );

  @include rac-styles(                                                                        /* @stable [26.12.2018] */
    $rac-styles-custom: rac-loading-message,
    $rac-styles-white-space: nowrap,
    $rac-styles-font-size: $rac-loading-message-font-size,
    $rac-styles-color: $rac-loading-message-color,
    $rac-styles-margin: $rac-loading-message-margin
  );

  @include rac-icon(                                                                          /* @stable [26.12.2018] */
    $rac-icon-custom: rac-loading-icon,
    $rac-icon-color: $rac-loading-icon-color
  );
}

// Root [FRAMEWORK-]
.rac-root {
  height: 100%;
  width: 100%;
}

// Section [FRAMEWORK-]
.rac-section, .rac-section-content {
  padding: $rac-default-offset;
}

// Section [FRAMEWORK-]
.rac-section-content {
  padding-top: 0;
}

// Core [FRAMEWORK-][RAC+]
.rac {

  &.rac-disabled {

    .rac-root {
      opacity: $rac-disabled-opacity; /* @stable - 29.03.2018 */
    }
  }

  :focus {
    outline: none;                    /* @stable [23.06.2018] */
  }

  a {
    text-decoration: none;            /* @stable [23.06.2018] */
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;         /* @stable [06.06.2018] */
    -moz-appearance: none;            /* @stable [06.06.2018] */
    margin: 0;                        /* @stable [06.06.2018] */
  }

  .rac-status {

    &.rac-icon {
      height: $rac-status-size;                              /* @stable [11.10.2018] */
      width: $rac-status-size;                               /* @stable [11.10.2018] */
    }
  }

  .rac-status-attention {
    color: $rac-status-attention-color;                      /* @stable [17.08.2018] */
  }

  .rac-global-error-message {
    font-size: $rac-global-error-message-font-size;          /* @stable [08.08.2018] */
    background: $rac-global-error-message-background;        /* @stable [08.08.2018] */
    padding: $rac-global-error-message-padding;              /* @stable [08.08.2018] */
    border: $rac-global-error-message-border;                /* @stable [08.08.2018] */
    border-radius: $rac-global-error-message-border-radius;  /* @stable [08.08.2018] */
    color: $rac-global-error-message-color;                  /* @stable [08.08.2018] */

    &.rac-absolute-center-position {
      width: auto;          /* @stable [27.05.2018] */
      max-width: 70%;       /* @stable [27.05.2018] */
    }
  }

  .rac-width-full {
    width: 100%;            /* @stable [14.05.2018] */
  }

  .rac-fixed-table {
    table-layout: fixed;    /* @stable [07.05.2018] */
    border-spacing: 0;      /* @stable [07.05.2018] */
    width: 100%;            /* @stable [07.05.2018] */
    height: 100%;           /* @stable [07.05.2018] */
  }

  .rac-overlay {
    background: $rac-overlay-background;    /* @stable [13.08.2018] */

    .rac-message {
      background: $rac-overlay-message-background;            /* @stable [13.08.2018] */
      max-width: $rac-overlay-message-max-width;              /* @stable [13.08.2018] */
      height: $rac-overlay-message-height;                    /* @stable [13.08.2018] */
      border-radius: $rac-overlay-message-border-radius;      /* @stable [13.08.2018] */
    }
  }

  .rac-visibility-hidden {
    visibility: hidden !important;                /* @stable [15.09.2018] */
  }

  .rac-display-none {
    display: none !important;                     /* @stable [15.09.2018] */
  }

  .rac-message {
    font-size: $rac-message-font-size;            /* @stable [25.06.2018] */
    color: $rac-message-color;                    /* @stable [26.06.2018] */
  }

  .rac-absolute-center-position {
    position: absolute;                 /* @stable [08.05.2018] */
    left: 50% !important;               /* @mdc @stable [08.05.2018] */
    top: 50% !important;                /* @mdc @stable [08.05.2018] */
    width: 50%;                         /* @stable [08.05.2018] */
    transform: translate(-50%, -50%);   /* @stable [08.05.2018] */
  }

  .rac-absolute-left-center-position {
    position: absolute;                 /* @stable [24.08.2018] */
    top: 50%;                           /* @stable [24.08.2018] */
    transform: translateY(-50%);        /* @stable [24.08.2018] */
  }

  .rac-absolute-top-position, .rac-absolute-bottom-position {
    position: absolute;                 /* @stable [08.05.2018] */
    left: 50%;                          /* @stable [08.05.2018] */
    transform: translate(-50%, -100%);  /* @stable [08.05.2018] */
  }

  .rac-absolute-top-position {
    top: 0;                             /* @stable [23.06.2018] */
  }

  .rac-absolute-bottom-position {
    top: 100%;                          /* @stable [23.06.2018] */
  }

  .rac-invisible {
    position: absolute;                 /* @stable [04.05.2018] */
    top: -10000px;                      /* @stable [04.05.2018] */
    left: -10000px;                     /* @stable [04.09.2018] */
  }

  .rac-no-user-select {
    @include x-user-select;             /* @stable [04.05.2018] */
  }

  .rac-opacity-2 {
    opacity: $opacity;                              /* @stable [26.06.2018] */
  }

  .rac-strong {
    font-weight: bold;                              /* @stable [26.06.2018] */
  }
}