@import './_primary-constant';
@import './button/_button-constant';

$opacity: .5 !default;
$rac-opacity: .5 !default;
$snackbar-z-index: 9999 !default;
$color-1: #d50000 !default;
$color-3: #e0e0e0 !default;
$color-4: #989898 !default;
$color-8: #d8ddde !default;
$color-10: #e1e1e1 !default;
$color-11: #ff0000 !default;
$color-17: #57fff1 !default;
$color-22: #f2f2f2 !default;

/**/
$rac-z-index-keyboard: 4 !default;
/**/
$rac-offset-4: 20px !default;
$rac-offset-5: 24px !default;
$rac-offset-6: 32px !default;
$rac-offset-7: 40px !default;
/**/
$rac-color-0-12: rgba(18, 19, 15, .3) !default;
/**/
$rac-color-2-0: #f4e6bb !default;
$rac-color-2-1: #f96f00 !default;
$rac-color-2-3: #ffbf00 !default;

/************************/
/* @stable [02.02.2020] */
/************************/
$rac-opacity-0: .5 !default;

/************************/
/* @stable [29.01.2020] */
/************************/
/**/
$rac-field-color-1: $rac-primary-color-metis-0-10 !default;
$rac-field-height-0: 32px !default;
$rac-field-height-1: 40px !default;
/**/
$rac-letter-spacing-0: 0 !default;
/**/
$rac-layout-offset-0: 24px !default;

/* @stable [07.03.2019] */
$rac-action-icon-cls: rac-action-icon;
$rac-action-icon-size: unset !default;
$rac-action-icon-color: unset !default;
$rac-action-icon-cursor: pointer !default;

/* @stable [21.09.2018] */
$html-overflow: hidden !default;

/* @stable [27.10.2018] */
$rac-triangle-size: 10px !default;
$rac-triangle-color: $color-4 !default;

/* @stable [26.06.2018] */
$rac-min-width: unset !default;

/* @stable [26.06.2018] */
$rac-scrollbar-width: 6px !default;
$rac-scrollbar-height: 6px !default;
$rac-scrollbar-thumb-background-color: $color-8 !default;

/* @stable [27.01.2019] */
$rac-keyboard-background: unset !default;
$rac-keyboard-border-radius: 5px 5px 0 0 !default;
$rac-keyboard-border: unset !default;
$rac-keyboard-close-bottom: 0 !default;
$rac-keyboard-close-color: $color-17 !default;
$rac-keyboard-close-display: none !default;
$rac-keyboard-close-margin: 4px !default;
$rac-keyboard-close-position: absolute !default;
$rac-keyboard-close-right: 0 !default;
$rac-keyboard-key-active-position: relative !default;
$rac-keyboard-key-active-top: 4px !default;
$rac-keyboard-key-active-transition: top 1s ease-out 0.1s !default;
$rac-keyboard-key-background-color: $color-10 !default;
$rac-keyboard-key-background: unset !default;
$rac-keyboard-key-border-radius: $rac-primary-border-radius-2 !default;
$rac-keyboard-key-border: $rac-keyboard-border !default;
$rac-keyboard-key-color: unset !default;
$rac-keyboard-key-font-size: $rac-primary-font-size-2 !default;
$rac-keyboard-key-height: 68px !default;
$rac-keyboard-key-margin: 4px !default;
$rac-keyboard-key-opacity: unset !default;
$rac-keyboard-key-width: 68px !default;
$rac-keyboard-opacity: unset !default;
$rac-keyboard-padding: 12px !default;
$rac-keyboard-portal-absolute-h-center-alignment: true !default;
$rac-keyboard-portal-bottom: 0 !default;
$rac-keyboard-portal-position: fixed !default;
$rac-keyboard-portal-z-index: $rac-z-index-keyboard !default;

/* @stable [24.06.2018] */
$rac-icon-width0: 12px !default;
$rac-icon-height0: 12px !default;

/* @stable [26.06.2018] */
$rac-profile-avatar-margin-left: 16px !default;
$rac-profile-avatar-width: 64px !default;
$rac-profile-avatar-height: $rac-profile-avatar-width !default;
$rac-profile-avatar-background: $color-4 !default;
$rac-profile-avatar-border-radius: $rac-profile-avatar-width / 2 !default;
$rac-profile-app-version-top: 4px !default;
$rac-profile-app-version-left: 4px !default;
$rac-profile-app-version-font-size: 8px !default;

/* @stable [21.01.2019] */
$rac-calendar-dialog-size-0: 32px !default;
$rac-calendar-dialog-size-1: $rac-calendar-dialog-size-0 / 2 !default;
$rac-calendar-dialog-color-0: $rac-primary-color-poseidon-0 !default;
$rac-calendar-dialog-border-0: 1px solid $rac-primary-color-elara-2 !default;
/**/
$rac-calendar-base-dialog-range-explorer-align-items: center !default;
$rac-calendar-base-dialog-range-explorer-date-content-flex: 1 !default;
$rac-calendar-base-dialog-range-explorer-date-content-text-align: center !default;
$rac-calendar-base-dialog-range-explorer-date-display: flex !default;
$rac-calendar-base-dialog-range-explorer-date-flex: 1 !default;
$rac-calendar-base-dialog-range-explorer-display: flex !default;
$rac-calendar-base-dialog-range-explorer-flex-direction: row !default;
$rac-calendar-base-dialog-range-explorer-margin: 0 0 $rac-primary-offset-1 0 !default;
/**/
$rac-calendar-dialog-body-background: $rac-calendar-dialog-color-0 !default;
$rac-calendar-dialog-body-content-padding: unset !default;
$rac-calendar-dialog-calendar-body-border-bottom: unset !default;
$rac-calendar-dialog-calendar-border-bottom: $rac-calendar-dialog-border-0 !default;
$rac-calendar-dialog-calendar-day-border-radius: $rac-calendar-dialog-size-1 !default;
$rac-calendar-dialog-calendar-day-color: $rac-primary-color-metis-0-10 !default;
$rac-calendar-dialog-calendar-day-font-size: $rac-primary-font-size-1 !default;
$rac-calendar-dialog-calendar-day-size: $rac-calendar-dialog-size-0 !default;
$rac-calendar-dialog-calendar-head-border-bottom: $rac-calendar-dialog-border-0 !default;
$rac-calendar-dialog-calendar-head-border-left: 0 !default;
$rac-calendar-dialog-calendar-head-border-right: 0 !default;
$rac-calendar-dialog-calendar-head-color: $rac-primary-color-elara-5 !default;
$rac-calendar-dialog-calendar-head-column-content-font-size: $rac-primary-font-size-0 !default;
$rac-calendar-dialog-calendar-head-padding: 0 0 $rac-primary-offset-0 0 !default;
$rac-calendar-dialog-calendar-margin: 0 0 $rac-primary-offset-3 0 !default;
$rac-calendar-dialog-calendar-selected-day-color: $rac-calendar-dialog-color-0 !default;
$rac-calendar-dialog-footer-action-background: $rac-primary-color-elara-5 !default;
$rac-calendar-dialog-footer-action-content-color: $rac-primary-color-metis-0-10 !default;
$rac-calendar-dialog-footer-action-height: 32px !default;
$rac-calendar-dialog-footer-action-margin: 0 0 0 $rac-primary-offset-3 !default;
$rac-calendar-dialog-footer-display: flex !default;
$rac-calendar-dialog-footer-input-self-field-background: $rac-primary-color-metis-0-10 !default;
$rac-calendar-dialog-footer-justify-content: center !default;
$rac-calendar-dialog-footer-self-field-height: unset !default;
$rac-calendar-dialog-range-button-mini-background: $rac-primary-color-elara-1 !default;
$rac-calendar-dialog-range-button-mini-icon-color: $rac-primary-color-metis-0-10 !default;
$rac-calendar-dialog-range-button-mini-icon-size: $rac-primary-icon-size-2 !default;
$rac-calendar-dialog-range-explorer-date-font-size: $rac-primary-font-size-1 !default;
$rac-calendar-dialog-range-explorer-date: $rac-primary-color-metis-0-10 !default;

/* @stable [22.06.2018] */
$rac-grid-column-align-center-cls: rac-grid-column-align-center;
$rac-grid-column-align-right-cls: rac-grid-column-align-right;
$rac-grid-column-cls: rac-grid-column;
$rac-grid-column-content-cls: rac-grid-column-content;
$rac-grid-column-edited-cls: rac-grid-column-edited;
$rac-grid-column-sort-cls: rac-grid-column-sort;
$rac-grid-column-sort-icon-cls: rac-grid-column-sort-icon;
$rac-grid-column-sortable-cls: rac-grid-column-sortable;
$rac-grid-row-group-expanded-cls: rac-grid-row-group-expanded;
$rac-grid-row-grouped-cls: rac-grid-row-grouped;
$rac-grid-row-odd-cls: rac-grid-row-odd;
$rac-grid-row-part-of-group-cls: rac-grid-row-part-of-group;
$rac-grid-row-selectable-cls: rac-grid-row-selectable;
$rac-grid-row-selected-cls: rac-grid-row-selected;
$rac-grid-row-total-cls: rac-grid-row-total;
/**/
$rac-grid-color-0: $rac-primary-color-poseidon-0 !default;
$rac-grid-color-1: $rac-primary-color-metis-0-3 !default;
$rac-grid-color-2: $rac-primary-color-metis-3 !default;
$rac-grid-color-3: $rac-primary-color-metis-1-5 !default;
$rac-grid-color-4: $rac-primary-color-metis-1 !default;
$rac-grid-color-5: $rac-primary-color-metis-0 !default;
$rac-grid-offset-0: $rac-primary-offset-1 !default;
/**/
$rac-grid-body-column-content-action-icon-color: $rac-grid-color-2 !default;
$rac-grid-body-column-content-action-icon-content-size: $rac-primary-icon-size-2 !default;
$rac-grid-body-column-content-action-icon-size: 32px !default;
$rac-grid-body-column-content-base-text-self-field-background: $rac-primary-color-metis-0-10 !default;
$rac-grid-body-column-content-position: unset !default;
$rac-grid-body-column-padding-bottom: $rac-primary-offset-1 !default;
$rac-grid-body-column-padding-top: $rac-primary-offset-1 !default;
$rac-grid-body-column-position: unset !default;
$rac-grid-body-column-vertical-align: unset !default;
$rac-grid-body-overflow: unset !default;
$rac-grid-body-padding: unset !default;
$rac-grid-body-row-border-bottom: unset !default;
$rac-grid-body-row-box-sizing: border-box !default;
$rac-grid-body-row-hover-background: $rac-grid-color-4 !default;
$rac-grid-body-row-part-of-group-border-bottom: 1px solid $rac-grid-color-5 !default;
$rac-grid-border-collapse: collapse !default;
$rac-grid-column-align-center-content-align-items: center !default;
$rac-grid-column-align-center-content-self-field-input-text-align: center !default;
$rac-grid-column-align-center-content-text-align: center !default;
$rac-grid-column-align-center-sortable-content-align-items: normal !default;
$rac-grid-column-align-center-sortable-content-justify-content: center !default;
$rac-grid-column-align-center-sortable-content-sort-left: 50% !default;
$rac-grid-column-align-center-sortable-content-sort-transform: translateX(-50%) !default;
$rac-grid-column-align-right-content-align-items: flex-end !default;
$rac-grid-column-align-right-content-self-field-input-text-align: right !default;
$rac-grid-column-align-right-content-text-align: right !default;
$rac-grid-column-content-button-content-font-size: $rac-primary-font-size-0 !default;
$rac-grid-column-content-button-height: 32px !default;
$rac-grid-column-content-button-hover-background: $rac-button-raised-background;
$rac-grid-column-content-button-hover-color: $rac-button-raised-color;
$rac-grid-column-content-button-icon-color: $rac-grid-color-2 !default;
$rac-grid-column-content-button-icon-size: unset !default;
$rac-grid-column-content-display: flex !default;
$rac-grid-column-content-flex-direction: column !default;
$rac-grid-column-content-flex: 1 !default;
$rac-grid-column-content-font-size: $rac-primary-font-size-0 !default;
$rac-grid-column-content-self-field-border-color: unset !default;
$rac-grid-column-content-self-field-border-radius: unset !default;
$rac-grid-column-content-self-field-height: unset !default;
$rac-grid-column-content-width: unset !default;
$rac-grid-column-edited-content-after-color: $rac-color-2-1 !default;
$rac-grid-column-edited-content-after-content: '◥' !default;
$rac-grid-column-edited-content-after-font-size: 10px !default;
$rac-grid-column-edited-content-after-height: 0 !default;
$rac-grid-column-edited-content-after-position: absolute !default;
$rac-grid-column-edited-content-after-right: 0px !default;
$rac-grid-column-edited-content-after-top: -2px !default;
$rac-grid-column-icon-vertical-align: middle !default;
$rac-grid-column-line-height: $rac-primary-line-height-2 !default;
$rac-grid-column-overflow: hidden !default;
$rac-grid-column-padding-left: $rac-grid-offset-0 !default;
$rac-grid-column-padding-right: $rac-grid-offset-0 !default;
$rac-grid-column-position: relative !default;
$rac-grid-cursor: default !default;
$rac-grid-display: flex !default;
$rac-grid-flex-direction: column !default;
$rac-grid-head-background: $rac-grid-color-0 !default;
$rac-grid-head-border-left: 1px solid $rac-grid-color-0 !default;
$rac-grid-head-border-radius: $rac-primary-border-radius-2 $rac-primary-border-radius-2 0 0 !default;
$rac-grid-head-border-right: 1px solid $rac-grid-color-0 !default;
$rac-grid-head-box-sizing: border-box !default;
$rac-grid-head-color: $rac-primary-color-metis-0-10 !default;
$rac-grid-head-column-active-sort-icon-background: $rac-primary-color-elara-3 !default;
$rac-grid-head-column-active-sort-icon-color: $rac-primary-color-poseidon-0 !default;
$rac-grid-head-column-active-sort-icon-content-opacity: 1 !default;
$rac-grid-head-column-content-font-size: $rac-primary-font-size-1 !default;
$rac-grid-head-column-content-font-weight: $rac-primary-font-weight-1 !default;
$rac-grid-head-column-content-white-space: normal !default;
$rac-grid-head-column-padding-bottom: $rac-primary-offset-1 !default;
$rac-grid-head-column-padding-top: $rac-primary-offset-1 !default;
$rac-grid-head-column-sort-asc-action-margin: 0 0 0 $rac-primary-offset-1 !default;
$rac-grid-head-column-sort-desc-action-margin: unset !default;
$rac-grid-head-column-sort-icon-background: $rac-primary-color-elara-3 !default;
$rac-grid-head-column-sort-icon-border-radius: 50% !default;
$rac-grid-head-column-sort-icon-content-opacity: .6 !default;
$rac-grid-head-column-sort-icon-content-size: 8px !default;
$rac-grid-head-column-sort-icon-size: unset !default;
$rac-grid-head-column-sortable-content-flex-direction: column !default;
$rac-grid-head-column-sortable-content-margin: $rac-offset-5 0 0 0 !default;
$rac-grid-head-column-sortable-content-sort-margin: unset !default;
$rac-grid-head-column-sortable-content-sort-position: absolute !default;
$rac-grid-head-column-sortable-content-sort-top: $rac-primary-offset-1 !default;
$rac-grid-head-column-sortable-content-sort-white-space: nowrap !default;
$rac-grid-head-column-text-align: left !default;
$rac-grid-head-column-vertical-align: bottom !default;
$rac-grid-head-column-white-space: nowrap !default;
$rac-grid-head-filter-row-column-content-self-field-background: 0 !default;
$rac-grid-head-filter-row-column-content-self-field-border-color: $rac-primary-color-elara-3 !default;
$rac-grid-head-filter-row-column-content-self-field-height: 24px !default;
$rac-grid-head-filter-row-column-content-self-field-input-color: $rac-primary-color-elara-7 !default;
$rac-grid-head-filter-row-column-padding-top: 0 !default;
$rac-grid-head-margin-bottom: unset !default;
$rac-grid-head-padding-left: unset !default;
$rac-grid-head-padding-right: unset !default;
$rac-grid-position: relative !default;
$rac-grid-row-display: table !default;
$rac-grid-row-group-expanded-background: unset !default;
$rac-grid-row-grouped-font-weight: $rac-primary-font-weight-1 !default;
$rac-grid-row-odd-background: $rac-primary-color-metis-0 !default;
$rac-grid-row-odd-border-radius: unset !default;
$rac-grid-row-padding: unset !default;
$rac-grid-row-selectable-cursor: pointer !default;
$rac-grid-row-selected-background: $rac-color-2-0 !default;
$rac-grid-row-selected-font-weight: unset !default;
$rac-grid-row-table-layout: fixed !default;
$rac-grid-row-total-background: $rac-grid-color-3 !default;
$rac-grid-row-total-border-left: unset !default;
$rac-grid-row-total-border-right: unset !default;
$rac-grid-row-total-font-weight: $rac-primary-font-weight-2 !default;
$rac-grid-row-width: 100% !default;
/**/
$rac-time-grid-column-hover-background-color: $color-10 !default;
$rac-time-grid-time-header-column-content-letter-spacing: $rac-letter-spacing-0 !default;
/**/
$rac-grid-wrapper-display: flex !default;
$rac-grid-wrapper-flex-direction: row !default;
$rac-grid-wrapper-flex-grow: 1 !default;

/* @stable [26.12.2018] */
$rac-loading-icon-color: $rac-primary-color-poseidon-0 !default;
$rac-loading-message-font-size: $rac-primary-font-size-0 !default;
$rac-loading-message-color: $rac-primary-color-poseidon-0 !default;
$rac-loading-message-margin: 0 0 0 8px !default;

/* @stable [17.09.2018] */
$rac-base-checkbox-cls: rac-base-checkbox;
$rac-base-select-cls: rac-base-select;
$rac-base-text-cls: rac-base-text;
$rac-checkbox-cls: rac-checkbox;
$rac-checked-cls: rac-checked;
$rac-chips-field-cls: rac-chips-field;
$rac-field-actioned-cls: rac-field-actioned;
$rac-field-busy-cls: rac-field-busy;
$rac-field-disabled-cls: rac-field-disabled;
$rac-field-focused-cls: rac-field-focused;
$rac-field-input-caret-cls: rac-field-input-caret;
$rac-field-labeled-cls: rac-field-labeled;
$rac-field-not-focused-cls: rac-field-not-focused;
$rac-field-prevent-focus-cls: rac-field-prevent-focus;
$rac-field-required-cls: rac-field-required;
$rac-field-value-not-present-cls: rac-field-value-not-present;
$rac-field-value-present-cls: rac-field-value-present;
$rac-switch-cls: rac-switch;
$rac-unchecked-cls: rac-unchecked;
/**/
$rac-base-checkbox-checked-cls: '#{$rac-base-checkbox-cls}.#{$rac-checked-cls}';
$rac-base-text-actioned-cls: '#{$rac-base-text-cls}.#{$rac-field-actioned-cls}';
$rac-base-text-busy-cls: '#{$rac-base-text-cls}.#{$rac-field-busy-cls}';
$rac-base-text-focused-cls: '#{$rac-base-text-cls}.#{$rac-field-focused-cls}';
$rac-base-text-labeled-cls: '#{$rac-base-text-cls}.#{$rac-field-labeled-cls}';
$rac-checkbox-disabled-cls: '#{$rac-checkbox-cls}.#{$rac-field-disabled-cls}';
/**/
$rac-base-text-labeled-value-not-present-cls: '#{$rac-base-text-labeled-cls}.#{$rac-field-value-not-present-cls}';
/**/
$rac-checkbox-color-0: $rac-primary-color-poseidon-0 !default;
$rac-field-label-position-0: absolute !default;
$rac-field-offset-0: 20px !default;
$rac-field-opacity-0: .5 !default;
$rac-switch-size-0: 24px !default;
$rac-switch-size-1: 40px !default;
$rac-text-size-0: 32px !default;
/**/
$rac-base-checkbox-checked-self-field-input-wrapper-background: $rac-checkbox-color-0 !default;
$rac-base-checkbox-self-field-align-items: center !default;
$rac-base-checkbox-self-field-height: unset !default;                                                     /* @stable [16.02.2020]*/
$rac-base-checkbox-self-field-label-color: unset !default;                                                /* @stable [18.02.2020]*/
$rac-base-checkbox-self-field-label-font-size: unset !default;                                            /* @stable [18.02.2020]*/
$rac-base-checkbox-self-field-label-line-height: $rac-primary-line-height-2 !default;
$rac-base-checkbox-self-field-label-margin: 0 0 0 $rac-primary-offset-1 !default;                                 /* @stable [20.02.2020]*/
$rac-base-select-self-field-input-wrapper-flex-direction: column !default;
$rac-base-text-actioned-self-field-input-width: unset !default;
$rac-base-text-background: unset !default;                                                                /* @stable [16.02.2020]*/
$rac-base-text-border-radius: unset !default;                                                             /* @stable [16.02.2020]*/
$rac-base-text-busy-self-field-input-opacity: 0 !default;
$rac-base-text-labeled-self-field-flex-direction: unset !default;                                         /* @stable [16.02.2020]*/
$rac-base-text-labeled-self-field-label-left: unset !default;                                             /* @stable [16.02.2020]*/
$rac-base-text-labeled-self-field-label-position: $rac-field-label-position-0 !default;                   /* @stable [04.03.2020]*/
$rac-base-text-labeled-self-field-label-top: -$rac-field-offset-0 !default;                               /* @stable [04.03.2020]*/
$rac-base-text-labeled-self-field-label-white-space: nowrap !default;                                     /* @stable [16.02.2020]*/
$rac-base-text-labeled-self-field-label-width: 100% !default;                                             /* @stable [16.02.2020]*/
$rac-base-text-labeled-self-field-margin-top: $rac-field-offset-0 !default;                               /* @stable [04.03.2020]*/
$rac-base-text-labeled-self-field-padding-top: unset !default;                                            /* @stable [16.02.2020]*/
$rac-base-text-labeled-value-not-present-self-field-margin-top: unset !default;                           /* @stable [16.02.2020]*/
$rac-base-text-overflow: unset !default;                                                                  /* @stable [16.02.2020]*/
$rac-base-text-self-field-background: unset !default;                                                     /* @stable [16.02.2020]*/
$rac-base-text-self-field-border-radius: $rac-primary-border-radius-1 !default;
$rac-base-text-self-field-border: 1px solid $rac-primary-color-metis-1 !default;
$rac-base-text-self-field-height: $rac-text-size-0 !default;
$rac-base-text-self-field-icon-color: $rac-primary-color-metis-3 !default;
$rac-base-text-self-field-icon-height: 100% !default;
$rac-base-text-self-field-icon-padding: 0 $rac-primary-offset-1 0 0 !default;
$rac-base-text-self-field-input-caret-bottom: 14px !default;
$rac-base-text-self-field-input-caret-color: $rac-primary-color-poseidon-0 !default;
$rac-base-text-self-field-input-caret-font-size: 24px !default;
$rac-base-text-self-field-input-caret-position: absolute !default;
$rac-base-text-self-field-input-mirror-width: auto !default;
$rac-base-text-self-field-input-resize: none !default;
$rac-base-text-self-field-input-width: calc(100% - 32px) !default;
$rac-base-text-self-field-input-wrapper-flex: 1 !default;
$rac-base-text-self-field-overflow: unset !default;                                                       /* @stable [16.02.2020]*/
$rac-checkbox-disabled-self-field-input-wrapper-opacity: $rac-field-opacity-0 !default;
$rac-checkbox-justify-content: center !default;
$rac-checkbox-self-field-input-cursor: pointer !default;
$rac-checkbox-self-field-input-icon-color: $rac-primary-color-metis-0-10 !default;
$rac-checkbox-self-field-input-icon-size: 10px !default;
$rac-checkbox-self-field-input-position: absolute !default;
$rac-checkbox-self-field-input-size: 100% !default;
$rac-checkbox-self-field-input-wrapper-align-items: center !default;
$rac-checkbox-self-field-input-wrapper-border-radius: $rac-primary-border-radius-1 !default;
$rac-checkbox-self-field-input-wrapper-border: 1px solid $rac-checkbox-color-0 !default;
$rac-checkbox-self-field-input-wrapper-justify-content: center !default;
$rac-checkbox-self-field-input-wrapper-size: 16px !default;
$rac-chips-field-min-height: unset !default;
$rac-cron-field-labeled-self-field-label-position: $rac-field-label-position-0 !default;                  /* @stable [04.03.2020] */
$rac-cron-field-labeled-self-field-label-top: -$rac-field-offset-0 !default;                              /* @stable [04.03.2020] */
$rac-cron-field-labeled-self-field-margin-top: $rac-field-offset-0 !default;                              /* @stable [04.03.2020] */
$rac-field-chips-wrapper-margin: 8px 0 0 0 !default;
$rac-field-display: flex !default;
$rac-field-flex-direction: column !default;
$rac-field-help-text-font-size: 10px !default;
$rac-field-help-text-line-height: 16px !default;
$rac-field-prefix-label-color: $rac-primary-color-poseidon-0 !default;
$rac-field-prefix-label-left: 6px !default;
$rac-field-prevent-focus-self-field-input-cursor: default !default;
$rac-field-required-self-field-label-after-content: '*' !default;
$rac-field-required-self-field-label-after-font-size: $rac-primary-font-size-0 !default;
$rac-field-required-self-field-label-after-margin-left: 2px !default;
$rac-field-required-self-field-label-after-position: absolute !default;
$rac-field-required-self-field-label-after-right: unset !default;
$rac-self-field-background: unset !default;
$rac-self-field-box-sizing: border-box !default;
$rac-self-field-display: flex !default;
$rac-self-field-input-background: 0 !default;
$rac-self-field-input-border: 0 !default;
$rac-self-field-input-color: $rac-primary-color-poseidon-0 !default;
$rac-self-field-input-font-size: $rac-primary-font-size-0 !default;
$rac-self-field-input-font-weight: $rac-primary-font-weight-1 !default;
$rac-self-field-input-line-height: normal !default;
$rac-self-field-input-padding: 0 $rac-primary-offset-3 !default;
$rac-self-field-input-placeholder-color: $rac-color-0-12 !default;
$rac-self-field-label-font-size: $rac-primary-font-size-0 !default;                                               /* @stable [17.02.2020]*/
$rac-self-field-label-font-weight: $rac-primary-font-weight-1 !default;                                           /* @stable [17.02.2020]*/
$rac-self-field-label-line-height: 14px !default;                                                         /* @stable [16.02.2020]*/
$rac-self-field-label-overflow: hidden !default;                                                          /* @stable [16.02.2020]*/
$rac-self-field-label-text-overflow: ellipsis !default;                                                   /* @stable [16.02.2020]*/
$rac-self-field-position: relative !default;
$rac-switch-self-field-height: $rac-text-size-0 !default;
$rac-switch-self-field-input-height: $rac-switch-size-0 !default;
$rac-switch-self-field-input-width: $rac-switch-size-1 !default;
$rac-switch-self-field-input-wrapper-background: $rac-primary-color-metis-1 !default;
$rac-switch-self-field-input-wrapper-border-radius: 12px !default;
$rac-switch-self-field-input-wrapper-box-shadow: unset !default;
$rac-text-area-height: 100% !default;
$rac-text-area-input-padding: $rac-primary-offset-3 !default;
$rac-text-area-length-label-color: $rac-primary-color-poseidon-0 !default;
$rac-text-area-length-label-font-size: $rac-primary-font-size-0 - 1 !default;
$rac-text-field-filter-active-after-bottom: 5px !default;
$rac-text-field-filter-active-after-left: 7px !default;
$rac-text-field-input-not-changeable-padding-left: 0 !default;
$rac-text-field-input-not-changeable-padding-right: 0 !default;
$rac-text-field-invalid-border-color: $color-11 !default;
$rac-text-field-not-changeable-border-bottom: unset !default;
$rac-text-field-not-changeable-border-left: unset !default;
$rac-text-field-not-changeable-border-right: unset !default;
/**/
$rac-date-field-calendar-base-dialog-range-explorer-date-justify-content: center !default;
/**/
$rac-date-field-calendar-dialog-body-height: 342px !default;
$rac-date-field-calendar-dialog-body-max-width: 304px !default;
$rac-date-field-calendar-dialog-footer-action-width: 72px !default;
/**/
$rac-date-field-calendars-dialog-body-height: 422px !default;
$rac-date-field-calendars-dialog-body-max-width: 608px !default;
$rac-date-field-calendars-dialog-calendar-first-selected-day-border-radius: $rac-calendar-dialog-size-1 0 0 $rac-calendar-dialog-size-1 !default;
$rac-date-field-calendars-dialog-calendar-last-selected-day-border-radius: 0 $rac-calendar-dialog-size-1 $rac-calendar-dialog-size-1 0 !default;
$rac-date-field-calendars-dialog-calendar-middle-selected-day-border-radius: 0 !default;
$rac-date-field-calendars-dialog-calendar-selected-day-width: 100% !default;
$rac-date-field-calendars-dialog-calendars-wrapper-display: flex !default;
$rac-date-field-calendars-dialog-calendars-wrapper-flex: 1 !default;
$rac-date-field-calendars-dialog-footer-action-width: 72px !default;
$rac-date-field-calendars-dialog-quick-button-background: $rac-primary-color-elara-1 !default;
$rac-date-field-calendars-dialog-quick-button-content-color: $rac-primary-color-metis-0-10 !default;
$rac-date-field-calendars-dialog-quick-button-height: 32px !default;
$rac-date-field-calendars-dialog-quick-button-neighbor-margin: 0 0 0 $rac-primary-offset-1 !default;
$rac-date-field-calendars-dialog-range-explorer-date-content-next-margin: 0 0 0 $rac-primary-button-height-0 * 2 + $rac-offset-4 !default;
$rac-date-field-calendars-dialog-second-calendar-margin: 0 0 0 $rac-offset-4 !default;
$rac-date-field-calendars-selected-quick-action-background: $rac-color-2-3 !default;
$rac-date-field-calendars-selected-quick-action-content-color: $rac-primary-color-poseidon-0 !default;

/************************/
/* @stable [16.03.2020] */
/************************/
$rac-place-dialog-body-height: 80vh !default;
$rac-place-dialog-body-min-width: 90vw !default;
$rac-place-dialog-title-font-size: $rac-primary-font-size-0 !default;
$rac-place-dialog-title-margin: 0 0 $rac-primary-offset-3 0 !default;

/************************/
/* @stable [16.03.2020] */
/************************/
$rac-preview-dialog-body-content-padding: 0 $rac-primary-offset-3 !default;
$rac-preview-dialog-body-content-wrapper-overflow: hidden !default;
$rac-preview-dialog-body-content-wrapper-padding: 0 !default;
$rac-preview-dialog-body-max-width: 80vw !default;
$rac-preview-dialog-body-min-height: 80vh !default;
$rac-preview-dialog-extra-action-background: $rac-primary-color-metis-0-2 !default;
$rac-preview-dialog-extra-action-border-radius: 50% !default;
$rac-preview-dialog-extra-actions-neighbor-child-margin: $rac-primary-offset-3 0 0 0 !default;
$rac-preview-dialog-extra-actions-position: absolute !default;
$rac-preview-dialog-extra-actions-right: $rac-primary-offset-3 !default;
$rac-preview-dialog-extra-actions-top: 50% !default;
$rac-preview-dialog-extra-actions-transform: translateY(-50%) !default;

  /* @stable [31.05.2019] */
$rac-switch-thumb-cls: rac-switch__thumb;
/**/
$rac-switch-thumb--disabled-opacity: .5 !default;
$rac-switch-thumb--offset: 2px !default;
/**/
$rac-switch-thumb--checked-transition: transform 300ms !default;
$rac-switch-thumb-background: $rac-primary-color-poseidon-0 !default;
$rac-switch-thumb-size: 20px !default;
$rac-switch-thumb-top: $rac-switch-thumb--offset !default;
$rac-switch-thumb-border-radius: $rac-switch-thumb-size / 2 !default;
$rac-switch-thumb-position: absolute !default;
$rac-switch-thumb-enabled-box-shadow: 0 2px 4px 0 $rac-primary-color-metis-2 !default;
$rac-switch-thumb-checked-transform: translateX(calc(100% - 2px)) !default;
$rac-switch-thumb-checked-transition: $rac-switch-thumb--checked-transition !default;
$rac-switch-thumb-unchecked-transform: translateX($rac-switch-thumb--offset) !default;
$rac-switch-thumb-unchecked-transition: $rac-switch-thumb--checked-transition !default;
$rac-switch-thumb-checked-disabled-opacity: $rac-switch-thumb--disabled-opacity !default;
$rac-switch-thumb-unchecked-enabled-opacity: unset !default;
$rac-switch-thumb-unchecked-disabled-opacity: $rac-switch-thumb--disabled-opacity !default;

/* @stable [15.12.2018] */
$rac-filter-active-content: '●' !default;
$rac-filter-active-color: $rac-color-2-1 !default;
$rac-filter-active-left: unset !default;
$rac-filter-active-top: unset !default;
$rac-filter-active-right: 8px !default;
$rac-filter-active-bottom: 18px !default;
$rac-filter-active-font-size: 18px !default;

/* @stable [24.06.2018] */
$rac-chip-padding: 6px 20px !default;
$rac-chip-margin-right: 8px !default;
$rac-chip-margin-bottom: 4px !default;
$rac-chip-border-radius: 16px !default;
$rac-chip-color: $rac-primary-color-metis-0-10 !default;
$rac-chip-background-size: contain !default;
$rac-chip-background: $color-4 !default;
$rac-chip-icon-width: $rac-icon-width0 !default;
$rac-chip-icon-height: $rac-icon-height0 !default;
$rac-chip-icon-color: $rac-primary-color-metis-0-10 !default;
$rac-chip-description-font-weight: $rac-primary-font-weight-1 !default;
$rac-chip-description-max-width: 120px !default;
$rac-chip-description-font-size: $rac-primary-font-size-0 !default;
$rac-chip-description-line-height: 22px !default;

/* @stable [07.08.2018] */
$rac-sub-header-section-title-color: $rac-primary-color-metis-0-10 !default;
$rac-sub-header-section-title-font-weight: $rac-primary-font-weight-2 !default;
$rac-sub-header-section-title-margin-left: unset !default;
$rac-sub-header-section-title-margin-right: unset !default;
$rac-sub-header-section-title-padding-right: unset !default;
$rac-sub-header-section-title-font-size: 24px !default;

/************************/
/* @stable [17.03.2020] */
/************************/
$rac-empty-picture-viewer-align-items: center !default;
$rac-empty-picture-viewer-display: $rac-primary-display-0 !default;
$rac-empty-picture-viewer-justify-content: center !default;
$rac-full-viewer-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-info-viewer-display: $rac-primary-display-0 !default;
$rac-viewer-content-display: $rac-primary-display-1 !default;
$rac-viewer-content-margin:$rac-primary-margin-0 !default;
$rac-viewer-display: unset !default;
$rac-viewer-preview-icon-color: $rac-primary-color-metis-3 !default;
$rac-viewer-preview-icon-not-hover-display: none !default;
$rac-viewer-preview-icon-size: 40px !default;

/************************/
/* @stable [05.08.2018] */
/************************/
$rac-menu-dialog-icon-close-cls: rac-menu-dialog__icon-close;
/**/
$rac-dialog-color-0: $rac-primary-color-metis-0-10 !default;
$rac-dialog-color-1: $rac-primary-color-metis-1 !default;
$rac-dialog-height-0: 80vh !default;
$rac-dialog-width-0: 50vw !default;
/**/
$rac-dialog-action-height: unset !default;
$rac-dialog-action-width: 160px !default;
$rac-dialog-actions-display: $rac-primary-display-0 !default;
$rac-dialog-actions-flex: $rac-primary-flex-0 !default;
$rac-dialog-actions-justify-content: center !default;
$rac-dialog-actions-margin: $rac-primary-offset-3 $rac-primary-offset-3 0 $rac-primary-offset-3 !default;
$rac-dialog-actions-neighbor-child-margin: 0 0 0 $rac-primary-offset-1 !default;
$rac-dialog-body-display: unset !default;
$rac-dialog-body-title-border-bottom: 1px solid $rac-dialog-color-1 !default;
$rac-dialog-body-title-font-weight: $rac-primary-font-weight-2 !default;
$rac-dialog-body-title-margin: 0 $rac-primary-offset-3 $rac-primary-offset-3 $rac-primary-offset-3 !default;
$rac-dialog-body-title-padding: 0 0 12px 0 !default;
/**/
$rac-modal-dialog-height: 100% !default;
$rac-modal-dialog-left: 0 !default;
$rac-modal-dialog-position: absolute !default;
$rac-modal-dialog-top: 0 !default;
$rac-modal-dialog-width: 100% !default;
$rac-modal-dialog-z-index: $rac-primary-z-index-2 !default;
/**/
$rac-menu-dialog-base-text-field-margin: 0 0 $rac-primary-offset-1 0 !default;
$rac-menu-dialog-base-text-self-field-background: $rac-field-color-1 !default;
$rac-menu-dialog-base-text-self-field-height: $rac-field-height-1 !default;
$rac-menu-dialog-body-background: unset !default;
$rac-menu-dialog-body-justify-content: unset !default;
$rac-menu-dialog-empty-message-align-items: center !default;
$rac-menu-dialog-empty-message-color: $rac-primary-color-metis-0-10 !default;
$rac-menu-dialog-empty-message-display: $rac-primary-display-0 !default;
$rac-menu-dialog-empty-message-flex: unset !default;
$rac-menu-dialog-empty-message-font-size: $rac-primary-font-size-0 !default;
$rac-menu-dialog-empty-message-height: 100% !default;
$rac-menu-dialog-empty-message-justify-content: center !default;
$rac-menu-dialog-empty-message-padding: unset !default;
$rac-menu-dialog-empty-message-width: 100% !default;
$rac-menu-dialog-list-background: $rac-dialog-color-0 !default;
$rac-menu-dialog-list-item-box-sizing: border-box !default;
$rac-menu-dialog-list-item-decorated-content-text-align: right !default;
$rac-menu-dialog-list-item-font-weight: $rac-primary-font-weight-1 !default;
$rac-menu-dialog-list-item-line-height: $rac-primary-line-height-2 !default;
$rac-menu-dialog-list-overflow: auto !default;
/**/
$rac-menu-anchored-dialog-body-background: unset !default;
$rac-menu-anchored-dialog-body-content-wrapper-background: $rac-primary-color-poseidon-0 !default;
$rac-menu-anchored-dialog-body-content-wrapper-border-radius: $rac-primary-border-radius-1 !default;
$rac-menu-anchored-dialog-body-content-wrapper-box-shadow: 0 5px 10px 0 $rac-primary-color-metis-2 !default;
$rac-menu-anchored-dialog-body-content-wrapper-margin: unset !default;
$rac-menu-anchored-dialog-body-display: inline-block !default;
$rac-menu-anchored-dialog-body-margin: unset !default;
$rac-menu-anchored-dialog-body-min-width: 160px !default;
$rac-menu-anchored-dialog-list-background: 0 !default;
$rac-menu-anchored-dialog-list-item-border-bottom: 1px solid $rac-primary-color-elara-1 !default;
$rac-menu-anchored-dialog-list-item-color: $rac-primary-color-metis-0-10 !default;
$rac-menu-anchored-dialog-list-item-font-size: unset !default;
$rac-menu-anchored-dialog-list-item-hover-background: $rac-primary-color-elara-2 !default;
$rac-menu-anchored-dialog-list-item-hover-border-bottom: 1px solid transparent !default;
$rac-menu-anchored-dialog-list-item-hover-color: $rac-primary-color-metis-0-10 !default;
$rac-menu-anchored-dialog-list-item-icon-color: unset !default;
$rac-menu-anchored-dialog-list-item-last-border-bottom-color: transparent !default;
$rac-menu-anchored-dialog-list-item-line-height: unset !default;
$rac-menu-anchored-dialog-list-item-odd-background: unset !default;
$rac-menu-anchored-dialog-list-item-selected-background: $rac-color-2-3 !default;
$rac-menu-anchored-dialog-list-item-selected-color: $rac-primary-color-poseidon-0 !default;
$rac-menu-anchored-dialog-list-margin: unset !default;
$rac-menu-anchored-dialog-list-padding: $rac-primary-offset-1 0 !default;
$rac-menu-anchored-dialog-z-index: $rac-primary-z-index-2 !default;
/**/
$rac-menu-anchored-height-restricted-dialog-max-height: 200px !default;
/**/
$rac-menu-not-anchored-dialog-align-items: center !default;
$rac-menu-not-anchored-dialog-body-display: $rac-primary-display-0 !default;
$rac-menu-not-anchored-dialog-body-height: $rac-dialog-height-0 !default;
$rac-menu-not-anchored-dialog-body-width: $rac-dialog-width-0 !default;
$rac-menu-not-anchored-dialog-display: $rac-primary-display-0 !default;
$rac-menu-not-anchored-dialog-justify-content: center !default;
$rac-menu-not-anchored-dialog-list-border-radius: $rac-primary-border-radius-1 !default;
$rac-menu-not-anchored-dialog-list-item-odd-background: $rac-primary-color-metis-0 !default;
/**/
$rac-menu-dialog-icon-close-color: $rac-dialog-color-0 !default;
$rac-menu-dialog-icon-close-margin: 0 0 $rac-primary-offset-1 auto !default;
$rac-menu-dialog-icon-close-size: 24px !default;

/* @stable [03.08.2018] */
$rac-dnd-border: 1px dashed $color-4 !default;
$rac-dnd-font-size: $rac-primary-font-size-0 !default;
$rac-dnd-border-radius: 8px !default;
$rac-dnd-padding: 24px 0 !default;

/************************/
/* @stable [13.02.2020] */
/************************/
$rac-form-layout-align-items: center !default;
$rac-form-layout-background-size: cover !default;
$rac-form-layout-background: unset !default;
$rac-form-layout-content-border: unset !default;
$rac-form-layout-content-margin: unset !default;
$rac-form-layout-content-position: relative !default;
$rac-form-layout-content-width: 280px !default;
$rac-form-layout-display: flex !default;
$rac-form-layout-field-margin: 0 0 $rac-primary-offset-1 0 !default;
$rac-form-layout-flex-direction: unset !default;
$rac-form-layout-flex: 1 !default;
$rac-form-layout-form-actions-margin: $rac-primary-offset-3 0 0 0 !default;
$rac-form-layout-justify-content: center !default;
$rac-form-layout-self-field-background: unset !default;
$rac-form-layout-self-field-border-radius: unset !default;
$rac-form-layout-self-field-border: 0 !default;
$rac-form-layout-self-field-focused-background: $rac-primary-color-metis-0-10 !default;
$rac-form-layout-self-field-focused-icon-color: $rac-primary-color-metis-3 !default;
$rac-form-layout-self-field-focused-input-color: $rac-primary-color-poseidon-0 !default;
$rac-form-layout-self-field-focused-input-placeholder-color: $rac-color-0-12 !default;
$rac-form-layout-self-field-height: unset !default;
$rac-form-layout-self-field-icon-color: $rac-primary-color-elara-5 !default;
$rac-form-layout-self-field-icon-padding: unset !default;
$rac-form-layout-self-field-input-caret-bottom: unset !default;
$rac-form-layout-self-field-input-color: unset !default;
$rac-form-layout-self-field-input-font-size: unset !default;
$rac-form-layout-self-field-input-placeholder-color: $rac-primary-color-elara-5 !default;
$rac-form-layout-top-header-background-size: contain !default;
$rac-form-layout-top-header-background: unset !default;
$rac-form-layout-top-header-height: unset !default;
$rac-form-layout-top-header-margin: unset !default;

/* @stable [13.08.2018] */
$rac-snackbar-z-index: $snackbar-z-index !default;
$rac-snackbar-background-color: $rac-primary-color-poseidon-0 !default;
$rac-snackbar-text-font-size: $rac-primary-font-size-0 !default;
$rac-snackbar-text-height: auto !default;
$rac-snackbar-text-min-height: 48px !default;
$rac-snackbar-button-font-size: $rac-primary-font-size-0 !default;
$rac-snackbar-button-background-color: transparent !default;
$rac-snackbar-button-color: $rac-primary-color-metis-0-10 !default;
$rac-snackbar-error-button-color: $rac-snackbar-button-color !default;
$rac-snackbar-error-background-color: $color-11 !default;

/************************/
/* @stable [05.02.2020] */
/************************/
$rac-default-layout-full-cls: rac-default-layout-full;
$rac-default-layout-mini-cls: rac-default-layout-mini;
$rac-default-layout-without-sub-header-cls: rac-default-layout-without-sub-header;
/**/
$rac-default-layout-display-0: flex !default;
/**/
$rac-default-layout-body-display: $rac-default-layout-display-0 !default;
$rac-default-layout-body-flex-direction: column !default;
$rac-default-layout-body-flex: 1 !default;
$rac-default-layout-display: $rac-default-layout-display-0 !default;
$rac-default-layout-flex-direction: unset !default;
$rac-default-layout-flex: 1 !default;
$rac-default-layout-header-actions-align-items: unset !default;
$rac-default-layout-header-actions-display: unset !default;
$rac-default-layout-header-actions-margin: unset !default;
$rac-default-layout-header-color: unset !default;
$rac-default-layout-header-display: $rac-default-layout-display-0 !default;
$rac-default-layout-header-flex-direction: unset !default;
$rac-default-layout-header-flex: unset !default;
$rac-default-layout-header-height: 56px !default;
$rac-default-layout-header-padding: 0 $rac-offset-7 !default;
$rac-default-layout-header-user-avatar-background-size: unset !default;
$rac-default-layout-header-user-avatar-border-radius: unset !default;
$rac-default-layout-header-user-avatar-height: unset !default;
$rac-default-layout-header-user-avatar-margin: unset !default;
$rac-default-layout-header-user-avatar-width: unset !default;
$rac-default-layout-header-user-info-margin: unset !default;
$rac-default-layout-main-background: unset !default;
$rac-default-layout-main-body-content-display: $rac-default-layout-display-0 !default;
$rac-default-layout-main-body-content-flex-direction: column !default;
$rac-default-layout-main-body-content-flex: 1 !default;
$rac-default-layout-main-body-content-height: 100% !default;
$rac-default-layout-main-body-content-width: unset !default;
$rac-default-layout-main-body-height: 100% !default;
$rac-default-layout-main-body-overflow: auto !default;
$rac-default-layout-main-body-position: absolute !default;
$rac-default-layout-main-body-width: 100% !default;
$rac-default-layout-main-display: unset !default;
$rac-default-layout-main-position: relative !default;
$rac-default-layout-without-sub-header-main-body-content-padding-top: unset !default;
//
$rac-default-layout-drawer-header-align-items: unset !default;
$rac-default-layout-drawer-header-cursor: pointer !default;
$rac-default-layout-drawer-header-display: $rac-default-layout-display-0 !default;
$rac-default-layout-drawer-header-flex-direction: unset !default;
$rac-default-layout-drawer-header-height: 56px !default;
$rac-default-layout-drawer-header-position: relative !default;
/**/
$rac-default-layout-form-actions-border-top: unset !default;
$rac-default-layout-form-actions-margin: $rac-primary-offset-3 0 0 0 !default;
$rac-default-layout-form-actions-padding: $rac-primary-offset-3 0 0 0 !default;
$rac-default-layout-header-user-color: $rac-primary-color-poseidon-0 !default;
$rac-default-layout-header-user-font-size: 14px !default;
$rac-default-layout-header-user-font-weight: $rac-primary-font-weight-2 !default;
$rac-default-layout-logo-menu-icon-color: $rac-primary-color-metis-0-10 !default;
$rac-default-layout-logo-menu-icon-height: 100% !default;
$rac-default-layout-logo-menu-icon-margin-right: $rac-primary-offset-3 !default;
$rac-default-layout-notifications-background: $color-3 !default;
$rac-default-layout-notifications-width: 400px !default;
$rac-default-layout-sub-header-bordered-border-bottom: unset !default;
$rac-default-layout-sub-header-bordered-margin: unset !default;
$rac-default-layout-sub-header-button-navigation-margin: 0 16px 0 0 !default;
$rac-default-layout-sub-header-height: 84px !default;

/* @stable [25.09.2018] */
$rac-chart-canvas-wrapper-width: 100% !default;
$rac-chart-canvas-wrapper-height: 100% !default;

/************************/
/* @stable [09.02.2020] */
/************************/
$rac-title-display-0: flex !default;
$rac-title-offset-0: $rac-primary-offset-2 !default;
/**/
$rac-title-align-items: center !default;
$rac-title-border-bottom: 1px solid $rac-primary-color-metis-1 !default;
$rac-title-content-edge-background: unset !default;
$rac-title-content-edge-border-radius: unset !default;
$rac-title-content-edge-box-shadow: unset !default;
$rac-title-content-edge-height: unset !default;
$rac-title-content-edge-margin: unset !default;
$rac-title-content-edge-width: unset !default;
$rac-title-content-font-size: $rac-primary-font-size-2 !default;
$rac-title-content-font-weight: $rac-primary-font-weight-2 !default;
$rac-title-content-line-height: unset !default;
$rac-title-content-margin: unset !default;
$rac-title-content-padding: 0 0 $rac-title-offset-0 0 !default;
$rac-title-display: $rac-title-display-0 !default;
$rac-title-flex: $rac-primary-flex-0 !default;
$rac-title-margin: 0 0 $rac-offset-5 0 !default;
$rac-title-right-content-align-items: unset !default;
$rac-title-right-content-color: unset !default;
$rac-title-right-content-display: $rac-title-display-0 !default;
$rac-title-right-content-flex-direction: unset !default;
$rac-title-right-content-flex: unset !default;
$rac-title-right-content-font-size: unset !default;
$rac-title-right-content-font-weight: unset !default;
$rac-title-right-content-justify-content: unset !default;
$rac-title-right-content-padding: 0 0 $rac-title-offset-0 0 !default;
$rac-title-white-space: nowrap !default;

/* @stable [24.03.2019] */
$rac-google-maps-body-flex: 1 !default;
$rac-google-maps-display: flex !default;
$rac-google-maps-flex: 1 !default;
$rac-google-maps-position: relative !default;

/* @stable [16.12.2019] */
$rac-cron-days-cls: rac-cron-days;
$rac-cron-field-cls: rac-cron-field;
/**/
$rac-cron-field-labeled-cls: '#{$rac-cron-field-cls}.#{$rac-field-labeled-cls}';
/**/
$rac-cron-calendar-width: 240px !default;
$rac-cron-calendar-wrapper-background: $rac-primary-color-metis-0 !default;
$rac-cron-calendar-wrapper-border-radius: $rac-primary-border-radius-1 !default;
$rac-cron-calendar-wrapper-flex: 1 !default;
$rac-cron-calendar-wrapper-padding: 6px $rac-primary-offset-0 !default;
$rac-cron-field-self-field-input-wrapper-flex: 1 !default;

/* @stable [21.01.2020] */
$rac-calendar-current-day-cls: rac-calendar__current-day;
$rac-calendar-first-selected-day-cls: rac-calendar__first-selected-day;
$rac-calendar-last-selected-day-cls: rac-calendar__last-selected-day;
$rac-calendar-middle-selected-day-cls: rac-calendar__middle-selected-day;
$rac-calendar-selected-day-cls: rac-calendar__selected-day;
$rac-calendar-today-cls: rac-calendar__today;
/**/
$rac-calendar-size-0: 28px !default;
$rac-calendar-offset-0: 2px !default;
/**/
$rac-calendar-body-background: unset !default;
$rac-calendar-body-border: 0 !default;
$rac-calendar-cell-padding-left: 0 !default;
$rac-calendar-cell-padding-right: 0 !default;
$rac-calendar-current-day-font-weight: $rac-primary-font-weight-2 !default;
$rac-calendar-day-border-radius: $rac-calendar-size-0 / 2 !default;
$rac-calendar-day-cursor: pointer !default;
$rac-calendar-day-margin: 0 auto !default;
$rac-calendar-day-no-user-select: true !default;
$rac-calendar-day-size: $rac-calendar-size-0 !default;
$rac-calendar-day-wrapper-padding-bottom: $rac-calendar-offset-0 !default;
$rac-calendar-day-wrapper-padding-top: $rac-calendar-offset-0 !default;
$rac-calendar-head-background: unset !default;
$rac-calendar-margin: 0 auto !default;
$rac-calendar-today-color: $rac-primary-color-dia-0 !default;

/************************/
/* @stable [10.02.2020] */
/************************/
$rac-header-color-0: unset !default;
$rac-header-display-0: flex !default;
$rac-header-size-0: 24px !default;
/**/
$rac-header-actions-align-items: center !default;
$rac-header-actions-display: $rac-header-display-0 !default;
$rac-header-actions-margin: 0 0 0 auto !default;
$rac-header-back-action-icon-color: $rac-header-color-0 !default;
$rac-header-back-action-margin: 0 $rac-primary-offset-3 0 0 !default;
$rac-header-content-align-items: center !default;
$rac-header-content-display: $rac-header-display-0 !default;
$rac-header-content-flex-direction: unset !default;
$rac-header-content-flex: 1 !default;
$rac-header-menu-action-color: unset !default;
$rac-header-menu-action-icon-color:  $rac-header-color-0 !default;
$rac-header-menu-action-icon-size: unset !default;
$rac-header-user-avatar-background-size: cover !default;
$rac-header-user-avatar-border-radius: $rac-header-size-0 / 2 !default;
$rac-header-user-avatar-height: $rac-header-size-0 !default;
$rac-header-user-avatar-margin: 0 $rac-primary-offset-1 0 0 !default;
$rac-header-user-avatar-width: $rac-header-size-0 !default;
