$opacity: .6 !default;
$opacity-label: .7 !default;
$opacity-text: .5 !default;
$color-1: #d50000 !default;
$color-2: #212121 !default;
$color-3: #e0e0e0 !default;
$color-4: #989898 !default;
$color-5: #ffffff !default;
$color-6: #f96f00 !default;
$color-7: #d4e4fe !default;
$color-9: #787878 !default;
$color-10: #e1e1e1 !default;
$color-11: #ff0000 !default;

$rac-snackbar-action-button-ink-color: $color-1 !default;

/* @stable - 08.04.2018 */
$rac-add-button-background-color: $color-2 !default;

/* @stable - 08.04.2018 */
$rac-loading-message-color: $color-2 !default;

/* @stable - 08.04.2018 */
$rac-loading-icon-color: $color-2 !default;

/* @stable - 08.04.2018 */
$rac-navigation-icon-padding-right: 32px !default;

/* @stable - 08.04.2018 */
$rac-form-layout-background-color: $color-7 !default;
$rac-form-layout-content-width: 25% !default;
$rac-form-layout-content-min-width: 280px !default;
$rac-form-layout-content-border-color: $color-2 !default;
$rac-form-layout-content-background-color: $color-5 !default;

/* @stable - 08.04.2018 */
$rac-filter-active-color: $color-6 !default;

/* @stable - 08.04.2018 */
$rac-list-item-active-color: $color-5 !default;
$rac-list-item-active-background-color: $color-1 !default;

/**/
$rac-button-accent-fill-color: $color-1 !default;
$rac-button-disabled-opacity: $opacity !default;
$rac-button-border-radius: 2px !default;

$rac-header-action-color: $color-5 !default;
$rac-header-search-field-color: $color-5 !default;
$rac-header-search-animation-duration: 0.3s !default;

$rac-profile-icon-background-color: $color-9 !default;
$rac-profile-icon-color: $color-5 !default;

$rac-toolbar-fill-color: $color-5 !default;
$rac-toolbar-info-color: $color-2 !default;
$rac-toolbar-info-font-weight: bold !default;

$rac-drop-zone-border-color: $color-4 !default;
$rac-drop-zone-border-width: 2px !default;

$rac-default-offset: 16px !default;

$rac-menu-icon-right-offset: 32px !default;

$rac-button-within-rac-text-field-color: $color-9;

$rac-disabled-opacity: .2;