$opacity: .6 !default;
$opacity-label: .7 !default;
$opacity-text: .5 !default;
$color-1: #d50000 !default;
$color-2: #212121 !default;
$color-3: #e0e0e0 !default;
$color-4: #989898 !default;
$color-5: #ffffff !default;
$color-6: #f96f00 !default;
$color-7: #d4e4fe !default;
$color-9: #787878 !default;
$color-10: #e1e1e1 !default;
$color-11: #ff0000 !default;
$color-12: #a70101 !default;
$color-13: #1aa51a !default;
$color-14: #f0f0f0 !default;
$color-15: #d0d0d0 !default;

/* @stable [09.05.2018] */
$rac-toolbar-info-color: $color-2 !default;
$rac-toolbar-info-font-weight: bold !default;
$rac-toolbar-pages-info-color: $color-2 !default;

/* @stable [09.05.2018] */
$rac-keyboard-close-color: $color-11 !default;
$rac-keyboard-close-opacity: $opacity !default;
$rac-keyboard-key-opacity: $opacity !default;
$rac-keyboard-key-background-color: $color-10 !default;
$rac-keyboard-key-background-color: $color-10 !default;
$rac-keyboard-key-border-color: $color-1 !default;

/* @stable [23.06.2018] */
$rac-list-item-color: $color-2 !default;
$rac-list-item-font-size: 12px !default;

/* @stable [22.06.2018] */
$rac-navigation-list-item-height: 40px;
$rac-navigation-list-item-padding-left: 24px;
$rac-navigation-list-item-font-size: 14px;
$rac-navigation-list-item-line-height: 14px;
$rac-navigation-list-item-letter-spacing: 1px;
$rac-navigation-list-item-active-border-width: 3px;
$rac-navigation-list-item-active-border-background-color: $color-5 !default;
$rac-navigation-list-item-active-color: $color-5 !default;
$rac-navigation-list-item-active-background-color: $color-1 !default;
$rac-navigation-list-item-active-outline-color: $color-5 !default;
$rac-navigation-list-item-icon-padding-right: 24px !default;
$rac-navigation-list-item-icon-font-size: 20px;

/* @stable [22.06.2018] */
$rac-grid-color: $color-2 !default;
$rac-grid-icon-size: 14px !default;
$rac-grid-icon-line-height: 12px !default;
$rac-grid-actioned-icon-size: 20px !default;
$rac-grid-actioned-color: $color-2 !default;
$rac-grid-actioned-icon-line-height: 18px !default;
$rac-grid-data-row-odd-background-color: $color-14 !default;
$rac-grid-data-row-selected-background-color: $color-15 !default;
$rac-grid-data-row-hover-background-color: $color-10 !default;
$rac-grid-column-content-font-size: 12px !default;
$rac-grid-column-content-letter-spacing: 1px !default;
$rac-grid-column-content-picture-width: 60px !default;

/* @stable [19.06.2018] */
$rac-loading-message-color: $color-2 !default;
$rac-loading-icon-color: $color-2 !default;

$rac-list-item-graphic-background-color: $color-4 !default;

$rac-snackbar-action-button-ink-color: $color-1 !default;

/* @stable - 08.04.2018 */
$rac-add-button-background-color: $color-2 !default;

/* @stable - 08.04.2018 */
$rac-form-layout-background-color: $color-7 !default;
$rac-form-layout-content-width: 25% !default;
$rac-form-layout-content-min-width: 280px !default;
$rac-form-layout-content-border-color: $color-2 !default;
$rac-form-layout-content-background-color: $color-5 !default;

/* @stable - 08.04.2018 */
$rac-filter-active-color: $color-6 !default;

/**/
$rac-button-accent-fill-color: $color-1 !default;
$rac-button-disabled-opacity: $opacity !default;
$rac-button-border-radius: 2px !default;

$rac-header-action-color: $color-5 !default;
$rac-header-search-field-color: $color-5 !default;
$rac-header-search-field-placeholder-color: $color-5 !default;
$rac-header-search-field-border-bottom-color: $color-5 !default;
$rac-header-search-animation-duration: 0.3s !default;

$rac-profile-icon-background-color: $color-9 !default;
$rac-profile-icon-color: $color-5 !default;

$rac-toolbar-fill-color: $color-5 !default;

$rac-drop-zone-border-color: $color-4 !default;
$rac-drop-zone-border-width: 2px !default;

$rac-default-offset: 16px !default;

$rac-menu-icon-right-offset: 20px !default;

$rac-button-within-rac-text-field-color: $color-9;

$rac-disabled-opacity: .2;

$rac-field-input-color: $color-2 !default;