/**
 * @stable [27.10.2018]
 */
@mixin rac-invert($value: 100%) {
  -webkit-filter: invert($value);
  filter: invert($value);
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-flex-width($value) {
  min-width: $value;
  max-width: $value;
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-flex-height($value) {
  min-height: $value;
  max-height: $value;
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-circle($size,
                  $background: unset) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background: $background;
}

/**
 * @stable [28.10.2018]
 */
@mixin rac-shadowed($background: unset,
                    $shadow: unset,
                    $offset1: 0px,
                    $offset2: 4px,
                    $offset3: 3px,
                    $offset4: 0px) {
  @if $background != unset {
    background: $background;
  }
  @if $shadow != unset {
    box-shadow: $offset1 $offset2 $offset3 $offset4 $shadow;
  }
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-google-maps($rac-google-maps-map-min-height: unset) {

  .rac-google-maps {
    .rac-google-maps-map {

      @if $rac-google-maps-map-min-height != unset {
        min-height: $rac-google-maps-map-min-height;
      }
    }
  }
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-field($rac-field-width: unset,
                 $rac-field-max-width: unset,
                 $rac-text-field-background: unset) {

  .rac-field {
    @if $rac-field-width != unset {
      width: $rac-field-width;
    }
    @if $rac-field-max-width != unset {
      max-width: $rac-field-max-width;
    }

    .rac-text-field {
      @if $rac-text-field-background != unset {
        background: $rac-text-field-background;
      }
    }
  }
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-field-custom($rac-field-custom,
                        $rac-field-custom-input-cursor: unset) {

  .rac-field {
    &.#{$rac-field-custom} {

      .rac-text-field {
        .rac-field-input {
          @if $rac-field-custom-input-cursor != unset {
            cursor: $rac-field-custom-input-cursor;
          }
        }
      }
    }
  }
}

/**
 * @stable [31.10.2018]
 */
@mixin _rac-list-item-custom-properties($rac-list-item-custom-background: unset) {

  @if $rac-list-item-custom-background != unset {
    background: $rac-list-item-custom-background;
  }
}

/**
 * @stable [31.10.2018]
 */
@mixin rac-list-item-custom($rac-list-item-custom,
                            $rac-list-item-custom-background: unset) {

  .rac-list {

    .rac-list-item {
      &.#{$rac-list-item-custom} {

        @include _rac-list-item-custom-properties(
          $rac-list-item-custom-background: $rac-list-item-custom-background
        );
      }
    }
  }
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-list($rac-list-item-padding: unset,
                $rac-list-max-height: unset,
                $rac-list-overflow: unset,
                $rac-list-item-graphic-margin: unset,
                $rac-list-item-graphic-size: unset) {

  .rac-list {
    @if $rac-list-max-height != unset {
      max-height: $rac-list-max-height;
    }
    @if $rac-list-overflow != unset {
      overflow: $rac-list-overflow;
    }

    .rac-list-item {
      @if $rac-list-item-padding != unset {
        padding: $rac-list-item-padding;
      }

      .rac-list-item-graphic {
        @if $rac-list-item-graphic-margin != unset {
          margin: $rac-list-item-graphic-margin
        }

        @if $rac-list-item-graphic-size != unset {
          @include rac-circle($rac-list-item-graphic-size);
        }
      }
    }
  }
}

/**
 * @stable [31.10.2018]
 */
@mixin _rac-button-custom-properties($rac-button-custom-color: unset,
                                     $rac-button-custom-height: unset,
                                     $rac-button-custom-margin: unset,
                                     $rac-button-custom-border: unset,
                                     $rac-button-custom-background: unset,
                                     $rac-button-custom-shadow: unset,
                                     $rac-button-custom-hover-background: unset,
                                     $rac-button-custom-hover-shadow: unset,
                                     $rac-button-custom-icon-margin: unset,
                                     $rac-button-custom-content-margin-right: unset,
                                     $rac-button-custom-content-margin-left: unset,
                                     $rac-button-custom-content-padding: unset) {

  @if $rac-button-custom-color != unset {
    color: $rac-button-custom-color;
  }
  @if $rac-button-custom-height != unset {
    height: $rac-button-custom-height;
  }
  @if $rac-button-custom-margin != unset {
    margin: $rac-button-custom-margin;
  }
  @if $rac-button-custom-border != unset {
    border: $rac-button-custom-border;
  }

  .rac-icon {
    @if $rac-button-custom-icon-margin != unset {
      margin: $rac-button-custom-icon-margin;
    }
  }

  .rac-button-content {
    @if $rac-button-custom-content-margin-right != unset {
      margin-right: $rac-button-custom-content-margin-right;
    }
    @if $rac-button-custom-content-margin-left != unset {
      margin-left: $rac-button-custom-content-margin-left;
    }
    @if $rac-button-custom-content-padding != unset {
      padding: $rac-button-custom-content-padding;
    }
  }

  @include rac-shadowed($rac-button-custom-background,
                        $rac-button-custom-shadow);

  &:hover {
    @include rac-shadowed($rac-button-custom-hover-background,
                          $rac-button-custom-hover-shadow);

    &[disabled] {
      @include rac-shadowed($rac-button-custom-background,
                            $rac-button-custom-shadow);
    }
  }
}

/**
 * @stable [31.10.2018]
 */
@mixin rac-button-custom($rac-button-custom,
                         $rac-button-custom-color: unset,
                         $rac-button-custom-background: unset,
                         $rac-button-custom-shadow: unset,
                         $rac-button-custom-hover-background: unset,
                         $rac-button-custom-hover-shadow: unset,
                         $rac-button-custom-icon-margin: unset,
                         $rac-button-content-padding: unset) {

  .rac-button {
    &.#{$rac-button-custom} {

      @include _rac-button-custom-properties(
        $rac-button-custom-color: $rac-button-custom-color,
        $rac-button-custom-background: $rac-button-custom-background,
        $rac-button-custom-shadow: $rac-button-custom-shadow,
        $rac-button-custom-hover-background: $rac-button-custom-hover-background,
        $rac-button-custom-hover-shadow: $rac-button-custom-hover-shadow,
        $rac-button-custom-icon-margin: $rac-button-custom-icon-margin,
        $rac-button-custom-content-padding: $rac-button-content-padding
      );
    }
  }
}

/**
 * @stable [30.10.2018]
 */
@mixin rac-button($rac-button-height: unset,
                  $rac-button-color: unset,
                  $rac-button-background: unset,
                  $rac-button-margin: unset,
                  $rac-button-border: unset,
                  $rac-button-content-margin-right: unset,
                  $rac-button-content-margin-left: unset) {

  .rac-button {
    @include _rac-button-custom-properties(
      $rac-button-custom-height: $rac-button-height,
      $rac-button-custom-color: $rac-button-color,
      $rac-button-custom-background: $rac-button-background,
      $rac-button-custom-margin: $rac-button-margin,
      $rac-button-custom-border: $rac-button-border,
      $rac-button-custom-content-margin-right: $rac-button-content-margin-right,
      $rac-button-custom-content-margin-left: $rac-button-content-margin-left
    );
  }
}

/**
 * @stable [31.10.2018]
 */
@mixin rac-toolbar($rac-toolbar-action-margin: unset) {

  .rac-toolbar {
    .rac-toolbar-action {

      @if $rac-toolbar-action-margin != unset {
        margin: $rac-toolbar-action-margin;
      }
    }
  }
}