/* @stable [18.11.2018] */
$vue-text-field-height: 46px !default;
$vue-text-field-border-radius: 4px !default;

/* @stable [18.11.2018] */
$vue-viewer-scale-action-size: 32px !default;
$vue-viewer-scale-action-position-right: 5% !default;
$vue-viewer-scale-action-position-top: 50% !default;

/* @stable [18.11.2018] */
$vue-popup-body-padding: 16px 16px 0 16px !default;