@import './mixin';

/**
 * @stable [05.01.2019]
 */
@mixin _vue-icon-custom-properties($icon: unset,
                                   $icon-path: unset,
                                   $icon-type: unset,
                                   $icon-background-repeat: unset,
                                   $icon-margin: unset,
                                   $icon-width: unset,
                                   $icon-height: unset,
                                   $icon-position: unset,
                                   $icon-cursor: unset) {
  @if $icon != unset and $icon-path != unset and $icon-type != unset {
    @include rac-styles($rac-styles-background-image: url($icon-path + $icon + '.' + $icon-type));
  }

  @include rac-styles(
    $rac-styles-background-repeat: $icon-background-repeat,
    $rac-styles-margin: $icon-margin,
    $rac-styles-width: $icon-width,
    $rac-styles-height: $icon-height,
    $rac-styles-position: $icon-position,
    $rac-styles-cursor: $icon-cursor
  );
}

/**
 * @stable [05.01.2019]
 */
@mixin vue-icon($icon-custom: unset,
                $icon: unset,
                $icon-type: unset,
                $icon-path: unset,
                $icon-background-repeat: unset,
                $icon-margin: unset,
                $icon-width: unset,
                $icon-height: unset,
                $icon-position: unset,
                $icon-cursor: unset) {
  .vue-icon {
    @if $icon != unset {
      @if $icon-custom != unset {
        &.vue-icon-#{$icon} {
          &.#{$icon-custom} {
            @include _vue-icon-custom-properties(
              $icon: $icon,
              $icon-path: $icon-path,
              $icon-type: $icon-type,
              $icon-background-repeat: $icon-background-repeat,
              $icon-margin: $icon-margin,
              $icon-width: $icon-width,
              $icon-height: $icon-height,
              $icon-position: $icon-position,
              $icon-cursor: $icon-cursor
            );
          }
        }
      } @else {
        &.vue-icon-#{$icon} {
          @include _vue-icon-custom-properties(
            $icon: $icon,
            $icon-path: $icon-path,
            $icon-type: $icon-type,
            $icon-background-repeat: $icon-background-repeat,
            $icon-margin: $icon-margin,
            $icon-width: $icon-width,
            $icon-height: $icon-height,
            $icon-position: $icon-position,
            $icon-cursor: $icon-cursor
          );
        }
      }
    } @else {
      @if $icon-custom != unset {
        &.#{$icon-custom} {
          @include _vue-icon-custom-properties(
            $icon-background-repeat: $icon-background-repeat,
            $icon-margin: $icon-margin,
            $icon-width: $icon-width,
            $icon-height: $icon-height,
            $icon-position: $icon-position,
            $icon-cursor: $icon-cursor
          );
        }
      } @else {
        @include _vue-icon-custom-properties(
          $icon-background-repeat: $icon-background-repeat,
          $icon-margin: $icon-margin,
          $icon-width: $icon-width,
          $icon-height: $icon-height,
          $icon-position: $icon-position,
          $icon-cursor: $icon-cursor
        );
      }
    }
  }
}

/**
 * @stable [18.11.2018]
 */
@mixin vue-popup($vue-popup-custom: unset,
                 $vue-popup-size: unset,
                 $vue-popup-background: unset,
                 $vue-popup-position: unset,
                 $vue-popup-padding: unset,
                 $vue-popup-body-padding: unset,
                 $vue-popup-header-position: unset,
                 $vue-popup-header-right: unset,
                 $vue-popup-header-z-index: unset,
                 $vue-popup-absolute-center-alignment: unset) {

  #{rac-build-cls(vue-popup, $vue-popup-custom)} {
    @if $vue-popup-absolute-center-alignment != unset {
      @include rac-absolute-center-alignment;
    }

    @include rac-styles(
      $rac-styles-size: $vue-popup-size,
      $rac-styles-position: $vue-popup-position,
      $rac-styles-background: $vue-popup-background,
      $rac-styles-padding: $vue-popup-padding
    );

    @include rac-styles(
      $rac-styles-custom: vue-popup-body,
      $rac-styles-padding: $vue-popup-body-padding
    );

    @include rac-styles(
      $rac-styles-custom: vue-popup-header,
      $rac-styles-position: $vue-popup-header-position,
      $rac-styles-z-index: $vue-popup-header-z-index,
      $rac-styles-right: $vue-popup-header-right
    );
  }
}

/**
 * @stable [06.01.2019]
 */
@mixin vue-viewer-preview($vue-viewer-preview-custom: unset,
                          $vue-viewer-preview-position: unset,
                          $vue-viewer-preview-border-radius: unset,
                          $vue-viewer-preview-background-size: unset,
                          $vue-viewer-preview-background-repeat: unset,
                          $vue-viewer-preview-background-position: unset) {

  #{rac-build-cls(vue-viewer-preview, $vue-viewer-preview-custom)} {
    @include rac-styles(
      $rac-styles-position: $vue-viewer-preview-position,
      $rac-styles-border-radius: $vue-viewer-preview-border-radius,
      $rac-styles-background-size: $vue-viewer-preview-background-size,
      $rac-styles-background-repeat: $vue-viewer-preview-background-repeat,
      $rac-styles-background-position: $vue-viewer-preview-background-position
    );
  }
}

/**
 * @stable [20.01.2019]
 */
@mixin vue-viewer($vue-viewer-custom: unset,
                  $vue-viewer-border: unset,
                  $vue-viewer-preview-custom: unset,
                  $vue-viewer-preview-border-radius: unset,
                  $vue-viewer-preview-background-size: unset,
                  $vue-viewer-preview-background-repeat: unset,
                  $vue-viewer-preview-background-position: unset,
                  $vue-viewer-preview-attachment-position: unset) {

  #{rac-build-cls(vue-viewer, $vue-viewer-custom)} {
    @include rac-styles(
      $rac-styles-border: $vue-viewer-border
    );

    @include rac-styles(
      $rac-styles-custom: vue-viewer-preview-attachment,
      $rac-styles-position: $vue-viewer-preview-attachment-position
    );

    @include vue-viewer-preview(
      $vue-viewer-preview-custom: $vue-viewer-preview-custom,
      $vue-viewer-preview-border-radius: $vue-viewer-preview-border-radius,
      $vue-viewer-preview-background-size: $vue-viewer-preview-background-size,
      $vue-viewer-preview-background-repeat: $vue-viewer-preview-background-repeat,
      $vue-viewer-preview-background-position: $vue-viewer-preview-background-position
    );
  }
}

/**
 * @stable [19.01.2019]
 */
@mixin vue-button($vue-button-custom: unset,
                  $vue-button-font-size: unset,
                  $vue-button-padding: unset,
                  $vue-button-border: unset,
                  $vue-button-color: unset,
                  $vue-button-border-radius: unset,
                  $vue-button-background: unset,
                  $vue-button-cursor: unset,
                  $vue-button-opacity: unset) {
  #{rac-build-cls(vue-button, $vue-button-custom)} {
    @include rac-styles(
      $rac-styles-padding: $vue-button-padding,
      $rac-styles-font-size: $vue-button-font-size,
      $rac-styles-border: $vue-button-border,
      $rac-styles-border-radius: $vue-button-border-radius,
      $rac-styles-background: $vue-button-background,
      $rac-styles-color: $vue-button-color,
      $rac-styles-cursor: $vue-button-cursor,
      $rac-styles-opacity: $vue-button-opacity
    );
  }
}

/**
 * @stable [19.11.2018]
 */
@mixin vue-field($vue-field-custom: unset,
                 $vue-field-height: unset,
                 $vue-field-padding: unset,
                 $vue-field-margin: unset,
                 $vue-field-position: unset,
                 $vue-field-border-radius: unset,
                 $vue-field-border: unset,
                 $vue-field-label-color: unset,
                 $vue-field-float-label-color: unset,
                 $vue-field-float-label-font-size: unset,
                 $vue-field-float-label-padding: unset,
                 $vue-field-float-label-display: unset,
                 $vue-field-float-label-absolute: unset,
                 $vue-field-input-border: unset,
                 $vue-field-input-padding: unset,
                 $vue-field-input-font-size: unset,
                 $vue-field-input-background: unset,
                 $vue-field-input-wrapper-height: unset,
                 $vue-field-input-wrapper-width: unset,
                 $vue-field-input-wrapper-position: unset,
                 $vue-field-attachment-wrapper-width: unset,
                 $vue-field-attachment-content-border: unset,
                 $vue-field-attachment-content-width: unset,
                 $vue-field-attachment-content-height: unset,
                 $vue-field-attachment-content-margin: unset,
                 $vue-field-attachment-content-float: unset,
                 $vue-field-attachment-content-border-radius: unset,
                 $vue-field-attachment-content-padding: unset,
                 $vue-field-attachment-content-picture-viewer-border: unset,
                 $vue-field-attachment-content-picture-viewer-preview-border-radius: unset,
                 $vue-field-attachment-content-picture-viewer-preview-attachment-position: unset,
                 $vue-field-attachment-dnd-message-padding: unset,
                 $vue-field-attachment-dnd-message-font-size: unset,
                 $vue-field-attachment-dnd-message-background-repeat: unset,
                 $vue-field-attachment-dnd-message-background-position: unset,
                 $vue-field-attachment-placeholder-padding: unset,
                 $vue-field-attachment-placeholder-font-size: unset,
                 $vue-field-icon-width: unset,
                 $vue-field-icon-height: unset,
                 $vue-field-icon-margin: unset,
                 $vue-field-icon-position: unset,
                 $vue-field-icon-cursor: unset) {

  #{rac-build-cls(vue-field, $vue-field-custom)} {
    @include rac-styles(
      $rac-styles-position: $vue-field-position,
      $rac-styles-padding: $vue-field-padding,
      $rac-styles-margin: $vue-field-margin,
      $rac-styles-border-radius: $vue-field-border-radius,
      $rac-styles-border: $vue-field-border
    );
    @if $vue-field-height != unset {
      @include rac-flex-height($vue-field-height);
    }

    @include rac-styles(
      $rac-styles-custom: vue-field-input-wrapper,
      $rac-styles-height: $vue-field-input-wrapper-height,
      $rac-styles-width: $vue-field-input-wrapper-width,
      $rac-styles-position: $vue-field-input-wrapper-position
    );

    @include rac-styles(
      $rac-styles-custom: vue-field-attachment-wrapper,
      $rac-styles-width: $vue-field-attachment-wrapper-width
    );

    @include rac-styles(
      $rac-styles-custom: vue-field-attachment-content,
      $rac-styles-border: $vue-field-attachment-content-border,
      $rac-styles-float: $vue-field-attachment-content-float,
      $rac-styles-width: $vue-field-attachment-content-width,
      $rac-styles-height: $vue-field-attachment-content-height,
      $rac-styles-margin: $vue-field-attachment-content-margin,
      $rac-styles-border-radius: $vue-field-attachment-content-border-radius
    );

    @include rac-styles(
      $rac-styles-custom: 'vue-field-attachment-content.vue-field-attachment-content-with-placeholder',
      $rac-styles-padding: $vue-field-attachment-content-padding
    );

    @include vue-viewer(
      $vue-viewer-custom: 'vue-field-attachment-content.vue-picture-viewer',
      $vue-viewer-border: $vue-field-attachment-content-picture-viewer-border,
      $vue-viewer-preview-border-radius: $vue-field-attachment-content-picture-viewer-preview-border-radius,
      $vue-viewer-preview-attachment-position: $vue-field-attachment-content-picture-viewer-preview-attachment-position
    );

    @include rac-styles(
      $rac-styles-custom: vue-field-input,
      $rac-styles-border: $vue-field-input-border,
      $rac-styles-padding: $vue-field-input-padding,
      $rac-styles-font-size: $vue-field-input-font-size,
      $rac-styles-background: $vue-field-input-background
    );

    @include vue-icon(
      $icon-custom: vue-field-icon,
      $icon-margin: $vue-field-icon-margin,
      $icon-width: $vue-field-icon-width,
      $icon-height: $vue-field-icon-height,
      $icon-position: $vue-field-icon-position,
      $icon-cursor: $vue-field-icon-cursor
    );

    @include rac-styles(
      $rac-styles-custom: vue-field-attachment-dnd-message,
      $rac-styles-background-position: $vue-field-attachment-dnd-message-background-position,
      $rac-styles-background-repeat: $vue-field-attachment-dnd-message-background-repeat,
      $rac-styles-padding: $vue-field-attachment-dnd-message-padding,
      $rac-styles-font-size: $vue-field-attachment-dnd-message-font-size
    );

    @include rac-styles(
      $rac-styles-custom: vue-field-attachment-placeholder,
      $rac-styles-padding: $vue-field-attachment-placeholder-padding,
      $rac-styles-font-size: $vue-field-attachment-placeholder-font-size
    );

    .vue-field-label {
      @include rac-styles(
        $rac-styles-color: $vue-field-label-color
      );

      &.vue-field-float-label {
        @include rac-styles(
          $rac-styles-font-size: $vue-field-float-label-font-size,
          $rac-styles-padding: $vue-field-float-label-padding,
          $rac-styles-display: $vue-field-float-label-display,
          $rac-styles-color: $vue-field-float-label-color
        );

        @if $vue-field-float-label-absolute != unset {
          @include rac-styles(
            $rac-styles-position: absolute,
            $rac-styles-left: 0,
            $rac-styles-top: 0
          );
        }
      }
    }
  }
}

/**
 * @stable [24.11.2018]
 */
@mixin _vue-menu-custom-properties($vue-menu-list-padding: unset,
                                   $vue-menu-list-max-height: unset,
                                   $vue-menu-list-empty-item-padding: unset,
                                   $vue-menu-list-item-white-space: unset,
                                   $vue-menu-list-item-height: unset,
                                   $vue-menu-list-item-padding: unset,
                                   $vue-menu-list-item-margin: unset,
                                   $vue-menu-list-item-border-radius: unset,
                                   $vue-menu-list-item-hover-background: unset,
                                   $vue-menu-list-item-content-text-overflow: unset) {

  .vue-menu-list {
    @include rac-styles(
      $rac-styles-padding: $vue-menu-list-padding,
      $rac-styles-max-height: $vue-menu-list-max-height
    );

    @include rac-styles(
      $rac-styles-custom: vue-menu-list-item,
      $rac-styles-white-space: $vue-menu-list-item-white-space,
      $rac-styles-height: $vue-menu-list-item-height,
      $rac-styles-padding: $vue-menu-list-item-padding,
      $rac-styles-margin: $vue-menu-list-item-margin,
      $rac-styles-border-radius: $vue-menu-list-item-border-radius
    );

    @include rac-styles(
      $rac-styles-custom: 'vue-menu-list-item:hover',
      $rac-styles-background: $vue-menu-list-item-hover-background
    );

    @include rac-styles(
      $rac-styles-custom: vue-menu-list-empty-item,
      $rac-styles-padding: $vue-menu-list-empty-item-padding
    );

    .vue-menu-list-item-content {
      @if $vue-menu-list-item-content-text-overflow != unset {
        @include rac-overflow($vue-menu-list-item-content-text-overflow);
      }
    }
  }
}

/**
 * @stable [24.11.2018]
 */
@mixin vue-menu($vue-menu-custom: unset,
                $vue-menu-list-padding: unset,
                $vue-menu-list-max-height: unset,
                $vue-menu-list-empty-item-padding: unset,
                $vue-menu-list-item-white-space: unset,
                $vue-menu-list-item-height: unset,
                $vue-menu-list-item-padding: unset,
                $vue-menu-list-item-margin: unset,
                $vue-menu-list-item-border-radius: unset,
                $vue-menu-list-item-hover-background: unset,
                $vue-menu-list-item-content-text-overflow: unset  ) {
  @if $vue-menu-custom != unset {
    .vue-menu {
      &.#{$vue-menu-custom} {
        @include _vue-menu-custom-properties(
          $vue-menu-list-padding: $vue-menu-list-padding,
          $vue-menu-list-max-height: $vue-menu-list-max-height,
          $vue-menu-list-empty-item-padding: $vue-menu-list-empty-item-padding,
          $vue-menu-list-item-white-space: $vue-menu-list-item-white-space,
          $vue-menu-list-item-height: $vue-menu-list-item-height,
          $vue-menu-list-item-padding: $vue-menu-list-item-padding,
          $vue-menu-list-item-margin: $vue-menu-list-item-margin,
          $vue-menu-list-item-border-radius: $vue-menu-list-item-border-radius,
          $vue-menu-list-item-hover-background: $vue-menu-list-item-hover-background,
          $vue-menu-list-item-content-text-overflow: $vue-menu-list-item-content-text-overflow
        );
      }
    }
  } @else {
    .vue-menu {
      @include _vue-menu-custom-properties(
        $vue-menu-list-padding: $vue-menu-list-padding,
        $vue-menu-list-max-height: $vue-menu-list-max-height,
        $vue-menu-list-empty-item-padding: $vue-menu-list-empty-item-padding,
        $vue-menu-list-item-white-space: $vue-menu-list-item-white-space,
        $vue-menu-list-item-height: $vue-menu-list-item-height,
        $vue-menu-list-item-padding: $vue-menu-list-item-padding,
        $vue-menu-list-item-margin: $vue-menu-list-item-margin,
        $vue-menu-list-item-border-radius: $vue-menu-list-item-border-radius,
        $vue-menu-list-item-hover-background: $vue-menu-list-item-hover-background,
        $vue-menu-list-item-content-text-overflow: $vue-menu-list-item-content-text-overflow
      );
    }
  }
}

/**
 * @stable [26.11.2018]
 */
@mixin _vue-form-custom-properties($vue-form-title-font-size: unset,
                                   $vue-form-title-font-weight: unset,
                                   $vue-form-title-padding: unset,
                                   $vue-form-header-height: unset,
                                   $vue-form-header-padding: unset,
                                   $vue-form-field-margin: unset) {
  .vue-form-header {
    @include rac-styles(
      $rac-styles-padding: $vue-form-header-padding
    );

    @if $vue-form-header-height != unset {
      @include rac-flex-height($vue-form-header-height);
    }

    @include rac-styles(
      $rac-styles-custom: vue-form-title,
      $rac-styles-font-size: $vue-form-title-font-size,
      $rac-styles-font-weight: $vue-form-title-font-weight,
      $rac-styles-padding: $vue-form-title-padding
    );
  }

  @if $vue-form-field-margin != unset {
    @include vue-field($vue-field-margin: $vue-form-field-margin);
  }
}

/**
 * @stable [26.11.2018]
 */
@mixin vue-form($vue-form-custom: unset,
                $vue-form-title-font-size: unset,
                $vue-form-title-font-weight: unset,
                $vue-form-title-padding: unset,
                $vue-form-header-height: unset,
                $vue-form-header-padding: unset,
                $vue-form-field-margin: unset) {
  @if $vue-form-custom != unset {
    .vue-form {
      &.#{$vue-form-custom} {
        @include _vue-form-custom-properties(
          $vue-form-title-font-size: $vue-form-title-font-size,
          $vue-form-title-font-weight: $vue-form-title-font-weight,
          $vue-form-title-padding: $vue-form-title-padding,
          $vue-form-header-height: $vue-form-header-height,
          $vue-form-header-padding: $vue-form-header-padding,
          $vue-form-field-margin: $vue-form-field-margin
        );
      }
    }
  } @else {
    .vue-form {
      @include _vue-form-custom-properties(
        $vue-form-title-font-size: $vue-form-title-font-size,
        $vue-form-title-font-weight: $vue-form-title-font-weight,
        $vue-form-title-padding: $vue-form-title-padding,
        $vue-form-header-height: $vue-form-header-height,
        $vue-form-header-padding: $vue-form-header-padding,
        $vue-form-field-margin: $vue-form-field-margin
      );
    }
  }
}

/**
 * @stable [27.11.2018]
 */
@mixin _vue-grid-custom-properties($vue-grid-button-padding: unset,
                                   $vue-grid-button-background: unset) {

  @include vue-button(
    $vue-button-padding: $vue-grid-button-padding,
    $vue-button-background: $vue-grid-button-background
  );
}

/**
 * @stable [27.11.2018]
 */
@mixin vue-grid($vue-grid-custom: unset,
                $vue-grid-button-padding: unset,
                $vue-grid-button-background: unset) {
  @if $vue-grid-custom != unset {
    .vue-grid {
      &.#{$vue-grid-custom} {
        @include _vue-grid-custom-properties(
          $vue-grid-button-padding: $vue-grid-button-padding,
          $vue-grid-button-background: $vue-grid-button-background
        );
      }
    }
  } @else {
    .vue-grid {
      @include _vue-grid-custom-properties(
        $vue-grid-button-padding: $vue-grid-button-padding,
        $vue-grid-button-background: $vue-grid-button-background
      );
    }
  }
}