@import './mixin';

/**
 * @stable [18.11.2018]
 */
@mixin _vue-popup-custom-properties($vue-popup-body-padding: unset) {
  .vue-popup-body {
    @if $vue-popup-body-padding != unset {
      padding: $vue-popup-body-padding;
    }
  }
}

/**
 * @stable [18.11.2018]
 */
@mixin vue-popup($vue-popup-custom: unset,
                 $vue-popup-body-padding: unset) {
  @if $vue-popup-custom != unset {
    .vue-popup {
      &.#{$vue-popup-custom} {
        @include _vue-popup-custom-properties(
          $vue-popup-body-padding: $vue-popup-body-padding
        );
      }
    }
  } @else {
    .vue-popup {
      @include _vue-popup-custom-properties(
        $vue-popup-body-padding: $vue-popup-body-padding
      );
    }
  }
}

/**
 * @stable [19.11.2018]
 */
@mixin _vue-field-custom-properties($vue-field-height: unset,
                                    $vue-field-padding: unset,
                                    $vue-field-margin: unset,
                                    $vue-field-border-radius: unset,
                                    $vue-field-border: unset,
                                    $vue-field-position: unset,
                                    $vue-field-label-color: unset,
                                    $vue-field-float-label-color: unset,
                                    $vue-field-float-label-font-size: unset,
                                    $vue-field-float-label-display: unset,
                                    $vue-field-float-label-padding: unset,
                                    $vue-field-float-label-absolute: unset,
                                    $vue-field-input-border: unset,
                                    $vue-field-input-padding: unset,
                                    $vue-field-input-background: unset,
                                    $vue-field-input-wrapper-height: unset,
                                    $vue-field-input-wrapper-width: unset,
                                    $vue-field-input-wrapper-position: unset,
                                    $vue-field-attachment-wrapper-content-border: unset,
                                    $vue-field-attachment-wrapper-content-width: unset,
                                    $vue-field-attachment-wrapper-content-height: unset,
                                    $vue-field-attachment-wrapper-content-margin: unset,
                                    $vue-field-icon-width: unset,
                                    $vue-field-icon-height: unset,
                                    $vue-field-icon-margin: unset,
                                    $vue-field-icon-background-repeat: unset) {

  @include _rac-styles-properties(
    $rac-styles-position: $vue-field-position,
    $rac-styles-padding: $vue-field-padding,
    $rac-styles-margin: $vue-field-margin,
    $rac-styles-border-radius: $vue-field-border-radius,
    $rac-styles-border: $vue-field-border
  );
  @if $vue-field-height != unset {
    @include rac-flex-height($vue-field-height);
  }

  @include rac-styles(
    $rac-styles-custom: vue-field-input-wrapper,
    $rac-styles-height: $vue-field-input-wrapper-height,
    $rac-styles-width: $vue-field-input-wrapper-width,
    $rac-styles-position: $vue-field-input-wrapper-position
  );

  @include rac-first-level-children(
    $rac-first-level-children-custom: vue-field-attachment-wrapper,
    $rac-first-level-children-custom-border: $vue-field-attachment-wrapper-content-border,
    $rac-first-level-children-custom-width: $vue-field-attachment-wrapper-content-width,
    $rac-first-level-children-custom-height: $vue-field-attachment-wrapper-content-height,
    $rac-first-level-children-custom-margin: $vue-field-attachment-wrapper-content-margin
  );

  @include rac-styles(
    $rac-styles-custom: vue-field-input,
    $rac-styles-border: $vue-field-input-border,
    $rac-styles-padding: $vue-field-input-padding,
    $rac-styles-background: $vue-field-input-background
  );

  @include rac-styles(
    $rac-styles-custom: vue-field-icon,
    $rac-styles-margin: $vue-field-icon-margin,
    $rac-styles-width: $vue-field-icon-width,
    $rac-styles-height: $vue-field-icon-height,
    $rac-styles-background-repeat: $vue-field-icon-background-repeat
  );

  .vue-field-label {
    @if $vue-field-label-color != unset {
      color: $vue-field-label-color;
    }

    &.vue-field-float-label {
      @if $vue-field-float-label-font-size != unset {
        font-size: $vue-field-float-label-font-size;
      }
      @if $vue-field-float-label-padding != unset {
        padding: $vue-field-float-label-padding;
      }
      @if $vue-field-float-label-display != unset {
        display: $vue-field-float-label-display;
      }
      @if $vue-field-float-label-color != unset {
        color: $vue-field-float-label-color;
      }

      @if $vue-field-float-label-absolute != unset {
        @include _rac-position-properties($rac-position: absolute,
                                          $rac-position-left: 0,
                                          $rac-position-top: 0);
      }
    }
  }
}

/**
 * @stable [19.11.2018]
 */
@mixin vue-field($vue-field-custom: unset,
                 $vue-field-height: unset,
                 $vue-field-padding: unset,
                 $vue-field-margin: unset,
                 $vue-field-position: unset,
                 $vue-field-border-radius: unset,
                 $vue-field-border: unset,
                 $vue-field-label-color: unset,
                 $vue-field-float-label-color: unset,
                 $vue-field-float-label-font-size: unset,
                 $vue-field-float-label-padding: unset,
                 $vue-field-float-label-display: unset,
                 $vue-field-float-label-absolute: unset,
                 $vue-field-input-border: unset,
                 $vue-field-input-padding: unset,
                 $vue-field-input-background: unset,
                 $vue-field-input-wrapper-height: unset,
                 $vue-field-input-wrapper-width: unset,
                 $vue-field-input-wrapper-position: unset,
                 $vue-field-attachment-wrapper-content-border: unset,
                 $vue-field-attachment-wrapper-content-width: unset,
                 $vue-field-attachment-wrapper-content-height: unset,
                 $vue-field-attachment-wrapper-content-margin: unset,
                 $vue-field-icon-width: unset,
                 $vue-field-icon-height: unset,
                 $vue-field-icon-margin: unset,
                 $vue-field-icon-background-repeat: unset) {
  @if $vue-field-custom != unset {
    .vue-field {
      &.#{$vue-field-custom} {
        @include _vue-field-custom-properties(
          $vue-field-height: $vue-field-height,
          $vue-field-padding: $vue-field-padding,
          $vue-field-margin: $vue-field-margin,
          $vue-field-position: $vue-field-position,
          $vue-field-border-radius: $vue-field-border-radius,
          $vue-field-border: $vue-field-border,
          $vue-field-label-color: $vue-field-label-color,
          $vue-field-float-label-color: $vue-field-float-label-color,
          $vue-field-float-label-font-size: $vue-field-float-label-font-size,
          $vue-field-float-label-display: $vue-field-float-label-display,
          $vue-field-float-label-absolute: $vue-field-float-label-absolute,
          $vue-field-float-label-padding: $vue-field-float-label-padding,
          $vue-field-input-border: $vue-field-input-border,
          $vue-field-input-padding: $vue-field-input-padding,
          $vue-field-input-background: $vue-field-input-background,
          $vue-field-input-wrapper-height: $vue-field-input-wrapper-height,
          $vue-field-input-wrapper-width: $vue-field-input-wrapper-width,
          $vue-field-input-wrapper-position: $vue-field-input-wrapper-position,
          $vue-field-attachment-wrapper-content-border: $vue-field-attachment-wrapper-content-border,
          $vue-field-attachment-wrapper-content-width: $vue-field-attachment-wrapper-content-width,
          $vue-field-attachment-wrapper-content-height: $vue-field-attachment-wrapper-content-height,
          $vue-field-attachment-wrapper-content-margin: $vue-field-attachment-wrapper-content-margin,
          $vue-field-icon-width: $vue-field-icon-width,
          $vue-field-icon-height: $vue-field-icon-height,
          $vue-field-icon-margin: $vue-field-icon-margin,
          $vue-field-icon-background-repeat: $vue-field-icon-background-repeat
        );
      }
    }
  } @else {
    .vue-field {
      @include _vue-field-custom-properties(
        $vue-field-height: $vue-field-height,
        $vue-field-padding: $vue-field-padding,
        $vue-field-margin: $vue-field-margin,
        $vue-field-position: $vue-field-position,
        $vue-field-border-radius: $vue-field-border-radius,
        $vue-field-border: $vue-field-border,
        $vue-field-label-color: $vue-field-label-color,
        $vue-field-float-label-color: $vue-field-float-label-color,
        $vue-field-float-label-font-size: $vue-field-float-label-font-size,
        $vue-field-float-label-display: $vue-field-float-label-display,
        $vue-field-float-label-absolute: $vue-field-float-label-absolute,
        $vue-field-float-label-padding: $vue-field-float-label-padding,
        $vue-field-input-border: $vue-field-input-border,
        $vue-field-input-padding: $vue-field-input-padding,
        $vue-field-input-background: $vue-field-input-background,
        $vue-field-input-wrapper-height: $vue-field-input-wrapper-height,
        $vue-field-input-wrapper-width: $vue-field-input-wrapper-width,
        $vue-field-input-wrapper-position: $vue-field-input-wrapper-position,
        $vue-field-attachment-wrapper-content-border: $vue-field-attachment-wrapper-content-border,
        $vue-field-attachment-wrapper-content-width: $vue-field-attachment-wrapper-content-width,
        $vue-field-attachment-wrapper-content-height: $vue-field-attachment-wrapper-content-height,
        $vue-field-attachment-wrapper-content-margin: $vue-field-attachment-wrapper-content-margin,
        $vue-field-icon-width: $vue-field-icon-width,
        $vue-field-icon-height: $vue-field-icon-height,
        $vue-field-icon-margin: $vue-field-icon-margin,
        $vue-field-icon-background-repeat: $vue-field-icon-background-repeat
      );
    }
  }
}

/**
 * @stable [24.11.2018]
 */
@mixin _vue-menu-custom-properties($vue-menu-list-padding: unset,
                                   $vue-menu-list-max-height: unset,
                                   $vue-menu-list-empty-item-padding: unset) {

  .vue-menu-list {
    @if $vue-menu-list-padding != unset {
      padding: $vue-menu-list-padding;
    }
    @if $vue-menu-list-max-height != unset {
      max-height: $vue-menu-list-max-height;
    }

    .vue-menu-list-empty-item {
      @if $vue-menu-list-empty-item-padding != unset {
        padding: $vue-menu-list-empty-item-padding;
      }
    }
  }
}

/**
 * @stable [24.11.2018]
 */
@mixin vue-menu($vue-menu-custom: unset,
                $vue-menu-list-padding: unset,
                $vue-menu-list-max-height: unset,
                $vue-menu-list-empty-item-padding: unset) {
  @if $vue-menu-custom != unset {
    .vue-menu {
      &.#{$vue-menu-custom} {
        @include _vue-menu-custom-properties(
          $vue-menu-list-padding: $vue-menu-list-padding,
          $vue-menu-list-max-height: $vue-menu-list-max-height,
          $vue-menu-list-empty-item-padding: $vue-menu-list-empty-item-padding
        );
      }
    }
  } @else {
    .vue-menu {
      @include _vue-menu-custom-properties(
        $vue-menu-list-padding: $vue-menu-list-padding,
        $vue-menu-list-max-height: $vue-menu-list-max-height,
        $vue-menu-list-empty-item-padding: $vue-menu-list-empty-item-padding
      );
    }
  }
}

/**
 * @stable [26.11.2018]
 */
@mixin _vue-form-custom-properties($vue-form-title-font-size: unset,
                                   $vue-form-title-font-weight: unset,
                                   $vue-form-header-height: unset,
                                   $vue-form-field-margin: unset) {
  .vue-form-header {
    @if $vue-form-header-height != unset {
      @include rac-flex-height($vue-form-header-height);
    }

    .vue-form-title {
      @if $vue-form-title-font-size != unset {
        font-size: $vue-form-title-font-size;
      }
      @if $vue-form-title-font-weight != unset {
        font-weight: $vue-form-title-font-weight;
      }
    }
  }

  @if $vue-form-field-margin != unset {
    @include vue-field($vue-field-margin: $vue-form-field-margin);
  }
}

/**
 * @stable [26.11.2018]
 */
@mixin vue-form($vue-form-custom: unset,
                $vue-form-title-font-size: unset,
                $vue-form-title-font-weight: unset,
                $vue-form-header-height: unset,
                $vue-form-field-margin: unset) {
  @if $vue-form-custom != unset {
    .vue-form {
      &.#{$vue-form-custom} {
        @include _vue-form-custom-properties(
          $vue-form-title-font-size: $vue-form-title-font-size,
          $vue-form-title-font-weight: $vue-form-title-font-weight,
          $vue-form-header-height: $vue-form-header-height,
          $vue-form-field-margin: $vue-form-field-margin
        );
      }
    }
  } @else {
    .vue-form {
      @include _vue-form-custom-properties(
        $vue-form-title-font-size: $vue-form-title-font-size,
        $vue-form-title-font-weight: $vue-form-title-font-weight,
        $vue-form-header-height: $vue-form-header-height,
        $vue-form-field-margin: $vue-form-field-margin
      );
    }
  }
}