/* @stable [24.11.2018] */
$vue-color1: rgba(0, 0, 0, 0.2) !default;
$vue-color2: rgba(0, 0, 0, 0.1) !default;
$vue-color3: #0053d9 !default;

/* @stable [24.11.2018] */
$vue-default-text-field-input-padding: 16px !default;

/* @stable [18.11.2018] */
$vue-text-field-input-padding: 0 $vue-default-text-field-input-padding !default;
$vue-text-field-height: 46px !default;
$vue-text-field-border-radius: 4px !default;
$vue-text-field-border: 1px solid $vue-color2 !default;
$vue-text-field-float-label-padding: $vue-text-field-input-padding !default;
$vue-text-field-float-labeled-and-filled-input-padding: $vue-default-text-field-input-padding $vue-default-text-field-input-padding 0 $vue-default-text-field-input-padding !default;
$vue-text-field-float-labeled-and-filled-float-label-padding: ($vue-default-text-field-input-padding / 2) $vue-default-text-field-input-padding 0 $vue-default-text-field-input-padding !default;
$vue-field-float-label-font-size: 12px !default;
$vue-field-float-label-color: $vue-color1 !default;
$vue-file-field-attachment-wrapper-content-border: 1px dashed $vue-color2 !default;
$vue-file-field-attachment-wrapper-content-border-radius: 4px !default;
$vue-multi-file-field-attachment-wrapper-content-margin: 0 16px 16px 0 !default;
$vue-multi-file-field-attachment-wrapper-content-float: left !default;
$vue-multi-file-field-attachment-wrapper-content-width: 100px !default;
$vue-multi-file-field-attachment-wrapper-content-height: 100px !default;
$vue-multi-file-field-attachment-wrapper-viewer-preview-border-radius: $vue-file-field-attachment-wrapper-content-border-radius !default;
$vue-multi-file-field-attachment-wrapper-viewer-selector-border: 1px solid transparent !default;  /* CSS float left Workaround*/
$vue-select-icon-width: 16px !default;
$vue-select-icon-height: 10px !default;
$vue-select-icon-margin: 0 20px 0 auto !default;

/* @stable [18.11.2018] */
$vue-viewer-scale-action-size: 32px !default;
$vue-viewer-scale-action-position-right: 5% !default;
$vue-viewer-scale-action-position-top: 50% !default;
$vue-viewer-preview-file-name-color: $vue-color3 !default;
$vue-viewer-preview-file-name-font-size: 16px !default;

/* @stable [18.11.2018] */
$vue-popup-body-padding: 16px 16px 0 16px !default;

/* @stable [24.11.2018] */
$vue-menu-list-padding: 0 !default;
$vue-menu-list-max-height: 200px !default;
$vue-menu-list-empty-item-padding: $vue-default-text-field-input-padding !default;

/* @stable [26.11.2018] */
$vue-form-title-font-size: 24px !default;
$vue-form-title-font-weight: bold !default;
$vue-form-header-height: 50px !default;
$vue-form-field-margin: 0 0 16px 0 !default;