/* @stable [24.11.2018] */
$vue-color1: rgba(0, 0, 0, 0.2) !default;
$vue-color2: rgba(0, 0, 0, 0.1) !default;

/* @stable [24.11.2018] */
$vue-default-text-field-input-padding: 16px !default;

/* @stable [18.11.2018] */
$vue-text-field-input-padding: 0 $vue-default-text-field-input-padding !default;
$vue-text-field-filled-input-padding: $vue-default-text-field-input-padding $vue-default-text-field-input-padding 0 $vue-default-text-field-input-padding !default;
$vue-text-field-height: 46px !default;
$vue-text-field-border-radius: 4px !default;
$vue-text-field-border: 1px solid $vue-color2 !default;
$vue-text-field-float-label-padding: $vue-text-field-input-padding !default;
$vue-text-field-filled-float-label-padding: ($vue-default-text-field-input-padding / 2) $vue-default-text-field-input-padding 0 $vue-default-text-field-input-padding !default;
$vue-field-float-label-font-size: 12px !default;
$vue-field-float-label-color: $vue-color1 !default;

/* @stable [18.11.2018] */
$vue-viewer-scale-action-size: 32px !default;
$vue-viewer-scale-action-position-right: 5% !default;
$vue-viewer-scale-action-position-top: 50% !default;

/* @stable [18.11.2018] */
$vue-popup-body-padding: 16px 16px 0 16px !default;

/* @stable [24.11.2018] */
$vue-menu-list-padding: 0 !default;
$vue-menu-list-max-height: 200px !default;
$vue-menu-list-empty-item-padding: $vue-default-text-field-input-padding !default;

/* @stable [26.11.2018] */
$vue-form-title-font-size: 24px !default;
$vue-form-title-font-weight: bold !default;
$vue-form-header-height: 50px !default;
$vue-form-field-margin: 0 0 16px 0 !default;