@import '../vue-constant';
@import '../vue-mixin';

.vac {

  @include vue-icon(                                                                          /* @stable [05.01.2019] */
    $icon-background-repeat: no-repeat
  );

  @if $vue-icons != unset {                                                                   /* @stable [05.01.2019] */
    @each $icon in $vue-icons {
      @include vue-icon(
        $icon: $icon,
        $icon-type: $vue-icon-type,
        $icon-path: $vue-icon-path
      );
    }
  }
}