@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [21.05.2020] */
/************************/
$rac-default-layout-drawer-header-background: $rac-primary-color-metis-1 !default;
$rac-default-layout-drawer-header-color: $rac-primary-color-elara-0 !default;
$rac-default-layout-flex-direction: unset !default;
$rac-default-layout-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-default-layout-form-actions-border-top: $rac-primary-layout-border-0 !default;
$rac-default-layout-form-actions-margin: $rac-primary-layout-offset-3 0 0 0 !default;
$rac-default-layout-form-actions-padding: $rac-primary-layout-offset-3 0 0 0 !default;
$rac-default-layout-tab-panel-wrapper-border-bottom: $rac-primary-layout-border-0 !default;
$rac-default-layout-tab-panel-wrapper-margin: 0 0 $rac-primary-layout-offset-3 0 !default;
$rac-default-layout-tab-panel-wrapper-padding: 0 0 $rac-primary-layout-offset-3 0 !default;