@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [19.05.2020] */
/************************/
$rac-default-layout-drawer-header-background: $rac-primary-color-metis-1 !default;
$rac-default-layout-drawer-header-color: $rac-primary-color-elara-0 !default;
$rac-default-layout-header-menu-action-position: unset !default;
$rac-default-layout-header-menu-action-right: unset !default;
$rac-default-layout-tab-panel-wrapper-border-bottom: $rac-primary-layout-border-0 !default;
$rac-default-layout-tab-panel-wrapper-margin: 0 0 $rac-primary-layout-offset-3 0 !default;
$rac-default-layout-tab-panel-wrapper-padding: 0 0 $rac-primary-layout-offset-3 0 !default;