@import '../../dialog/_dialog-mixin';
@import '../../form/_form-mixin';
@import '../../icon/_icon-mixin';
@import '../../tab-panel/_tab-panel-mixin';

// @stable [27.05.2020]
@mixin rac-default-layout (
  $rac-default-layout-custom: unset,
  /**/
  $rac-default-layout-body-display: unset,                                                    /* @stable [04.02.2020] */
  $rac-default-layout-body-flex-direction: unset,                                             /* @stable [04.02.2020] */
  $rac-default-layout-body-flex-grow: unset,                                                  /* @stable [27.05.2020] */
  $rac-default-layout-chat-dialog-body-content-wrapper-border-radius: unset,                  /* @stable [09.10.2020] */
  $rac-default-layout-chat-dialog-bottom: unset,                                              /* @stable [09.10.2020] */
  $rac-default-layout-chat-dialog-box-shadow: unset,                                          /* @stable [10.10.2020] */
  $rac-default-layout-chat-dialog-position: unset,                                            /* @stable [13.03.2021] */
  $rac-default-layout-chat-dialog-right: unset,                                               /* @stable [09.10.2020] */
  $rac-default-layout-display: unset,                                                         /* @stable [04.02.2020] */
  $rac-default-layout-drawer-header-align-items: unset,                                       /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-background: unset,                                        /* @stable [04.02.2020] */
  $rac-default-layout-drawer-header-color: unset,                                             /* @stable [04.02.2020] */
  $rac-default-layout-drawer-header-cursor: unset,                                            /* @stable [04.02.2020] */
  $rac-default-layout-drawer-header-display: unset,                                           /* @stable [25.05.2020] */
  $rac-default-layout-drawer-header-height: unset,                                            /* @stable [04.02.2020] */
  $rac-default-layout-drawer-header-logo-background: unset,                                   /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-logo-height: unset,                                       /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-logo-margin: unset,                                       /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-logo-width: unset,                                        /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-menu-action-color: unset,                                 /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-menu-action-height: unset,                                /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-menu-action-margin: unset,                                /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-menu-action-padding: unset,                               /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-version-font-size: unset,                                 /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-version-left: unset,                                      /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-version-position: unset,                                  /* @stable [27.05.2020] */
  $rac-default-layout-drawer-header-version-top: unset,                                       /* @stable [27.05.2020] */
  $rac-default-layout-flex-grow: unset,                                                       /* @stable [04.02.2020] */
  $rac-default-layout-form-actions-border-top: unset,                                         /* @stable [21.05.2020] */
  $rac-default-layout-form-actions-margin: unset,                                             /* @stable [21.05.2020] */
  $rac-default-layout-form-actions-padding: unset,                                            /* @stable [21.05.2020] */
  $rac-default-layout-tab-panel-wrapper-border-bottom: unset,                                 /* @stable [04.02.2020] */
  $rac-default-layout-tab-panel-wrapper-margin: unset,                                        /* @stable [04.02.2020] */
  $rac-default-layout-tab-panel-wrapper-padding: unset                                        /* @stable [04.02.2020] */
) {
  #{rac-cls(rac-default-layout, $rac-default-layout-custom)} {
    @include rac-styles (
      $rac-styles-display: $rac-default-layout-display,
      $rac-styles-flex-grow: $rac-default-layout-flex-grow
    );

    @include rac-styles (
      $rac-styles-custom: rac-default-layout__body,
      $rac-styles-display: $rac-default-layout-body-display,
      $rac-styles-flex-direction: $rac-default-layout-body-flex-direction,
      $rac-styles-flex-grow: $rac-default-layout-body-flex-grow
    );

    @include rac-styles (
      $rac-styles-custom: rac-default-layout__drawer-header,
      $rac-styles-align-items: $rac-default-layout-drawer-header-align-items,
      $rac-styles-background: $rac-default-layout-drawer-header-background,
      $rac-styles-color: $rac-default-layout-drawer-header-color,
      $rac-styles-cursor: $rac-default-layout-drawer-header-cursor,
      $rac-styles-display: $rac-default-layout-drawer-header-display,
      $rac-styles-height: $rac-default-layout-drawer-header-height
    );

    @include rac-styles (
      $rac-styles-custom: rac-default-layout__drawer-header-logo,
      $rac-styles-background: $rac-default-layout-drawer-header-logo-background,
      $rac-styles-height: $rac-default-layout-drawer-header-logo-height,
      $rac-styles-margin: $rac-default-layout-drawer-header-logo-margin,
      $rac-styles-width: $rac-default-layout-drawer-header-logo-width
    );

    @include rac-styles (
      $rac-styles-custom: rac-default-layout__drawer-header-version,
      $rac-styles-font-size: $rac-default-layout-drawer-header-version-font-size,
      $rac-styles-left: $rac-default-layout-drawer-header-version-left,
      $rac-styles-position: $rac-default-layout-drawer-header-version-position,
      $rac-styles-top: $rac-default-layout-drawer-header-version-top
    );

    @include rac-icon (
      $rac-icon-custom: rac-default-layout__drawer-header-menu-action,
      $rac-icon-color: $rac-default-layout-drawer-header-menu-action-color,
      $rac-icon-height: $rac-default-layout-drawer-header-menu-action-height,
      $rac-icon-margin: $rac-default-layout-drawer-header-menu-action-margin,
      $rac-icon-padding: $rac-default-layout-drawer-header-menu-action-padding
    );

    @include rac-dialog (
      $rac-dialog-custom: rac-default-layout__chat-dialog,
      $rac-dialog-body-content-wrapper-border-radius: $rac-default-layout-chat-dialog-body-content-wrapper-border-radius,
      $rac-dialog-bottom: $rac-default-layout-chat-dialog-bottom,
      $rac-dialog-box-shadow: $rac-default-layout-chat-dialog-box-shadow,
      $rac-dialog-position: $rac-default-layout-chat-dialog-position,
      $rac-dialog-right: $rac-default-layout-chat-dialog-right
    );

    #{rac-cls($rac-main-body-content-cls)} {
      > {
        @include rac-tab-panel (
          $rac-tab-panel-wrapper-border-bottom: $rac-default-layout-tab-panel-wrapper-border-bottom,
          $rac-tab-panel-wrapper-margin: $rac-default-layout-tab-panel-wrapper-margin,
          $rac-tab-panel-wrapper-padding: $rac-default-layout-tab-panel-wrapper-padding
        );

        @include rac-form (
          $rac-form-actions-border-top: $rac-default-layout-form-actions-border-top,
          $rac-form-actions-margin: $rac-default-layout-form-actions-margin,
          $rac-form-actions-padding: $rac-default-layout-form-actions-padding
        );
      }
    }
  }
}