@import './_default-layout-constant';
@import './_default-layout-mixin';

.rac {

  /**
   * @default-layout
   * @stable [27.05.2020]
   */
  @include rac-default-layout (
    $rac-default-layout-body-display: $rac-default-layout-body-display,
    $rac-default-layout-body-flex-direction: $rac-default-layout-body-flex-direction,
    $rac-default-layout-body-flex-grow: $rac-default-layout-body-flex-grow,
    $rac-default-layout-display: $rac-default-layout-display,
    $rac-default-layout-drawer-header-align-items: $rac-default-layout-drawer-header-align-items,
    $rac-default-layout-drawer-header-background: $rac-default-layout-drawer-header-background,
    $rac-default-layout-drawer-header-color: $rac-default-layout-drawer-header-color,
    $rac-default-layout-drawer-header-cursor: $rac-default-layout-drawer-header-cursor,
    $rac-default-layout-drawer-header-display: $rac-default-layout-drawer-header-display,
    $rac-default-layout-drawer-header-height: $rac-default-layout-drawer-header-height,
    $rac-default-layout-drawer-header-logo-background: $rac-default-layout-drawer-header-logo-background,
    $rac-default-layout-drawer-header-logo-height: $rac-default-layout-drawer-header-logo-height,
    $rac-default-layout-drawer-header-logo-margin: $rac-default-layout-drawer-header-logo-margin,
    $rac-default-layout-drawer-header-logo-width: $rac-default-layout-drawer-header-logo-width,
    $rac-default-layout-drawer-header-menu-action-color: $rac-default-layout-drawer-header-menu-action-color,
    $rac-default-layout-drawer-header-menu-action-height: $rac-default-layout-drawer-header-menu-action-height,
    $rac-default-layout-drawer-header-menu-action-margin: $rac-default-layout-drawer-header-menu-action-margin,
    $rac-default-layout-drawer-header-menu-action-padding: $rac-default-layout-drawer-header-menu-action-padding,
    $rac-default-layout-drawer-header-version-font-size: $rac-default-layout-drawer-header-version-font-size,
    $rac-default-layout-drawer-header-version-left: $rac-default-layout-drawer-header-version-left,
    $rac-default-layout-drawer-header-version-position: $rac-default-layout-drawer-header-version-position,
    $rac-default-layout-drawer-header-version-top: $rac-default-layout-drawer-header-version-top,
    $rac-default-layout-flex-grow: $rac-default-layout-flex-grow,
    $rac-default-layout-form-actions-border-top: $rac-default-layout-form-actions-border-top,
    $rac-default-layout-form-actions-margin: $rac-default-layout-form-actions-margin,
    $rac-default-layout-form-actions-padding: $rac-default-layout-form-actions-padding,
    $rac-default-layout-tab-panel-wrapper-border-bottom: $rac-default-layout-tab-panel-wrapper-border-bottom,
    $rac-default-layout-tab-panel-wrapper-margin: $rac-default-layout-tab-panel-wrapper-margin,
    $rac-default-layout-tab-panel-wrapper-padding: $rac-default-layout-tab-panel-wrapper-padding
  );
}