@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [19.04.2020] */
/************************/
$rac-default-layout-main-body-content-last-child-margin: unset !default;
$rac-default-layout-main-body-content-padding: unset !default;
$rac-default-layout-tab-panel-wrapper-border-bottom: unset !default;
$rac-default-layout-tab-panel-wrapper-margin: unset !default;
$rac-default-layout-tab-panel-wrapper-padding: unset !default;
