@import '../../constant';

// Default layout [FRAMEWORK-][RAC+]
.rac {

  .rac-default-layout {

    .rac-header {
      color: $rac-default-layout-header-color;                                                      /* @stable [17.09.2018] */
      height: $rac-default-layout-header-height;                                                    /* @stable [17.09.2018] */
      padding: $rac-default-layout-header-padding;                                                  /* @stable [08.10.2018] */
      background: $rac-default-layout-header-background;                                            /* @stable [08.10.2018] */

      .rac-user {
        margin-right: $rac-default-layout-header-user-margin-right;                                 /* @stable [17.09.2018] */
        font-weight: $rac-default-layout-header-user-font-weight;                                   /* @stable [17.09.2018] */
        font-size: $rac-default-layout-header-user-font-size;                                       /* @stable [17.09.2018] */
        color: $rac-default-layout-header-user-color;                                               /* @stable [26.09.2018] */
      }

      .rac-user-photo {
        width: $rac-default-layout-header-user-photo-width;                                         /* @stable [17.09.2018] */
        height: $rac-default-layout-header-user-photo-height;                                       /* @stable [17.09.2018] */
        border-radius: $rac-default-layout-header-user-photo-border-radius;                         /* @stable [17.09.2018] */
        background-size: cover;                                                                     /* @stable [17.09.2018] */
        margin-right: $rac-default-layout-header-user-photo-margin-right;                           /* @stable [17.09.2018] */
      }
    }

    .rac-sub-header {
      min-height: $rac-default-layout-sub-header-height;                                            /* @stable [13.10.2018] */
      max-height: $rac-default-layout-sub-header-height;                                            /* @stable [13.10.2018] */

      .rac-sub-header-navigation-action {
        margin-right: $rac-default-layout-sub-header-navigation-action-margin-right;                /* @stable [17.09.2018] */
      }

      &.rac-sub-header-bordered {
        border-bottom: $rac-default-layout-sub-header-bordered-border-bottom;                       /* @stable [22.10.2018] */
        margin-bottom: $rac-default-layout-sub-header-bordered-margin-bottom;                       /* @stable [22.10.2018] */
      }
    }

    .rac-main {
      position: relative;                                                                           /* @stable [16.09.2018] */

      .rac-main-body-wrapper {
        overflow: $rac-default-layout-main-body-wrapper-overflow;                                   /* @stable [22.10.2018] */
        position: $rac-default-layout-main-body-wrapper-position;                                   /* @stable [22.10.2018] */                                                                       /* @stable [16.09.2018] */
        width: $rac-default-layout-main-body-wrapper-width;                                         /* @stable [22.10.2018] */                                                                          /* @stable [16.09.2018] */
        height: $rac-default-layout-main-body-wrapper-height;                                       /* @stable [22.10.2018] */

        .rac-main-body-content {
          min-width: $rac-default-layout-main-body-content-min-width;                               /* @stable [12.10.2018] */
          padding: $rac-default-layout-main-body-content-padding;                                   /* @stable [12.10.2018] */
        }

        .rac-main-body {
          height: $rac-default-layout-main-body-height;                                             /* @stable [22.10.2018] */
          min-width: $rac-default-layout-main-body-min-width;                                       /* @stable [12.10.2018] */
          padding: $rac-default-layout-main-body-padding;                                           /* @stable [12.10.2018] */

          .rac-tab-panel-wrapper,
            .rac-chips-filter-wrapper {
            margin-bottom: $rac-default-layout-main-body-container-margin-bottom;                   /* @stable [17.09.2018] */
          }

          .rac-tab-panel-wrapper {
            padding-bottom: $rac-default-layout-main-body-container-padding-bottom;                 /* @stable [05.10.2018] */
            border-bottom: $rac-default-layout-main-body-tab-panel-wrapper-border-bottom;           /* @stable [05.10.2018] */
          }

          .rac-form {

            .rac-form-actions {
              margin: $rac-default-layout-main-body-form-actions-margin;                            /* @stable [17.10.2018] */
              border-top: $rac-default-layout-main-body-form-actions-border-top;                    /* @stable [03.10.2018] */
              padding-top: $rac-default-layout-main-body-form-actions-padding-top;                  /* @stable [03.10.2018] */
              min-height: $rac-default-layout-main-body-form-actions-min-height;                    /* @stable [07.10.2018] */
            }
          }
        }
      }
    }

    .rac-footer {
      height: $rac-default-layout-footer-height;                                                    /* @stable [16.09.2018] */
      max-height: $rac-default-layout-footer-height;                                                /* @stable [16.09.2018] */
    }

    .rac-drawer-toolbar-spacer {
      position: relative;                                                                           /* @stable [17.09.2018] */
      cursor: $rac-default-layout-drawer-toolbar-spacer-cursor;                                     /* @stable [26.09.2018] */
      min-height: $rac-default-layout-drawer-toolbar-spacer-height;                                 /* @stable [23.09.2018] */
      max-height: $rac-default-layout-drawer-toolbar-spacer-height;                                 /* @stable [23.09.2018] */
      color: $rac-default-layout-drawer-toolbar-spacer-color;                                       /* @stable [26.09.2018] */
      background: $rac-default-layout-drawer-toolbar-spacer-background;                             /* @stable [17.09.2018] */

      .rac-logo-menu-action {
        margin-left: auto;                                                                          /* @stable [18.09.2018] */
        margin-right: $rac-default-layout-drawer-toolbar-spacer-logo-menu-action-margin-right;      /* @stable [18.09.2018] */

        &.rac-action-icon {
          color: $rac-default-layout-drawer-toolbar-spacer-logo-menu-action-color;                  /* @stable [18.09.2018] */
        }

        &:hover {
          outline: $rac-default-layout-drawer-toolbar-spacer-logo-menu-action-outline;              /* @stable [17.10.2018] */                                                   /* @stable [18.09.2018] */
        }
      }
    }

    .rac-drawer {
      width: $rac-default-layout-drawer-width;                                                      /* @stable [04.10.2018] */

      .rac-navigation-list {

        .rac-navigation-list-group-subheader {
          height: $rac-default-layout-drawer-navigation-list-group-subheader-height;                /* @stable [23.09.2018] */
        }

        .rac-navigation-list-item {
          height: $rac-default-layout-drawer-navigation-list-item-height;                           /* @stable [23.069.2018] */

          &.rac-navigation-list-item-as-group {
            height: $rac-default-layout-drawer-navigation-list-group-subheader-height;              /* @stable [23.09.2018] */
          }
        }

        .rac-navigation-list-icon {
          &.rac-icon {
            min-width: $rac-default-layout-drawer-navigation-list-icon-width;                       /* @stable [24.09.2018] */
          }
        }
      }

      &.rac-drawer-mini {
        width: $rac-default-layout-drawer-mini-width;                                               /* @stable [23.09.2018] */
      }
    }
  }
}