@import '../../constant';
@import '../../mixin';

.rac {

  /**
   * @default-layout
   * @stable [04.02.2020]
   */
  @include rac-default-layout (
    $rac-default-layout-body-display: $rac-default-layout-body-display,
    $rac-default-layout-body-flex-direction: $rac-default-layout-body-flex-direction,
    $rac-default-layout-body-flex: $rac-default-layout-body-flex,
    $rac-default-layout-display: $rac-default-layout-display,
    $rac-default-layout-drawer-background: $rac-default-layout-drawer-background,
    $rac-default-layout-drawer-header-align-items: $rac-default-layout-drawer-header-align-items,
    $rac-default-layout-drawer-header-background: $rac-default-layout-drawer-header-background,
    $rac-default-layout-drawer-header-color: $rac-default-layout-drawer-header-color,
    $rac-default-layout-drawer-header-cursor: $rac-default-layout-drawer-header-cursor,
    $rac-default-layout-drawer-header-display: $rac-default-layout-drawer-header-display,
    $rac-default-layout-drawer-header-flex-direction: $rac-default-layout-drawer-header-flex-direction,
    $rac-default-layout-drawer-header-height: $rac-default-layout-drawer-header-height,
    $rac-default-layout-drawer-header-position: $rac-default-layout-drawer-header-position,
    $rac-default-layout-drawer-justify-content: $rac-default-layout-drawer-justify-content,
    $rac-default-layout-drawer-transform: $rac-default-layout-drawer-transform,
    $rac-default-layout-drawer-width: $rac-default-layout-drawer-width,
    $rac-default-layout-drawer-z-index: $rac-default-layout-drawer-z-index,
    $rac-default-layout-flex-direction: $rac-default-layout-flex-direction,
    $rac-default-layout-flex: $rac-default-layout-flex,
    $rac-default-layout-main-background: $rac-default-layout-main-background,
    $rac-default-layout-main-body-content-display: $rac-default-layout-main-body-content-display,
    $rac-default-layout-main-body-content-flex-direction: $rac-default-layout-main-body-content-flex-direction,
    $rac-default-layout-main-body-content-flex: $rac-default-layout-main-body-content-flex,
    $rac-default-layout-main-body-content-height: $rac-default-layout-main-body-content-height,
    $rac-default-layout-main-body-content-padding: $rac-default-layout-main-body-content-padding,
    $rac-default-layout-main-body-content-width: $rac-default-layout-main-body-content-width,
    $rac-default-layout-main-body-height: $rac-default-layout-main-body-height,
    $rac-default-layout-main-body-overflow: $rac-default-layout-main-body-overflow,
    $rac-default-layout-main-body-position: $rac-default-layout-main-body-position,
    $rac-default-layout-main-body-width: $rac-default-layout-main-body-width,
    $rac-default-layout-main-display: $rac-default-layout-main-display,
    $rac-default-layout-main-flex-direction: $rac-default-layout-main-flex-direction,
    $rac-default-layout-main-flex: $rac-default-layout-main-flex,
    $rac-default-layout-main-position: $rac-default-layout-main-position,
    $rac-default-layout-navigation-list-expanded-section-background: $rac-default-layout-navigation-list-expanded-section-background,
    $rac-default-layout-navigation-list-flex: $rac-default-layout-navigation-list-flex,
    $rac-default-layout-navigation-list-group-section-background: $rac-default-layout-navigation-list-group-section-background,
    $rac-default-layout-navigation-list-group-section-height: $rac-default-layout-navigation-list-group-section-height,
    $rac-default-layout-navigation-list-item-section-background: $rac-default-layout-navigation-list-item-section-background,
    $rac-default-layout-navigation-list-item-section-height: $rac-default-layout-navigation-list-item-section-height,
    $rac-default-layout-navigation-list-last-section-margin: $rac-default-layout-navigation-list-last-section-margin,
    $rac-default-layout-navigation-list-overflow: $rac-default-layout-navigation-list-overflow,
    $rac-default-layout-navigation-list-position: $rac-default-layout-navigation-list-position,
    $rac-default-layout-navigation-list-section-background: $rac-default-layout-navigation-list-section-background,
    $rac-default-layout-tab-panel-wrapper-border-bottom: $rac-default-layout-tab-panel-wrapper-border-bottom,
    $rac-default-layout-tab-panel-wrapper-display: $rac-default-layout-tab-panel-wrapper-display,
    $rac-default-layout-tab-panel-wrapper-flex-direction: $rac-default-layout-tab-panel-wrapper-flex-direction,
    $rac-default-layout-tab-panel-wrapper-flex: $rac-default-layout-tab-panel-wrapper-flex,
    $rac-default-layout-tab-panel-wrapper-margin: $rac-default-layout-tab-panel-wrapper-margin,
    $rac-default-layout-tab-panel-wrapper-padding: $rac-default-layout-tab-panel-wrapper-padding
  );

  /**
   * @default-layout-mini
   * @stable [05.02.2020]
   */
  @include rac-default-layout (
    $rac-default-layout-custom: $rac-default-layout-mini-cls,
    $rac-default-layout-drawer-width: $rac-default-layout-mini-drawer-width,
    $rac-default-layout-navigation-list-icon-width: $rac-default-layout-mini-navigation-list-icon-width
  );

  /**
   * @default-layout-full
   * @stable [05.02.2020]
   */
  @include rac-default-layout (
    $rac-default-layout-custom: $rac-default-layout-full-cls,
    $rac-default-layout-navigation-list-icon-width: $rac-default-layout-full-navigation-list-icon-width
  );

  .rac-default-layout {                                                                       /* @stable [13.02.2019] */
    @include rac-icon(
      $rac-icon-custom: rac-logo-menu-icon,
      $rac-icon-color: $rac-default-layout-logo-menu-icon-color,
      $rac-icon-margin: 0 $rac-default-layout-logo-menu-icon-margin-right 0 auto
    );

    @include rac-form(                                                                        /* @stable [15.02.2019] */
      $rac-form-actions-margin: $rac-default-layout-form-actions-margin,
      $rac-form-actions-border-top: $rac-default-layout-form-actions-border-top,
      $rac-form-actions-padding: $rac-default-layout-form-actions-padding,
      $rac-form-actions-height: $rac-default-layout-form-actions-height
    );
  }

  .rac-default-layout {

    .rac-header {
      color: $rac-default-layout-header-color;                                                      /* @stable [17.09.2018] */
      height: $rac-default-layout-header-height;                                                    /* @stable [17.09.2018] */
      padding: $rac-default-layout-header-padding;                                                  /* @stable [08.10.2018] */
      background: $rac-default-layout-header-background;                                            /* @stable [08.10.2018] */

      .rac-user {
        margin-right: $rac-default-layout-header-user-margin-right;                                 /* @stable [17.09.2018] */
        font-weight: $rac-default-layout-header-user-font-weight;                                   /* @stable [17.09.2018] */
        font-size: $rac-default-layout-header-user-font-size;                                       /* @stable [17.09.2018] */
        color: $rac-default-layout-header-user-color;                                               /* @stable [26.09.2018] */
      }

      .rac-user-photo {
        width: $rac-default-layout-header-user-photo-width;                                         /* @stable [17.09.2018] */
        height: $rac-default-layout-header-user-photo-height;                                       /* @stable [17.09.2018] */
        border-radius: $rac-default-layout-header-user-photo-border-radius;                         /* @stable [17.09.2018] */
        background-size: cover;                                                                     /* @stable [17.09.2018] */
        margin-right: $rac-default-layout-header-user-photo-margin-right;                           /* @stable [17.09.2018] */
      }
    }

    .rac-sub-header {
      min-height: $rac-default-layout-sub-header-height;                                            /* @stable [13.10.2018] */
      max-height: $rac-default-layout-sub-header-height;                                            /* @stable [13.10.2018] */

      @include rac-button(                                                                          /* @stable [01.11.2018] */
        $rac-button-custom: rac-button-navigation,
        $rac-button-margin: $rac-default-layout-sub-header-button-navigation-margin
      );

      &.rac-sub-header-bordered {
        border-bottom: $rac-default-layout-sub-header-bordered-border-bottom;                       /* @stable [22.10.2018] */
        margin: $rac-default-layout-sub-header-bordered-margin;                               /* @stable [18.12.2018] */
      }
    }

    .rac-page-toolbar {  // TODO
      min-height: $rac-default-layout-footer-height;                                                    /* @stable [16.09.2018] */
      max-height: $rac-default-layout-footer-height;                                                /* @stable [16.09.2018] */
    }

    .rac-notifications {                                                                      /* @stable [11.02.2019] */
      @include rac-styles(
        $rac-styles-position: absolute,
        $rac-styles-right: 0,
        $rac-styles-width: $rac-default-layout-notifications-width,
        $rac-styles-height: 100%,
        $rac-styles-background: $rac-default-layout-notifications-background
      );
    }
  }
}