.app-chipsfield {
  display: inline-block;
  white-space: nowrap;

  border-radius: 12px;
  background-color: #e0e0e0;
  cursor: default;
  padding: 6px 8px 2px 10px;
  margin-right: 8px;
  margin-bottom: 4px;

  .app-chipsfield-description {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 4px;
    line-height: 24px;
    max-width: 100px;
  }

  button {
    padding: 0;
    color: #9f9e9f;
    border-style: none;

    &[disabled] {
      opacity: .4;
      cursor: default;
    }
  }
}