@import '../../constant';
@import '../../mixin';

.rac {

  /**
   * @form-layout
   * @stable [13.02.2020]
   */
  @include rac-form-layout (
    $rac-form-layout-align-items: $rac-form-layout-align-items,
    $rac-form-layout-background-size: $rac-form-layout-background-size,
    $rac-form-layout-background: $rac-form-layout-background,
    $rac-form-layout-content-border: $rac-form-layout-content-border,
    $rac-form-layout-content-margin: $rac-form-layout-content-margin,
    $rac-form-layout-content-position: $rac-form-layout-content-position,
    $rac-form-layout-content-width: $rac-form-layout-content-width,
    $rac-form-layout-display: $rac-form-layout-display,
    $rac-form-layout-field-margin: $rac-form-layout-field-margin,
    $rac-form-layout-flex-direction: $rac-form-layout-flex-direction,
    $rac-form-layout-flex: $rac-form-layout-flex,
    $rac-form-layout-form-actions-margin: $rac-form-layout-form-actions-margin,
    $rac-form-layout-justify-content: $rac-form-layout-justify-content,
    $rac-form-layout-self-field-background: $rac-form-layout-self-field-background,
    $rac-form-layout-self-field-border-radius: $rac-form-layout-self-field-border-radius,
    $rac-form-layout-self-field-border: $rac-form-layout-self-field-border,
    $rac-form-layout-self-field-focused-background: $rac-form-layout-self-field-focused-background,
    $rac-form-layout-self-field-focused-icon-color: $rac-form-layout-self-field-focused-icon-color,
    $rac-form-layout-self-field-focused-input-color: $rac-form-layout-self-field-focused-input-color,
    $rac-form-layout-self-field-focused-input-placeholder-color: $rac-form-layout-self-field-focused-input-placeholder-color,
    $rac-form-layout-self-field-height: $rac-form-layout-self-field-height,
    $rac-form-layout-self-field-icon-color: $rac-form-layout-self-field-icon-color,
    $rac-form-layout-self-field-icon-padding: $rac-form-layout-self-field-icon-padding,
    $rac-form-layout-self-field-input-caret-bottom: $rac-form-layout-self-field-input-caret-bottom,
    $rac-form-layout-self-field-input-color: $rac-form-layout-self-field-input-color,
    $rac-form-layout-self-field-input-font-size: $rac-form-layout-self-field-input-font-size,
    $rac-form-layout-self-field-input-placeholder-color: $rac-form-layout-self-field-input-placeholder-color,
    $rac-form-layout-top-header-background-size: $rac-form-layout-top-header-background-size,
    $rac-form-layout-top-header-background: $rac-form-layout-top-header-background,
    $rac-form-layout-top-header-height: $rac-form-layout-top-header-height,
    $rac-form-layout-top-header-margin: $rac-form-layout-top-header-margin
  );
}