@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [31.05.2020] */
/************************/
$rac-form-layout-align-items: center !default;
$rac-form-layout-background-size: unset !default;
$rac-form-layout-background: unset !default;
$rac-form-layout-content-width: 280px !default;
$rac-form-layout-display: $rac-primary-display-0 !default;
$rac-form-layout-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-form-layout-justify-content: center !default;
$rac-form-layout-self-field-background: unset !default;
$rac-form-layout-self-field-focused-input-placeholder-color: $rac-primary-color-poseidon-3 !default;
$rac-form-layout-self-field-input-color: unset !default;
$rac-form-layout-top-header-margin: unset !default;


$rac-form-layout-content-margin: unset !default;
$rac-form-layout-content-position: relative !default;
$rac-form-layout-field-margin: 0 0 $rac-primary-offset-1 0 !default;
$rac-form-layout-flex-direction: unset !default;
$rac-form-layout-form-actions-margin: $rac-primary-offset-3 0 0 0 !default;
$rac-form-layout-self-field-border-radius: unset !default;
$rac-form-layout-self-field-border: 0 !default;
$rac-form-layout-self-field-focused-background: $rac-primary-color-elara-0 !default;
$rac-form-layout-self-field-focused-icon-color: $rac-primary-color-metis-3 !default;
$rac-form-layout-self-field-focused-input-color: $rac-primary-color-poseidon-0 !default;
$rac-form-layout-self-field-height: unset !default;
$rac-form-layout-self-field-icon-color: $rac-primary-color-elara-5 !default;
$rac-form-layout-self-field-icon-padding: unset !default;
$rac-form-layout-self-field-input-caret-bottom: unset !default;
$rac-form-layout-self-field-input-font-size: unset !default;
$rac-form-layout-self-field-input-placeholder-color: $rac-primary-color-elara-5 !default;
$rac-form-layout-top-header-background-size: contain !default;
$rac-form-layout-top-header-background: unset !default;
$rac-form-layout-top-header-height: unset !default;
