.app-form-layout {
  &.mdc-layout-grid {
    height: 100%;
    background-color: #070803;
    background-repeat: no-repeat;
    background-position: center / cover;

    .mdc-layout-grid__inner {
      height: 100%;

      .mdc-card {
        margin: 0 auto;
        width: 100%;
        max-width: 360px;
      }
    }

    .app-header {
      min-height: 100px;
      background: #263238;

      .mdc-card__subtitle, .mdc-card__title {
        color: white;
      }
    }

    .app-form {
      background-color: white;

      .mdc-card__primary {
        min-height: 280px;
      }
    }
  }
}