@import '~sass-flex-mixin/_flex';
@import '../../constant';

// Form layout [FRAMEWORK-][RAC+]
.rac {

  .rac-form-layout {
    background: $rac-form-layout-background;                           /* @stable [07.08.2018] */
    background-size: $rac-form-layout-background-size;                 /* @stable [07.08.2018] */

    .rac-form-layout-content {
      position: relative;                                              /* @stable [07.08.2018] */
      width: $rac-form-layout-content-width;                           /* @stable [07.08.2018] */
      min-width: $rac-form-layout-content-min-width;                   /* @stable [07.08.2018] */
      border: $rac-form-layout-content-border;                         /* @stable [07.08.2018] */
      border-radius: $rac-form-layout-content-border-radius;           /* @stable [07.08.2018] */
      background: $rac-form-layout-content-background;                 /* @stable [07.08.2018] */
      margin: $rac-form-layout-content-margin;                         /* @stable [08.08.2018] */

      .rac-header {
        background: $rac-form-layout-header-background;                /* @stable [07.08.2018] */

        .rac-header-title {
          color: $rac-form-layout-header-title-color;                  /* @stable [08.08.2018] */
          font-size: $rac-form-layout-header-title-font-size;          /* @stable [08.08.2018] */
        }
      }

      .rac-form {

        .rac-form-actions {
          padding: $rac-form-layout-form-actions-padding;              /* @stable [08.08.2018] */
          @include justify-content(center);                            /* @stable [08.08.2018] */

          .rac-button {
            margin-left: 0;                                            /* @stable [08.08.2018] */
          }
        }

        .rac-section {
          padding: $rac-form-layout-form-section-padding;              /* @stable [08.08.2018] */
        }
      }

      .rac-section {
        padding: $rac-form-layout-section-padding;                     /* @stable [07.08.2018] */
      }

      .rac-form-layout-top-header {
        width: 100%;                                                   /* @stable [07.08.2018] */
        height: $rac-form-layout-top-header-height;                    /* @stable [07.08.2018] */
        top: $rac-form-layout-top-header-top;                          /* @stable [07.08.2018] */
        background: $rac-form-layout-top-header-background;            /* @stable [07.08.2018] */

        .rac-form-layout-top-header-content {
          white-space: nowrap;                                                 /* @stable [07.08.2018] */
          margin: $rac-form-layout-top-header-content-margin;                  /* @stable [07.08.2018] */
          font-size: $rac-form-layout-top-header-content-font-size;            /* @stable [07.08.2018] */
          font-weight: $rac-form-layout-top-header-content-font-weight;        /* @stable [07.08.2018] */
          text-transform: $rac-form-layout-top-header-content-text-transform;  /* @stable [07.08.2018] */
          color: $rac-form-layout-top-header-content-color;                    /* @stable [07.08.2018] */
        }
      }

      .rac-form-field {

        .rac-field-label {
          &.rac-floating-focused-label {
            color: $rac-form-layout-floating-focused-label-color;              /* @stable [08.08.2018] */
          }
        }

        .rac-text-field {
          margin-top: $rac-form-layout-text-field-margin-top;                  /* @stable [08.08.2018] */
          border-bottom-color: $rac-form-layout-text-field-border-bottom-color;/* @stable [07.08.2018] */

          .rac-field-input {
            color: $rac-form-layout-text-field-input-color;                    /* @stable [07.08.2018] */
            caret-color: $rac-form-layout-text-field-input-color;              /* @stable [15.08.2018] */
          }

          &.rac-text-field-keyboard-opened {
            border-bottom-color: $rac-form-layout-text-field-keyboard-opened-border-bottom-color;  /* @stable [19.08.2018] */
            outline: $rac-form-layout-text-field-keyboard-opened-outline;                          /* @stable [23.08.2018] */
          }
        }
      }
    }
  }
}