@import './_form-constant';
@import './_form-mixin';

.rac {

  /**
   * @form
   * @stable [27.05.2020]
   */
  @include rac-form (
    $rac-form-actions-button-min-width: $rac-form-actions-button-min-width,
    $rac-form-actions-display: $rac-form-actions-display,
    $rac-form-actions-justify-content: $rac-form-actions-justify-content,
    $rac-form-actions-neighbor-child-margin: $rac-form-actions-neighbor-child-margin,
    $rac-form-display: $rac-form-display,
    $rac-form-flex-direction: $rac-form-flex-direction,
    $rac-form-flex-shrink: $rac-form-flex-shrink
  );

  /**
   * @full-form
   * @stable [23.03.2020]
   */
  @include rac-form (
    $rac-form-custom: $rac-full-form-cls,
    $rac-form-flex-grow: $rac-full-form-flex-grow
  );
}