@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-form-actions-button-min-width: unset !default;
$rac-form-actions-display: $rac-primary-display-0 !default;
$rac-form-actions-flex: unset !default;
$rac-form-actions-justify-content: center !default;
$rac-form-actions-neighbor-child-margin: 0 0 0 $rac-primary-offset-1 !default;
$rac-form-display: $rac-primary-display-0 !default;
$rac-form-flex-direction: $rac-primary-flex-direction-0 !default;
$rac-form-flex-shrink: $rac-primary-flex-shrink-0 !default;

/************************/
/* @stable [11.04.2020] */
/************************/
$rac-full-form-flex-grow: $rac-primary-flex-grow-1 !default;
