@import '../constant';
@import '../mixin';

.rac {

  @include rac-form (
    $rac-form-actions-button-min-width: $rac-form-actions-button-min-width,
    $rac-form-actions-button-neighbor-margin: $rac-form-actions-button-neighbor-margin,
    $rac-form-actions-flex-shrink: $rac-form-actions-flex-shrink
  );
}