.rac-form {
  .rac-fieldset {
    overflow: auto;
  }

  .rac-form-actions {
    padding: 16px;
    justify-content: flex-end;

    .rac-button {
      &[type=reset] {
        margin-right: 8px;
      }
    }
  }
}