@import '../vue-constant';
@import '../vue-mixin';

.vac {
  @include vue-form(                                                                          /* @stable [27.05.2019] */
    $vue-form-title-font-size: $vue-form-title-font-size,
    $vue-form-title-font-weight: $vue-form-title-font-weight,
    $vue-form-title-padding: $vue-form-title-padding,
    $vue-form-field-margin: $vue-form-field-margin,
    $vue-form-header-flex-height: $vue-form-header-flex-height,
    $vue-form-header-padding: $vue-form-header-padding
  )
}