@import '../constant';
@import '../mixin';

.rac {

  /**
   * @dialog
   * @stable [05.01.2020]
   */
  @include rac-dialog (
    $rac-dialog-actions-display: $rac-dialog-actions-display,
    $rac-dialog-actions-flex-shrink: $rac-dialog-actions-flex-shrink,
    $rac-dialog-actions-margin: $rac-dialog-actions-margin,
    $rac-dialog-actions-neighbor-child-margin: $rac-dialog-actions-neighbor-child-margin,
    $rac-dialog-body-background: $rac-dialog-body-background,
    $rac-dialog-body-border-radius: $rac-dialog-body-border-radius,
    $rac-dialog-body-content-display: $rac-dialog-body-content-display,
    $rac-dialog-body-content-flex-direction: $rac-dialog-body-content-flex-direction,
    $rac-dialog-body-content-flex: $rac-dialog-body-content-flex,
    $rac-dialog-body-content-overflow: $rac-dialog-body-content-overflow,
    $rac-dialog-body-content-padding: $rac-dialog-body-content-padding,
    $rac-dialog-body-content-position: $rac-dialog-body-content-position,
    $rac-dialog-body-display: $rac-dialog-body-display,
    $rac-dialog-body-flex-direction: $rac-dialog-body-flex-direction,
    $rac-dialog-body-max-height: $rac-dialog-body-max-height,
    $rac-dialog-body-max-width: $rac-dialog-body-max-width,
    $rac-dialog-body-padding: $rac-dialog-body-padding,
    $rac-dialog-body-title-border-bottom: $rac-dialog-body-title-border-bottom,
    $rac-dialog-body-title-font-weight: $rac-dialog-body-title-font-weight,
    $rac-dialog-body-title-margin: $rac-dialog-body-title-margin,
    $rac-dialog-body-title-padding: $rac-dialog-body-title-padding,
    $rac-dialog-body-wrapper-align-items: $rac-dialog-body-wrapper-align-items,
    $rac-dialog-body-wrapper-background: $rac-dialog-body-wrapper-background,
    $rac-dialog-body-wrapper-display: $rac-dialog-body-wrapper-display,
    $rac-dialog-body-wrapper-justify-content: $rac-dialog-body-wrapper-justify-content,
    $rac-dialog-body-z-index: $rac-dialog-body-z-index,
    $rac-dialog-scrim-background: $rac-dialog-scrim-background,
    $rac-dialog-scrim-z-index: $rac-dialog-scrim-z-index
  );
}