@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [27.04.2020] */
/************************/
$rac-primary-dialog-background-0: $rac-primary-color-metis-7 !default;
$rac-primary-dialog-color-0: $rac-primary-color-callisto-1 !default;
$rac-primary-dialog-max-height-0: 80vh !default;
$rac-primary-dialog-max-width-0: 50vw !default;

/************************/
/* @stable [11.05.2020] */
/************************/
$rac-dialog-body-content-display: $rac-primary-display-0 !default;
$rac-dialog-body-content-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-dialog-body-content-wrapper-display: $rac-primary-display-0 !default;
$rac-dialog-body-content-wrapper-flex-direction: column !default;
$rac-dialog-body-content-wrapper-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-dialog-body-content-wrapper-position: relative !default;

/************************/
/* @stable [27.04.2020] */
/************************/
$rac-confirm-dialog-body-content-wrapper-font-size: $rac-primary-font-size-1 !default;
$rac-confirm-dialog-body-content-wrapper-line-height: $rac-primary-line-height-1 !default;
$rac-confirm-dialog-body-content-wrapper-text-align: justify !default;
$rac-confirm-dialog-body-flex: $rac-primary-flex-1 !default;
$rac-confirm-dialog-body-max-width: $rac-primary-max-width-2 !default;

/************************/
/* @stable [27.04.2020] */
/************************/
$rac-not-transparent-dialog-background: $rac-primary-dialog-background-0 !default;

/************************/
/* @stable [27.04.2020] */
/************************/
$rac-inline-dialog-position: absolute !default;

/************************/
/* @stable [27.04.2020] */
/************************/
$rac-default-dialog-align-items: center !default;
$rac-default-dialog-body-background: $rac-primary-dialog-color-0 !default;
$rac-default-dialog-body-border-radius: $rac-primary-border-radius-1 !default;
$rac-default-dialog-body-content-wrapper-padding: 0 $rac-primary-offset-3 !default;
$rac-default-dialog-body-display: $rac-primary-display-0 !default;
$rac-default-dialog-body-flex-direction: column !default;
$rac-default-dialog-body-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-default-dialog-body-max-height: $rac-primary-dialog-max-height-0 !default;
$rac-default-dialog-body-max-width: $rac-primary-dialog-max-width-0 !default;
$rac-default-dialog-body-padding: $rac-primary-offset-3 0 !default;
$rac-default-dialog-display: $rac-primary-display-0 !default;
$rac-default-dialog-justify-content: center !default;

/************************/
/* @stable [11.05.2020] */
/************************/
$rac-overlay-dialog-align-items: unset !default;
$rac-overlay-dialog-background: $rac-primary-dialog-background-0 !default;
$rac-overlay-dialog-body-display: $rac-primary-display-0 !default;
$rac-overlay-dialog-body-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-overlay-dialog-display: $rac-primary-display-0 !default;
$rac-overlay-dialog-justify-content: unset !default;
$rac-overlay-dialog-opacity: unset !default;
