@import '../mixin';
@import './_dialog-constant';

.rac {

  /**
   * @dialog
   * @stable [05.01.2020]
   */
  @include rac-dialog (
    $rac-dialog-action-height: $rac-dialog-action-height,
    $rac-dialog-action-width: $rac-dialog-action-width,
    $rac-dialog-actions-display: $rac-dialog-actions-display,
    $rac-dialog-actions-flex: $rac-dialog-actions-flex,
    $rac-dialog-actions-justify-content: $rac-dialog-actions-justify-content,
    $rac-dialog-actions-margin: $rac-dialog-actions-margin,
    $rac-dialog-actions-neighbor-child-margin: $rac-dialog-actions-neighbor-child-margin,
    $rac-dialog-body-border-radius: $rac-dialog-body-border-radius,
    $rac-dialog-body-content-display: $rac-dialog-body-content-display,
    $rac-dialog-body-content-flex-grow: $rac-dialog-body-content-flex-grow,
    $rac-dialog-body-content-overflow: $rac-dialog-body-content-overflow,
    $rac-dialog-body-content-position: $rac-dialog-body-content-position,
    $rac-dialog-body-content-wrapper-display: $rac-dialog-body-content-wrapper-display,
    $rac-dialog-body-content-wrapper-flex-direction: $rac-dialog-body-content-wrapper-flex-direction,
    $rac-dialog-body-content-wrapper-flex-grow: $rac-dialog-body-content-wrapper-flex-grow,
    $rac-dialog-body-content-wrapper-position: $rac-dialog-body-content-wrapper-position,
    $rac-dialog-body-display: $rac-dialog-body-display,
    $rac-dialog-body-title-border-bottom: $rac-dialog-body-title-border-bottom,
    $rac-dialog-body-title-font-weight: $rac-dialog-body-title-font-weight,
    $rac-dialog-body-title-margin: $rac-dialog-body-title-margin,
    $rac-dialog-body-title-padding: $rac-dialog-body-title-padding
  );

  /**
   * @default-dialog
   * @stable [24.01.2020]
   */
  @include rac-dialog (
    $rac-dialog-custom: $rac-default-dialog-cls,
    $rac-dialog-align-items: $rac-default-dialog-align-items,
    $rac-dialog-body-background: $rac-default-dialog-body-background,
    $rac-dialog-body-border-radius: $rac-default-dialog-body-border-radius,
    $rac-dialog-body-content-wrapper-padding: $rac-default-dialog-body-content-wrapper-padding,
    $rac-dialog-body-display: $rac-default-dialog-body-display,
    $rac-dialog-body-flex-direction: $rac-default-dialog-body-flex-direction,
    $rac-dialog-body-flex-grow: $rac-default-dialog-body-flex-grow,
    $rac-dialog-body-max-height: $rac-default-dialog-body-max-height,
    $rac-dialog-body-max-width: $rac-default-dialog-body-max-width,
    $rac-dialog-body-padding: $rac-default-dialog-body-padding,
    $rac-dialog-display: $rac-default-dialog-display,
    $rac-dialog-justify-content: $rac-default-dialog-justify-content
  );

  /**
   * @modal-dialog
   * @stable [31.01.2020]
   */
  @include rac-dialog (
    $rac-dialog-custom: $rac-modal-dialog-cls,
    $rac-dialog-height: $rac-modal-dialog-height,
    $rac-dialog-left: $rac-modal-dialog-left,
    $rac-dialog-position: $rac-modal-dialog-position,
    $rac-dialog-top: $rac-modal-dialog-top,
    $rac-dialog-width: $rac-modal-dialog-width,
    $rac-dialog-z-index: $rac-modal-dialog-z-index
  );

  /**
    * @inline-dialog
    * @stable [31.01.2020]
    */
  @include rac-dialog (
    $rac-dialog-custom: $rac-inline-dialog-cls,
    $rac-dialog-position: $rac-inline-dialog-position
  );

  /**
    * @confirm-dialog
    * @stable [11.03.2020]
    */
  @include rac-dialog (
    $rac-dialog-custom: $rac-confirm-dialog-cls,
    $rac-dialog-body-content-wrapper-font-size: $rac-confirm-dialog-body-content-wrapper-font-size,
    $rac-dialog-body-content-wrapper-line-height: $rac-confirm-dialog-body-content-wrapper-line-height,
    $rac-dialog-body-content-wrapper-text-align: $rac-confirm-dialog-body-content-wrapper-text-align,
    $rac-dialog-body-flex: $rac-confirm-dialog-body-flex,
    $rac-dialog-body-max-width: $rac-confirm-dialog-body-max-width
  );

  /**
   * @not-transparent-dialog
   * @stable [31.01.2020]
   */
  @include rac-dialog (
    $rac-dialog-custom: $rac-not-transparent-dialog-cls,
    $rac-dialog-background: $rac-not-transparent-dialog-background
  );

  /**
   * @overlay-dialog
   * @stable [11.05.2020]
   */
  @include rac-dialog (
    $rac-dialog-custom: $rac-overlay-dialog-cls,
    $rac-dialog-align-items: $rac-overlay-dialog-align-items,
    $rac-dialog-background: $rac-overlay-dialog-background,
    $rac-dialog-body-display: $rac-overlay-dialog-body-display,
    $rac-dialog-body-flex-grow: $rac-overlay-dialog-body-flex-grow,
    $rac-dialog-display: $rac-overlay-dialog-display,
    $rac-dialog-justify-content: $rac-overlay-dialog-justify-content,
    $rac-dialog-opacity: $rac-overlay-dialog-opacity
  );

  /**
   * @progress-dialog
   * @stable [11.05.2020]
   */
  @include rac-dialog (
    $rac-dialog-custom: $rac-progress-dialog-cls,
    $rac-dialog-body-align-items: $rac-progress-dialog-body-align-items,
    $rac-dialog-body-justify-content: $rac-progress-dialog-body-justify-content,
    $rac-dialog-progress-icon-size: $rac-progress-dialog-progress-icon-size
  );

  /**
   * @overlay-background
   * @stable [11.05.2020]
   */
  @include rac-filter (
    $rac-filter-custom: $rac-overlay-filter-cls,
    $rac-filter-name: $rac-overlay-filter-name,
    $rac-filter-value: $rac-overlay-filter-value
  );
}