@import '../constant';
@import '../mixin';
@import '~react-day-picker/lib/style.css';

.rac {

  @include rac-dialog(                                                                        /* @stable [17.06.2019] */
    $rac-dialog-body-background: $rac-dialog-body-background,
    $rac-dialog-body-max-height: $rac-dialog-body-max-height,
    $rac-dialog-body-border-radius: $rac-dialog-body-border-radius,
    $rac-dialog-body-padding: $rac-dialog-body-padding,
    $rac-dialog-body-content-overflow: $rac-dialog-body-content-overflow,
    $rac-dialog-scrim-background: $rac-dialog-scrim-background,
    $rac-dialog-footer-actions-margin: $rac-dialog-footer-actions-margin,
    $rac-dialog-footer-actions-neighbor-child-margin: $rac-dialog-footer-actions-neighbor-child-margin
  );
}