@import '../constant';
@import '../mixin';
@import '~react-day-picker/lib/style.css';

.rac {

  @include rac-dialog(                                                                        /* @stable [24.03.2019] */
    $rac-dialog-actions-footer-margin: $rac-dialog-actions-footer-margin,
    $rac-dialog-actions-footer-neighbor-child-margin: $rac-dialog-actions-footer-neighbor-child-margin,
    $rac-dialog-content-font-size: $rac-dialog-content-font-size,
    $rac-dialog-body-background: $rac-dialog-body-background,
    $rac-dialog-body-padding: $rac-dialog-body-padding,
    $rac-dialog-body-border-radius: $rac-dialog-body-border-radius,
    $rac-dialog-body-content-wrapper-overflow: $rac-dialog-body-content-wrapper-overflow
  );
}