@import '../../mixin';
@import './_layout-builder-constant';

.rac {

  /**
   * @layout-builder
   * @stable [07.04.2020]
   */
  @include rac-layout-builder (
    $rac-layout-builder-1-2-flex-grow: $rac-layout-builder-1-2-flex-grow,
    $rac-layout-builder-3-4-flex-grow: $rac-layout-builder-3-4-flex-grow,
    $rac-layout-builder-column-view-display: $rac-layout-builder-column-view-display,
    $rac-layout-builder-column-view-flex-basis: $rac-layout-builder-column-view-flex-basis,
    $rac-layout-builder-column-view-flex-direction: $rac-layout-builder-column-view-flex-direction,
    $rac-layout-builder-column-view-neighbor-child-margin: $rac-layout-builder-column-view-neighbor-child-margin,
    $rac-layout-builder-row-view-display: $rac-layout-builder-row-view-display,
    $rac-layout-builder-row-view-flex-basis: $rac-layout-builder-row-view-flex-basis,
    $rac-layout-builder-row-view-flex-direction: $rac-layout-builder-row-view-flex-direction,
    $rac-layout-builder-row-view-neighbor-child-margin: $rac-layout-builder-row-view-neighbor-child-margin,
    $rac-layout-builder-x1-flex-grow: $rac-layout-builder-x1-flex-grow,
    $rac-layout-builder-x2-flex-grow: $rac-layout-builder-x2-flex-grow,
    $rac-layout-builder-x4-flex-grow: $rac-layout-builder-x4-flex-grow,
    $rac-layout-builder-x8-flex-grow: $rac-layout-builder-x8-flex-grow
  );
}