@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [07.04.2020] */
/************************/
$rac-layout-builder-1-2-flex-grow: .5 !default;
$rac-layout-builder-3-4-flex-grow: .75 !default;
$rac-layout-builder-column-view-display: $rac-primary-display-0 !default;
$rac-layout-builder-column-view-flex-direction: column !default;
$rac-layout-builder-column-view-neighbor-child-margin: unset !default;
$rac-layout-builder-row-view-display: $rac-primary-display-0 !default;
$rac-layout-builder-row-view-flex-direction: row !default;
$rac-layout-builder-row-view-neighbor-child-margin: 0 0 0 $rac-primary-offset-5 !default;
$rac-layout-builder-stretch-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-layout-builder-x1-flex-grow: 1 !default;
$rac-layout-builder-x2-flex-grow: 2 !default;
$rac-layout-builder-x4-flex-grow: 4 !default;
$rac-layout-builder-x8-flex-grow: 8 !default;
