@import '../../_core-mixin';

/**
 * @stable [07.04.2020]
 */
@mixin rac-layout-builder (
  $rac-layout-builder-column-view-custom: unset,
  $rac-layout-builder-row-view-custom: unset,
  /**/
  $rac-layout-builder-0-30-flex-grow: unset,                                                  /* @stable [13.12.2020] */
  $rac-layout-builder-0-70-flex-grow: unset,                                                  /* @stable [13.12.2020] */
  $rac-layout-builder-1-2-flex-grow: unset,                                                   /* @stable [23.01.2020] */
  $rac-layout-builder-1-4-flex-grow: unset,                                                   /* @stable [13.12.2020] */
  $rac-layout-builder-3-4-flex-grow: unset,                                                   /* @stable [23.01.2020] */
  $rac-layout-builder-column-view-display: unset,                                             /* @stable [23.01.2020] */
  $rac-layout-builder-column-view-flex-direction: unset,                                      /* @stable [23.01.2020] */
  $rac-layout-builder-column-view-neighbor-child-margin: unset,                               /* @stable [23.01.2020] */
  $rac-layout-builder-row-view-display: unset,                                                /* @stable [23.01.2020] */
  $rac-layout-builder-row-view-flex-direction: unset,                                         /* @stable [23.01.2020] */
  $rac-layout-builder-row-view-neighbor-child-margin: unset,                                  /* @stable [23.01.2020] */
  $rac-layout-builder-stretch-flex-basis: unset,                                              /* @stable [07.04.2020] */
  $rac-layout-builder-x1-flex-grow: unset,                                                    /* @stable [23.01.2020] */
  $rac-layout-builder-x2-flex-grow: unset,                                                    /* @stable [23.01.2020] */
  $rac-layout-builder-x4-flex-grow: unset,                                                    /* @stable [23.01.2020] */
  $rac-layout-builder-x8-flex-grow: unset                                                     /* @stable [23.01.2020] */
) {
  #{rac-cls(rac-layout-builder-row-view, $rac-layout-builder-row-view-custom)} {
    @include rac-styles (
      $rac-styles-display: $rac-layout-builder-row-view-display,
      $rac-styles-flex-direction: $rac-layout-builder-row-view-flex-direction
    );

    @include rac-neighbor-child (
      $rac-neighbor-child-margin: $rac-layout-builder-row-view-neighbor-child-margin
    );
  }

  #{rac-cls(rac-layout-builder-column-view, $rac-layout-builder-column-view-custom)} {
    @include rac-styles (
      $rac-styles-display: $rac-layout-builder-column-view-display,
      $rac-styles-flex-direction: $rac-layout-builder-column-view-flex-direction
    );

    @include rac-neighbor-child (
      $rac-neighbor-child-margin: $rac-layout-builder-column-view-neighbor-child-margin
    );
  }


  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-stretch,
    $rac-styles-flex-basis: $rac-layout-builder-stretch-flex-basis
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-1-4,
    $rac-styles-flex-grow: $rac-layout-builder-1-4-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-0-30,
    $rac-styles-flex-grow: $rac-layout-builder-0-30-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-1-2,
    $rac-styles-flex-grow: $rac-layout-builder-1-2-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-0-70,
    $rac-styles-flex-grow: $rac-layout-builder-0-70-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-3-4,
    $rac-styles-flex-grow: $rac-layout-builder-3-4-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-x1,
    $rac-styles-flex-grow: $rac-layout-builder-x1-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-x2,
    $rac-styles-flex-grow: $rac-layout-builder-x2-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-x4,
    $rac-styles-flex-grow: $rac-layout-builder-x4-flex-grow
  );

  @include rac-styles (
    $rac-styles-custom: rac-layout-builder-x8,
    $rac-styles-flex-grow: $rac-layout-builder-x8-flex-grow
  );
};