// List [MDC+]
.mdc-list {
  .mdc-list-group__subheader {
    cursor: default;
  }

  &.rac-list, &.rac-navigation-list {
    padding-top: 0;
  }
}

// Drawer list icons [MDC+]
.mdc-drawer--persistent {
  .mdc-list-item {
    .material-icons {
      padding-right: 32px;
    }
  }
}

// Form list [MDC+]
.rac-form {
  .mdc-list {
    padding: 0;
  }
}