@import '../../constant';

// List [MDC+]
.mdc-list {
  padding: 0;

  .mdc-list-group__subheader {
    cursor: default;
  }

  .mdc-list-item__graphic {
    color: $color-11;
  }

  &.mdc-list--avatar-list {
    .mdc-list-item__graphic {
      min-width: 40px;
      color: $color-5;
      background: $color-10;
    }
  }

  &.rac-list {
    .mdc-list-item__text {
      max-width: 80%;
      min-width: 80%;
    }

    .mdc-list-item__secondary-text {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .material-icons {
      vertical-align: bottom;

      &.mdc-list-item__meta {
        color: $color-1;
      }
    }
  }

  &.rac-navigation-list {
    .mdc-list-item {
      .material-icons {
        padding-right: 32px;
      }
    }
  }
}