@import '../constant';
@import '../mixin';

.rac {

  /**
   * @menu-dialog
   * @stable [11.11.2019]
   */
  @include rac-menu-dialog (
    $rac-menu-dialog-base-text-field-margin: $rac-menu-dialog-base-text-field-margin,
    $rac-menu-dialog-base-text-self-field-background: $rac-menu-dialog-base-text-self-field-background,
    $rac-menu-dialog-base-text-self-field-height: $rac-menu-dialog-base-text-self-field-height,
    $rac-menu-dialog-body-background: $rac-menu-dialog-body-background,
    $rac-menu-dialog-body-justify-content: $rac-menu-dialog-body-justify-content,
    $rac-menu-dialog-icon-close-color: $rac-menu-dialog-icon-close-color,
    $rac-menu-dialog-icon-close-margin: $rac-menu-dialog-icon-close-margin,
    $rac-menu-dialog-icon-close-size: $rac-menu-dialog-icon-close-size,
    $rac-menu-dialog-list-background: $rac-menu-dialog-list-background,
    $rac-menu-dialog-list-item-box-sizing: $rac-menu-dialog-list-item-box-sizing,
    $rac-menu-dialog-list-item-decorated-content-text-align: $rac-menu-dialog-list-item-decorated-content-text-align,
    $rac-menu-dialog-list-item-font-weight: $rac-menu-dialog-list-item-font-weight,
    $rac-menu-dialog-list-item-line-height: $rac-menu-dialog-list-item-line-height,
    $rac-menu-dialog-list-item-min-height: $rac-menu-dialog-list-item-min-height,
    $rac-menu-dialog-list-overflow: $rac-menu-dialog-list-overflow
  );

  /**
   * @menu-not-anchored-dialog
   * @stable [24.01.2020]
   */
  @include rac-menu-dialog (
    $rac-menu-dialog-custom: rac-not-anchored-dialog,
    $rac-menu-dialog-align-items: $rac-menu-not-anchored-dialog-align-items,
    $rac-menu-dialog-body-display: $rac-menu-not-anchored-dialog-body-display,
    $rac-menu-dialog-body-height: $rac-menu-not-anchored-dialog-body-height,
    $rac-menu-dialog-body-width: $rac-menu-not-anchored-dialog-body-width,
    $rac-menu-dialog-display: $rac-menu-not-anchored-dialog-display,
    $rac-menu-dialog-justify-content: $rac-menu-not-anchored-dialog-justify-content,
    $rac-menu-dialog-list-border-radius: $rac-menu-not-anchored-dialog-list-border-radius
  );

  /**
   * @menu-anchored-dialog
   * @stable [25.01.2020]
   */
  @include rac-menu-dialog (
    $rac-menu-dialog-custom: rac-anchored-dialog,
    $rac-menu-dialog-body-background: $rac-menu-anchored-dialog-body-background,
    $rac-menu-dialog-body-content-background: $rac-menu-anchored-dialog-body-content-background,
    $rac-menu-dialog-body-content-border-radius: $rac-menu-anchored-dialog-body-content-border-radius,
    $rac-menu-dialog-body-content-box-shadow: $rac-menu-anchored-dialog-body-content-box-shadow,
    $rac-menu-dialog-body-content-margin: $rac-menu-anchored-dialog-body-content-margin,
    $rac-menu-dialog-body-display: $rac-menu-anchored-dialog-body-display,
    $rac-menu-dialog-body-margin: $rac-menu-anchored-dialog-body-margin,
    $rac-menu-dialog-body-min-width: $rac-menu-anchored-dialog-body-min-width,
    $rac-menu-dialog-list-background: $rac-menu-anchored-dialog-list-background,
    $rac-menu-dialog-list-item-border-bottom: $rac-menu-anchored-dialog-list-item-border-bottom,
    $rac-menu-dialog-list-item-color: $rac-menu-anchored-dialog-list-item-color,
    $rac-menu-dialog-list-item-hover-background: $rac-menu-anchored-dialog-list-item-hover-background,
    $rac-menu-dialog-list-item-hover-border-bottom: $rac-menu-anchored-dialog-list-item-hover-border-bottom,
    $rac-menu-dialog-list-item-hover-color: $rac-menu-anchored-dialog-list-item-hover-color,
    $rac-menu-dialog-list-item-last-border-bottom-color: $rac-menu-anchored-dialog-list-item-last-border-bottom-color,
    $rac-menu-dialog-list-item-odd-background: $rac-menu-anchored-dialog-list-item-odd-background,
    $rac-menu-dialog-list-item-selected-background: $rac-menu-anchored-dialog-list-item-selected-background,
    $rac-menu-dialog-list-item-selected-color: $rac-menu-anchored-dialog-list-item-selected-color,
    $rac-menu-dialog-list-margin: $rac-menu-anchored-dialog-list-margin,
    $rac-menu-dialog-list-padding: $rac-menu-anchored-dialog-list-padding
  );

  /**
   * @menu-anchored-height-restricted-dialog
   * @stable [25.01.2020]
   */
  @include rac-menu-dialog (
    $rac-menu-dialog-custom: rac-cls2(rac-anchored-dialog, rac-height-restricted-dialog),
    $rac-menu-dialog-list-max-height: $rac-menu-anchored-height-restricted-dialog-max-height
  );
}