@import '~sass-flex-mixin/_flex';
@import '../constant';

// Menu [FRAMEWORK-][RAC+]
.rac {

  .rac-menu {

    .rac-menu-close-action {
      margin: 8px;                                            /* @stable [25.06.2018] */
      cursor: pointer;                                        /* @stable [25.06.2018] */
      color: $rac-menu-close-action-color;                    /* @stable [26.06.2018] */
    }

    .rac-simple-list {
      padding: unset;                                         /* @stable [25.06.2018] */
      max-height: $rac-menu-simple-list-max-height;           /* @stable [25.06.2018] */

      .rac-simple-list-item {
        height: $rac-menu-simple-list-item-height;            /* @stable [25.06.2018] */

        &[aria-disabled='true'] {
          opacity: $opacity-text;                             /* @stable [05.08.2018] */
        }

        .rac-menu-item {
          width: 100%;                                        /* @stable [25.06.2018] */
          height: 100%;                                       /* @stable [25.06.2018] */
          font-size: $rac-menu-item-font-size;                /* @stable [25.06.2018] */
          color: $rac-menu-item-color;                        /* @stable [25.06.2018] */
          @include align-items(center);                       /* @stable [25.06.2018] */

          .rac-menu-item-icon {

            &.rac-icon {
              display: inline-block;                          /* @stable [25.06.2018] */
              margin-right: $rac-menu-item-icon-margin-right; /* @stable [25.06.2018] */
            }
          }
        }
      }
    }

    .rac-form-field {
      width: 100%;                                            /* @stable [25.06.2018] */

      .rac-text-field {
        height: 24px !important;                              /* @stable [25.06.2018] */
        margin: 0 16px 16px;                                  /* @stable [25.06.2018] */
      }
    }
  }
}