@import '../constant';
@import '../mixin';

.rac {

  /**
   * @menu-dialog
   * @stable [11.11.2019]
   */
  @include rac-menu-dialog (
    $rac-menu-dialog-base-text-field-margin: $rac-menu-dialog-base-text-field-margin,
    $rac-menu-dialog-base-text-self-field-background: $rac-menu-dialog-base-text-self-field-background,
    $rac-menu-dialog-base-text-self-field-height: $rac-menu-dialog-base-text-self-field-height,
    $rac-menu-dialog-body-background: $rac-menu-dialog-body-background,
    $rac-menu-dialog-body-height: $rac-menu-dialog-body-height,
    $rac-menu-dialog-body-justify-content: $rac-menu-dialog-body-justify-content,
    $rac-menu-dialog-body-padding: $rac-menu-dialog-body-padding,
    $rac-menu-dialog-icon-close-color: $rac-menu-dialog-icon-close-color,
    $rac-menu-dialog-icon-close-margin: $rac-menu-dialog-icon-close-margin,
    $rac-menu-dialog-icon-close-size: $rac-menu-dialog-icon-close-size,
    $rac-menu-dialog-list-background: $rac-menu-dialog-list-background,
    $rac-menu-dialog-list-border-radius: $rac-menu-dialog-list-border-radius,
    $rac-menu-dialog-list-overflow: $rac-menu-dialog-list-overflow
  );

  @include rac-menu (                                                                         /* @stable [23.09.2019] */
    $rac-menu-list-max-height: $rac-menu-list-max-height,
    $rac-menu-list-item-padding: $rac-menu-list-item-padding
  );

  .rac-menu {
    z-index: $rac-menu-window-position;                                               /* @stable [04.10.2018] */

    .rac-list {

      .rac-list-item {

        &[aria-disabled='true'] {
          opacity: $rac-opacity;                              /* @stable [05.08.2018] */
          cursor: default;                                    /* @stable [04.10.2018] */
        }

        &:hover {
          background: $rac-menu-item-hover-background;        /* @stable [04.10.2018] */
        }
      }
    }
  }
}