@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [05.05.2020] */
/************************/
$rac-page-toolbar-align-items: center !default;
$rac-page-toolbar-border-top: unset !default;
$rac-page-toolbar-content-display: $rac-primary-display-0 !default;
$rac-page-toolbar-display: $rac-primary-display-0 !default;
$rac-page-toolbar-height: $rac-primary-size-15 !default;
$rac-page-toolbar-icon-color: $rac-primary-color-metis-3 !default;
$rac-page-toolbar-icon-margin: unset !default;
$rac-page-toolbar-justify-content: center !default;
$rac-page-toolbar-pages-color: $rac-primary-color-metis-3 !default;
$rac-page-toolbar-pages-font-size: $rac-primary-font-size-1 !default;
$rac-page-toolbar-pages-margin: unset !default;
