@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [10.06.2020] */
/************************/
$rac-primary-page-toolbar-offset-0: $rac-primary-offset-1 !default;

/************************/
/* @stable [05.05.2020] */
/************************/
$rac-page-toolbar-action-background: unset !default;
$rac-page-toolbar-action-content-font-size: unset !default;
$rac-page-toolbar-action-content-padding: unset !default;
$rac-page-toolbar-action-content-text-transform: unset !default;
$rac-page-toolbar-action-first-margin: 0 $rac-primary-page-toolbar-offset-0 0 0 !default;
$rac-page-toolbar-action-last-margin: 0 0 0 $rac-primary-page-toolbar-offset-0 !default;
$rac-page-toolbar-action-with-short-digit-format-content-padding: unset !default;
$rac-page-toolbar-align-items: center !default;
$rac-page-toolbar-border-top: unset !default;
$rac-page-toolbar-content-display: $rac-primary-display-0 !default;
$rac-page-toolbar-display: $rac-primary-display-0 !default;
$rac-page-toolbar-height: $rac-primary-size-15 !default;
$rac-page-toolbar-icon-color: $rac-primary-color-poseidon-3 !default;
$rac-page-toolbar-icon-height: unset !default;
$rac-page-toolbar-icon-margin: unset !default;
$rac-page-toolbar-justify-content: center !default;
$rac-page-toolbar-pages-align-items: center !default;
$rac-page-toolbar-pages-color: $rac-primary-color-poseidon-3 !default;
$rac-page-toolbar-pages-display: $rac-primary-display-0 !default;
$rac-page-toolbar-pages-font-size: $rac-primary-font-size-1 !default;
$rac-page-toolbar-pages-font-weight: unset !default;
$rac-page-toolbar-pages-margin: 0 $rac-primary-offset-1 !default;

/************************/
/* @stable [10.06.2020] */
/************************/
$rac-page-toolbar__media-query-breakpoint-0-min-max__action-content-font-size: unset !default;
$rac-page-toolbar__media-query-breakpoint-0-min-max__action-content-padding: unset !default;