@import '../_toolbar-constant';
@import './_page-toolbar-constant';
@import './_page-toolbar-mixin';

.rac {

  /**
   * @page-toolbar
   * @stable [05.05.2020]
   */
  @include rac-page-toolbar (
    $rac-page-toolbar-action-background: $rac-page-toolbar-action-background,
    $rac-page-toolbar-action-content-font-size: $rac-page-toolbar-action-content-font-size,
    $rac-page-toolbar-action-content-padding: $rac-page-toolbar-action-content-padding,
    $rac-page-toolbar-action-content-text-transform: $rac-page-toolbar-action-content-text-transform,
    $rac-page-toolbar-action-first-margin: $rac-page-toolbar-action-first-margin,
    $rac-page-toolbar-action-last-margin: $rac-page-toolbar-action-last-margin,
    $rac-page-toolbar-action-with-short-digit-format-content-padding: $rac-page-toolbar-action-with-short-digit-format-content-padding,
    $rac-page-toolbar-align-items: $rac-page-toolbar-align-items,
    $rac-page-toolbar-border-top: $rac-page-toolbar-border-top,
    $rac-page-toolbar-content-display: $rac-page-toolbar-content-display,
    $rac-page-toolbar-display: $rac-page-toolbar-display,
    $rac-page-toolbar-height: $rac-page-toolbar-height,
    $rac-page-toolbar-icon-color: $rac-page-toolbar-icon-color,
    $rac-page-toolbar-icon-height: $rac-page-toolbar-icon-height,
    $rac-page-toolbar-icon-margin: $rac-page-toolbar-icon-margin,
    $rac-page-toolbar-justify-content: $rac-page-toolbar-justify-content,
    $rac-page-toolbar-pages-align-items: $rac-page-toolbar-pages-align-items,
    $rac-page-toolbar-pages-color: $rac-page-toolbar-pages-color,
    $rac-page-toolbar-pages-display: $rac-page-toolbar-pages-display,
    $rac-page-toolbar-pages-font-size: $rac-page-toolbar-pages-font-size,
    $rac-page-toolbar-pages-font-weight: $rac-page-toolbar-pages-font-weight,
    $rac-page-toolbar-pages-margin: $rac-page-toolbar-pages-margin
  );

  /**
   * @full-page-toolbar
   * @stable [06.05.2020]
   */
  @include rac-page-toolbar (
    $rac-page-toolbar-custom: $rac-full-toolbar-cls,
    $rac-page-toolbar-flex-grow: $rac-full-toolbar-flex-grow
  );
}