@import '../../constant';
@import '../../mixin';

// Page toolbar [FRAMEWORK-][RAC+]
.rac {

  .rac-toolbar {

    &.rac-page-toolbar {

      .rac-toolbar-content {
        padding-left: $rac-page-toolbar-content-padding-left;         /* @stable [25.06.2018] */
        padding-right: $rac-page-toolbar-content-padding-right;       /* @stable [25.06.2018] */
      }

      .rac-toolbar-pages-info {
        font-size: $rac-page-toolbar-pages-info-font-size;            /* @stable [05.08.2018] */
        color: $rac-page-toolbar-pages-info-color;                    /* @stable [09.05.2018] */
        margin: 0 16px;  // TODO
      }
    }
  }

  @include rac-icon(
    $rac-icon-custom: rac-button-page-icon,
    $rac-icon-size: 20px,
    $rac-icon-margin: 0 4px
  );
}