@import '../../mixin';
@import '../../chip/chip-mixin';
@import '../../classes';
@import './_chips-field-constant';

.rac {

  /**
   * @field
   * @stable [02.06.2020]
   */
  @include rac-field (
    $rac-field-chips-margin: $rac-field-chips-margin,
    $rac-field-chips-neighbor-child-margin: $rac-field-chips-neighbor-child-margin
  );

  /**
   * @field-chip
   * @stable [16.06.2020]
   */
  @include rac-chip (
    $rac-chip-custom: $rac-field-chip-cls,
    $rac-chip-margin: $rac-field-chip-margin
  );
}