@import '../../mixin';
@import './_chips-field-constant';

.rac {

  /**
   * @field
   * @stable [02.06.2020]
   */
  @include rac-field (
    $rac-field-chips-chip-margin: $rac-field-chips-chip-margin,
    $rac-field-chips-margin: $rac-field-chips-margin,
    $rac-field-chips-neighbor-child-margin: $rac-field-chips-neighbor-child-margin
  );
}