@import '../../vue-mixin';

.vac {

  @include vue-viewer(                                                                        /* @stable [06.01.2019] */
    $vue-viewer-custom: vue-picture-viewer,
    $vue-viewer-preview-background-size: cover,
    $vue-viewer-preview-background-repeat: no-repeat,
    $vue-viewer-preview-background-position: center
  );

  @include rac-styles(                                                                        /* @stable [06.01.2019] */
    $rac-styles-custom: vue-picture-viewer-image,
    $rac-styles-max-width: 100%,
    $rac-styles-max-height: 100%
  );
}