@import '../../_primary-constant';
@import '../../_classes';

/************************/
/* @stable [09.04.2020] */
/************************/
$rac-base-checkbox-self-field-input-opacity: 0 !default;
$rac-base-checkbox-self-field-input-wrapper-background: unset !default;
$rac-base-checkbox-self-field-input-wrapper-flex-shrink: $rac-primary-flex-shrink-0 !default;
$rac-base-checkbox-self-field-input-wrapper-position: relative !default;
