@import '../mixin';
@import '../constant';

.rac {

  @include rac-toolbar-tools(                                                                 /* @stable [11.03.2019] */
    $rac-toolbar-tools-neighbor-margin: $rac-toolbar-tools-neighbor-margin
  );

  @include rac-button(                                                                        /* @stable [22.04.2019] */
    $rac-button-custom: rac-toolbar-tool-active,
    $rac-button-background: $rac-toolbar-tool-active-background
  );
}