// Header [FRAMEWORK+][RAC+]
.rac {

  .rac-header {

    .rac-toolbar-section-wrapper {
      padding: 0;                     /* @override @stable - 08.04.2018 */
    }

    .rac-form-field {

      .rac-text-field {
        margin-top: 8px;              /* @override @stable - 08.04.2018 */
      }
    }

    .rac-field-input-wrapper {
      background: none;               /* @override @stable - 08.04.2018 */

      &::after, &::before {
        background: none;             /* @override @stable - 08.04.2018 */
      }
    }
  }
}