@import '~sass-flex-mixin/_flex';

// Header [FRAMEWORK+][RAC+]
.rac {

  .rac-header {

    .rac-header-title, .rac-header-subtitle {
      margin: 0;                                                /* @stable [01.06.2018] */
    }

    .rac-navigation-section {
      @include flex(unset);                                     /* @stable [01.06.2018] */
    }

    .rac-toolbar-section-wrapper {
      padding: 0;                     /* @stable [01.06.2018] */

      .rac-search-toolbar {

        .rac-text-field {
          margin-top: 8px;            /* @stable [01.06.2018] */

          .rac-field-input {
            padding-top: 0;           /* @stable [01.06.2018] */
          }
        }
      }
    }
  }
}