// Header [MDC+][RAC+]
.rac {

  .rac-header {

    .rac-toolbar-section-wrapper {
      padding: 0;                   // [MDC OVERRIDE+]
    }

    .rac-form-field {
      &::after, &::before {
        background: none;           // [MDC OVERRIDE+]
      }

      .rac-text-field {
        &::after, &::before {
          background: none;         // [MDC OVERRIDE+]
        }
      }
    }
  }
}