@import '../../constant';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.rac-material-icon {
  &.material-icons {
    border-style: none;
    background: none;
    cursor: pointer;

    &[disabled] {
      opacity: $opacity;
      cursor: default;
    }
  }
}

.rac-action {
  &.material-icons {
    padding: 0 0 6px;
  }
}

.mdc-toolbar .rac-action {
  &.material-icons {
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.rac-chipsfield .material-icons {
  padding: 0 0 0 2px;
}

.rac-button .material-icons {
  margin-right: 4px;
}

.rac-button .material-icons, .rac-loading-icon {
  vertical-align: middle;
}

.rac-list .mdc-list-item .material-icons {
  vertical-align: bottom;
}