@import './_button-mixin';
@import './_button-constant';

.rac {

  /**
   * @button
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-active-background: $rac-button-active-background,
    $rac-button-active-left: $rac-button-active-left,
    $rac-button-active-position: $rac-button-active-position,
    $rac-button-active-top: $rac-button-active-top,
    $rac-button-active-transition: $rac-button-active-transition,
    $rac-button-align-items: $rac-button-align-items,
    $rac-button-background: $rac-button-background,
    $rac-button-border-radius: $rac-button-border-radius,
    $rac-button-border: $rac-button-border,
    $rac-button-color: $rac-button-color,
    $rac-button-content-font-size: $rac-button-content-font-size,
    $rac-button-content-font-weight: $rac-button-content-font-weight,
    $rac-button-content-margin: $rac-button-content-margin,
    $rac-button-content-white-space: $rac-button-content-white-space,
    $rac-button-content-word-break: $rac-button-content-word-break,
    $rac-button-cursor: $rac-button-cursor,
    $rac-button-disabled-cursor: $rac-button-disabled-cursor,
    $rac-button-disabled-opacity: $rac-button-disabled-opacity,
    $rac-button-disabled-shadow: $rac-button-disabled-shadow,
    $rac-button-display: $rac-button-display,
    $rac-button-focus-border: $rac-button-focus-border,
    $rac-button-focus-box-sizing: $rac-button-focus-box-sizing,
    $rac-button-focus-padding: $rac-button-focus-padding,
    $rac-button-height: $rac-button-height,
    $rac-button-hover-transform: $rac-button-hover-transform,
    $rac-button-hover-transition: $rac-button-hover-transition,
    $rac-button-icon-color: $rac-button-icon-color,
    $rac-button-icon-size: $rac-button-icon-size,
    $rac-button-overflow: $rac-button-overflow,
    $rac-button-padding: $rac-button-padding,
    $rac-button-shadow: $rac-button-shadow
  );

  /**
   * @button-raised
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-raised-cls,
    $rac-button-background: $rac-button-raised-background,
    $rac-button-color: $rac-button-raised-color,
    $rac-button-content-font-size: $rac-button-raised-content-font-size,
    $rac-button-hover-background: $rac-button-raised-hover-background,
    $rac-button-hover-shadow: $rac-button-raised-hover-shadow,
    $rac-button-icon-color: $rac-button-raised-icon-color,
    $rac-button-shadow: $rac-button-raised-shadow
  );

  /**
   * @button-outlined
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-outlined-cls,
    $rac-button-background: $rac-button-outlined-background,
    $rac-button-border: $rac-button-outlined-border,
    $rac-button-color: $rac-button-outlined-color,
    $rac-button-icon-color: $rac-button-outlined-icon-color
  );

  /**
   * @button-filled
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-filled-cls,
    $rac-button-icon-margin: $rac-button-filled-icon-margin
  );

  /**
   * @button-not-filled
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-not-filled-cls,
    $rac-button-icon-margin: $rac-button-not-filled-icon-margin
  );

  /**
   * @button-decorated-filled
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-decorated-filled-cls,
    $rac-button-content-padding: $rac-button-decorated-filled-content-padding
  );

  /**
   * @button-decorated-not-filled
   * @stable [13.01.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-decorated-not-filled-cls,
    $rac-button-width: $rac-button-decorated-not-filled-width
  );

  /**
   * @button-mini
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-button-decorated-not-filled-mini-cls,
    $rac-button-height: $rac-button-decorated-not-filled-mini-height,
    $rac-button-icon-size: $rac-button-decorated-not-filled-mini-icon-size,
    $rac-button-width: $rac-button-decorated-not-filled-mini-width
  );


  /**
   * @full-button
   * @stable [02.02.2020]
   */
  @include rac-button (
    $rac-button-custom: $rac-full-button-cls,
    $rac-button-flex-basis: $rac-full-button-flex-basis,
    $rac-button-flex-grow: $rac-full-button-flex-grow
  );

  /**
   * @media
   * @stable [11.06.2020]
   */
  @media (min-width: $rac-primary-media-query-breakpoint-0-min) and (max-width: $rac-primary-media-query-breakpoint-0-max) {

    /**
     * @button
     * @stable [11.06.2020]
     */
    @include rac-button (
      $rac-button-height: $rac-button__media-query-breakpoint-0-min-max__height
    );
  }
}