@import '../constant';

// Button [FRAMEWORK-]
.rac-button {
  border-radius: 2px;
}

// Field button [FRAMEWORK-]
.rac-text-field, .rac-chips-field, .rac-toolbar {
  .rac-button {
    border-style: none;
    background: none;
    cursor: pointer;

    &[disabled] {
      opacity: $opacity;
      cursor: default;
    }
  }
}

// List add button [FRAMEWORK-]
.rac-list, .rac-list-empty {
  .rac-list-add-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    background-color: $color-3;
  }
}

// Default layout [FRAMEWORK-]
.rac-default-with-footer-layout {
  .rac-list, .rac-list-empty {
    .rac-list-add-button {
      bottom: 80px;
    }
  }
}