@import '../constant';

// Button [FRAMEWORK-][RAC+]
.rac {

  .rac-button {
    border-radius: $rac-button-border-radius;       /* @stable [24.06.2018] */

    .rac-icon {
      width: $rac-button-icon-width;                /* @stable [24.06.2018] */
      height: $rac-button-icon-height;              /* @stable [24.06.2018] */
      margin-right: $rac-button-icon-margin-right;  /* @stable [24.06.2018] */
    }

    &[disabled] {
      opacity: $rac-button-disabled-opacity;        /* @stable [16.05.2018] */
      cursor: default;                              /* @stable [16.05.2018] */

      .rac-icon {
        opacity: $rac-button-disabled-opacity;      /* @stable [25.06.2018] */
      }
    }
  }
}