@import '../vue-constant';
@import '../vue-mixin';

.vac {

  @include vue-button(                                                                        /* @stable [27.12.2018] */
    $vue-button-font-size: $vue-button-font-size,
    $vue-button-padding: $vue-button-padding,
    $vue-button-border: $vue-button-border,
    $vue-button-border-radius: $vue-button-border-radius,
    $vue-button-background: $vue-button-background,
    $vue-button-cursor: $vue-button-cursor,
    $vue-button-height: $vue-button-height
  );

  @include vue-button(                                                                        /* @stable [19.01.2019] */
    $vue-button-custom: vue-button-disabled,
    $vue-button-opacity: $vue-button-disabled-opacity,
    $vue-button-cursor: default
  );
}