@import '../constant';
@import '../mixin';

@mixin rac-keyboard-size ($factor: 1) {
  width: $rac-keyboard-key-width - $rac-keyboard-key-width-factor * $factor;                                     /* @stable [13.08.2018] */
  height: $rac-keyboard-key-height - $rac-keyboard-key-width-factor * $factor - $rac-keyboard-key-height-factor; /* @stable [13.08.2018] */
}

.rac {

  @include rac-keyboard(                                                                      /* @stable [27.01.2019] */
    $rac-keyboard-opacity: $rac-keyboard-opacity,
    $rac-keyboard-border: $rac-keyboard-border,
    $rac-keyboard-background: $rac-keyboard-background,
    $rac-keyboard-border-radius: $rac-keyboard-border-radius,
    $rac-keyboard-padding: $rac-keyboard-padding,
    $rac-keyboard-key-margin: $rac-keyboard-key-margin,
    $rac-keyboard-key-font-size: $rac-keyboard-key-font-size,
    $rac-keyboard-key-border: $rac-keyboard-key-border,
    $rac-keyboard-key-opacity: $rac-keyboard-key-opacity,
    $rac-keyboard-key-color: $rac-keyboard-key-color,
    $rac-keyboard-key-border-radius: $rac-keyboard-key-border-radius,
    $rac-keyboard-key-background: $rac-keyboard-key-background
  );

  .rac-keyboard {

    &.rac-keyboard-absolute {
      @include _rac-position-properties($rac-position: fixed, // TODO
        $rac-position-bottom: 0,
        $rac-position-horizontal-align-center: true);
    }

    .rac-keyboard-close {
      &.rac-icon {
        color: $rac-keyboard-close-color;           /* @stable [19.08.2018] */
        height: $rac-keyboard-close-height;         /* @stable [19.08.2018] */
        width: $rac-keyboard-close-width;           /* @stable [19.08.2018] */
        cursor: pointer;                            /* @stable [08.05.2018] */
        position: absolute;                         /* @stable [16.05.2018] */
        right: 0;                                   /* @stable [16.05.2018] */
        bottom: 0;                                  /* @stable [16.05.2018] */
        margin: 4px;                                /* @stable [16.05.2018] */
      }
    }

    .rac-keyboard-key {
      @include rac-keyboard-size(0);                                /* @stable [13.08.2018] */

      &.rac-keyboard-digital {
        font-size: 24px;                                            /* @stable [27.05.2018] */
      }
    }
  }
}

// Keyboard [FRAMEWORK-][RAC+]
@media (max-width: 960px) {
  .rac {

    .rac-keyboard {

      .rac-keyboard-key {
        @include rac-keyboard-size(1);                                /* @stable [13.08.2018] */
        font-size: 24px;                                              /* @stable [16.08.2018] */
      }
    }
  }
}

// Keyboard [FRAMEWORK-][RAC+]
@media (max-width: 800px) {
  .rac {

    .rac-keyboard {

      .rac-keyboard-key {
        @include rac-keyboard-size(2);                                /* @stable [13.08.2018] */
        border-radius: 12px;                                          /* @stable [27.05.2018] */
        font-size: 18px;                                              /* @stable [16.08.2018] */

        &.rac-keyboard-digital {
          font-size: 16px;                                            /* @stable [27.05.2018] */
        }
      }
    }
  }
}

// Keyboard [FRAMEWORK-][RAC+]
@media (max-width: 640px) {
  .rac {

    .rac-keyboard {

      .rac-keyboard-key {
        @include rac-keyboard-size(3);                                /* @stable [13.08.2018] */
        font-size: 16px;                                              /* @stable [16.08.2018] */
      }

      .rac-keyboard-close {
        display: none;                                                /* @stable [27.05.2018] */
      }
    }
  }
}