@import './_title-constant';
@import './_title-mixin';

.rac {

  // @stable [01.06.2020]
  @include rac-title (
    $rac-title-align-items: $rac-title-align-items,
    $rac-title-border-bottom: $rac-title-border-bottom,
    $rac-title-content-color: $rac-title-content-color,
    $rac-title-content-edge-background: $rac-title-content-edge-background,
    $rac-title-content-edge-border-radius: $rac-title-content-edge-border-radius,
    $rac-title-content-edge-box-shadow: $rac-title-content-edge-box-shadow,
    $rac-title-content-edge-height: $rac-title-content-edge-height,
    $rac-title-content-edge-margin: $rac-title-content-edge-margin,
    $rac-title-content-edge-width: $rac-title-content-edge-width,
    $rac-title-content-font-size: $rac-title-content-font-size,
    $rac-title-content-font-weight: $rac-title-content-font-weight,
    $rac-title-content-line-height: $rac-title-content-line-height,
    $rac-title-content-margin: $rac-title-content-margin,
    $rac-title-content-padding: $rac-title-content-padding,
    $rac-title-display: $rac-title-display,
    $rac-title-flex: $rac-title-flex,
    $rac-title-justify-content: $rac-title-justify-content,
    $rac-title-margin: $rac-title-margin,
    $rac-title-right-content-align-items: $rac-title-right-content-align-items,
    $rac-title-right-content-color: $rac-title-right-content-color,
    $rac-title-right-content-display: $rac-title-right-content-display,
    $rac-title-right-content-flex-direction: $rac-title-right-content-flex-direction,
    $rac-title-right-content-flex-grow: $rac-title-right-content-flex-grow,
    $rac-title-right-content-font-size: $rac-title-right-content-font-size,
    $rac-title-right-content-font-weight: $rac-title-right-content-font-weight,
    $rac-title-right-content-justify-content: $rac-title-right-content-justify-content,
    $rac-title-right-content-padding: $rac-title-right-content-padding,
    $rac-title-white-space: $rac-title-white-space
  );

  // @stable [02.02.2020]
  @include rac-title (
    $rac-title-custom: $rac-full-title-cls,
    $rac-title-flex-basis: $rac-full-title-flex-basis,
    $rac-title-flex-grow: $rac-full-title-flex-grow
  );
}