@import '../_primary-constant';
@import '../_classes';

// @stable [01.06.2020]
$rac-primary-title-offset-0: $rac-primary-offset-3 !default;
$rac-primary-title-offset-1: $rac-primary-offset-3 !default;
$rac-primary-title-offset-2: $rac-primary-offset-5 !default;

// @stable [01.06.2020]
$rac-title-align-items: center !default;
$rac-title-border-bottom: $rac-primary-layout-border-0 !default;
$rac-title-content-color: $rac-primary-color-poseidon-0 !default;
$rac-title-content-edge-background: unset !default;
$rac-title-content-edge-border-radius: unset !default;
$rac-title-content-edge-box-shadow: unset !default;
$rac-title-content-edge-height: unset !default;
$rac-title-content-edge-margin: unset !default;
$rac-title-content-edge-width: unset !default;
$rac-title-content-font-size: $rac-primary-font-size-2 !default;
$rac-title-content-font-weight: $rac-primary-font-weight-4 !default;
$rac-title-content-line-height: $rac-primary-line-height-1-1 !default;
$rac-title-content-margin: unset !default;
$rac-title-content-padding: 0 0 $rac-primary-title-offset-0 0 !default;
$rac-title-display: $rac-primary-display-0 !default;
$rac-title-flex: $rac-primary-flex-0 !default;
$rac-title-justify-content: space-between !default;
$rac-title-margin: 0 0 $rac-primary-title-offset-2 0 !default;
$rac-title-right-content-align-items: unset !default;
$rac-title-right-content-color: unset !default;
$rac-title-right-content-display: $rac-primary-display-0 !default;
$rac-title-right-content-flex-direction: unset !default;
$rac-title-right-content-flex-grow: unset !default;
$rac-title-right-content-font-size: unset !default;
$rac-title-right-content-font-weight: unset !default;
$rac-title-right-content-justify-content: unset !default;
$rac-title-right-content-padding: 0 0 $rac-primary-title-offset-0 $rac-primary-title-offset-1 !default;
$rac-title-white-space: nowrap !default;

// @stable [20.03.2021]
$rac-full-title-flex-basis: $rac-primary-flex-basis-0 !default;
$rac-full-title-flex-grow: $rac-primary-flex-grow-1 !default;
