@import '../constant';
@import '../mixin';

// Title [FRAMEWORK-][RAC+]
.rac {

  .rac-title-wrapper {

    @include rac-styles(                                                                      /* @stable [15.12.2018] */
      $rac-styles-margin: $rac-title-wrapper-margin
    );

    &.rac-title-wrapper-bordered {
      border-bottom: $rac-title-wrapper-border-bottom;                                    /* @stable [03.10.2018] */
      padding-bottom: $rac-title-wrapper-padding-bottom;                                  /* @stable [03.10.2018] */
    }

    @include rac-styles(                                                                      /* @stable [15.12.2018] */
      $rac-styles-custom: rac-title,
      $rac-styles-white-space: $rac-title-white-space,
      $rac-styles-color: $rac-title-color,
      $rac-styles-font-weight: $rac-title-font-weight,
      $rac-styles-font-size: $rac-title-font-size
    );
  }
}