@import '../constant';
@import '../mixin';

// Viewer [FRAMEWORK-][RAC+]
.rac {

  @include rac-viewer(                                                                        /* @stable [10.01.2019] */
    $rac-viewer-position: relative,
    $rac-viewer-content-margin: $rac-viewer-content-margin
  );

  .rac-preview-dialog {

    .rac-dialog-content {
      max-height: $rac-preview-dialog-body-max-height;        /* @stable [30.06.2018] */
      overflow: auto;                                         /* @stable [30.06.2018] */
    }

    .rac-dialog-body {
      max-width: $rac-preview-dialog-container-max-width;     /* @stable [30.06.2018] */
      max-height: unset;                                      /* @stable [30.06.2018] */
    }
  }
}