@import '../constant';
@import './picture/picture-viewer';

// Viewer [FRAMEWORK-][RAC+]
.rac {

  .rac-preview-dialog {

    .rac-dialog-content {
      max-height: $rac-preview-dialog-body-max-height;        /* @stable [30.06.2018] */
      overflow: auto;                                         /* @stable [30.06.2018] */
    }

    .rac-dialog-container {
      max-width: $rac-preview-dialog-container-max-width;     /* @stable [30.06.2018] */
      max-height: unset;                                      /* @stable [30.06.2018] */
    }
  }

  .rac-viewer {
    position: relative;                                       /* @stable [30.06.2018] */
    margin-right: auto;
    margin-left: auto;

    .rac-preview-action-icon {
      &.rac-action-icon {
        color: $rac-preview-action-color;                     /* @stable [30.06.2018] */
        width: $rac-preview-action-width;                     /* @stable [30.06.2018] */
        height: $rac-preview-action-height;                   /* @stable [30.06.2018] */
        opacity: $rac-preview-action-opacity;                 /* @stable [08.07.2018] */
      }
    }
  }
}