@import '../constant';
@import '../mixin';

.rac {

  @include rac-viewer(                                                                        /* @stable [10.01.2019] */
    $rac-viewer-position: relative,
    $rac-viewer-content-margin: $rac-viewer-content-margin
  );

  @include rac-dialog(                                                                        /* @stable [17.06.2019] */
    $rac-dialog-custom: rac-preview-dialog,
    $rac-dialog-body-min-height: $rac-preview-dialog-body-min-height,
    $rac-dialog-body-content-position: $rac-preview-dialog-body-content-position,
    $rac-dialog-body-content-first-level-children-position: $rac-preview-dialog-body-content-first-level-children-position
  );
}