@import '../_core-mixin';
@import '../icon/_icon-mixin';

/**
 * @stable [02.06.2020]
 */
@mixin rac-inline-option (
  $rac-inline-option-custom: unset,
  /**/
  $rac-inline-option-background: unset,                                                       /* @stable [08.07.2020] */
  $rac-inline-option-border-radius: unset,                                                    /* @stable [08.07.2020] */
  $rac-inline-option-close-background: unset,                                                 /* @stable [          ] */
  $rac-inline-option-close-border-bottom-right-radius: unset,                                 /* @stable [          ] */
  $rac-inline-option-close-border-top-right-radius: unset,                                    /* @stable [          ] */
  $rac-inline-option-close-color: unset,                                                      /* @stable [          ] */
  $rac-inline-option-close-content-size: unset,                                               /* @stable [          ] */
  $rac-inline-option-close-height: unset,                                                     /* @stable [          ] */
  $rac-inline-option-close-width: unset,                                                      /* @stable [          ] */
  $rac-inline-option-content-align-items: unset,                                              /* @stable [08.07.2020] */
  $rac-inline-option-content-color: unset,                                                    /* @stable [08.07.2020] */
  $rac-inline-option-content-cursor: unset,                                                   /* @stable [08.07.2020] */
  $rac-inline-option-content-display: unset,                                                  /* @stable [08.07.2020] */
  $rac-inline-option-content-font-size: unset,                                                /* @stable [          ] */
  $rac-inline-option-content-font-weight: unset,                                              /* @stable [08.07.2020] */
  $rac-inline-option-content-padding: unset,                                                  /* @stable [          ] */
  $rac-inline-option-cursor: unset,                                                           /* @stable [          ] */
  $rac-inline-option-display: unset,                                                          /* @stable [08.07.2020] */
  $rac-inline-option-justify-content: unset,                                                  /* @stable [          ] */
  $rac-inline-option-margin: unset,                                                           /* @stable [08.07.2020] */
  $rac-inline-option-min-height: unset,                                                       /* @stable [          ] */
  $rac-inline-option-padding: unset,                                                          /* @stable [          ] */
  $rac-inline-option-white-space: unset                                                       /* @stable [          ] */
) {
  #{rac-cls($rac-inline-option-cls, $rac-inline-option-custom)} {
    @include rac-styles (
      $rac-styles-background: $rac-inline-option-background,
      $rac-styles-border-radius: $rac-inline-option-border-radius,
      $rac-styles-cursor: $rac-inline-option-cursor,
      $rac-styles-display: $rac-inline-option-display,
      $rac-styles-justify-content: $rac-inline-option-justify-content,
      $rac-styles-margin: $rac-inline-option-margin,
      $rac-styles-min-height: $rac-inline-option-min-height,
      $rac-styles-padding: $rac-inline-option-padding,
      $rac-styles-white-space: $rac-inline-option-white-space
    );

    @include rac-styles (
      $rac-styles-custom: rac-inline-option__content,
      $rac-styles-align-items: $rac-inline-option-content-align-items,
      $rac-styles-color: $rac-inline-option-content-color,
      $rac-styles-cursor: $rac-inline-option-content-cursor,
      $rac-styles-display: $rac-inline-option-content-display,
      $rac-styles-font-size: $rac-inline-option-content-font-size,
      $rac-styles-font-weight: $rac-inline-option-content-font-weight,
      $rac-styles-padding: $rac-inline-option-content-padding
    );

    @include rac-icon (
      $rac-icon-custom: rac-inline-option__close,
      $rac-icon-background: $rac-inline-option-close-background,
      $rac-icon-border-bottom-right-radius: $rac-inline-option-close-border-bottom-right-radius,
      $rac-icon-border-top-right-radius: $rac-inline-option-close-border-top-right-radius,
      $rac-icon-color: $rac-inline-option-close-color,
      $rac-icon-content-size: $rac-inline-option-close-content-size,
      $rac-icon-height: $rac-inline-option-close-height,
      $rac-icon-width: $rac-inline-option-close-width
    );
  }
}