@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [16.06.2020] */
/************************/
$rac-inline-option-align-items: center !default;
$rac-inline-option-background: $rac-primary-color-poseidon-05 !default;
$rac-inline-option-border-radius: $rac-primary-border-radius-6 !default;
$rac-inline-option-color: $rac-primary-color-elara-0 !default;
$rac-inline-option-cursor: pointer !default;
$rac-inline-option-display: $rac-primary-display-2 !default;
$rac-inline-option-font-weight: $rac-primary-font-weight-2 !default;
$rac-inline-option-min-height: $rac-primary-size-7 !default;
$rac-inline-option-padding: 0 $rac-primary-offset-3 !default;

/************************/
/* @stable [16.06.2020] */
/************************/
$rac-inline-option-selected-background: $rac-primary-color-poseidon-2 !default;
$rac-inline-option-selected-color: unset !default;
