@import './_inline-option-constant';
@import './_inline-option-mixin';

.rac {

  /**
   * @inline-option
   * @stable [16.06.2020]
   */
  @include rac-inline-option (
    $rac-inline-option-align-items: $rac-inline-option-align-items,
    $rac-inline-option-background: $rac-inline-option-background,
    $rac-inline-option-border-radius: $rac-inline-option-border-radius,
    $rac-inline-option-color: $rac-inline-option-color,
    $rac-inline-option-cursor: $rac-inline-option-cursor,
    $rac-inline-option-display: $rac-inline-option-display,
    $rac-inline-option-font-weight: $rac-inline-option-font-weight,
    $rac-inline-option-min-height: $rac-inline-option-min-height,
    $rac-inline-option-padding: $rac-inline-option-padding
  );

  /**
   * @inline-option-selected
   * @stable [16.06.2020]
   */
  @include rac-inline-option (
    $rac-inline-option-custom: $rac-inline-option-selected-cls,
    $rac-inline-option-background: $rac-inline-option-selected-background,
    $rac-inline-option-color: $rac-inline-option-selected-color
  );
}