// Grid column [FRAMEWORK-][RAC+]
.rac {

  .rac-grid-container-wrapper {

    .rac-grid {

      .rac-grid-column {
        padding: 8px 16px;                  /* @stable [02.06.2018] */

        .rac-grid-column-content {
          vertical-align: middle;           /* @stable [05.06.2018] */
          width: 100%;                      /* @stable [08.06.2018] */
        }

        &.rac-grid-column-align-right {

          .rac-field-input {
            text-align: right;              /* @stable [02.06.2018] */
          }
        }

        &.rac-grid-column-align-center {

          .rac-field-input {
            text-align: center;             /* @stable [02.06.2018] */
          }
        }

        &.rac-grid-sorted-column {
          cursor: pointer;                  /* @stable [02.06.2018] */
        }
      }
    }
  }
}