@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [05.04.2020] */
/************************/
$rac-sub-header-align-items: center !default;
$rac-sub-header-cursor: default !default;
$rac-sub-header-display: $rac-primary-display-0 !default;
$rac-sub-header-flex-direction: unset !default;
$rac-sub-header-height: 84px !default;
$rac-sub-header-navigation-action-margin: 0 $rac-primary-offset-3 0 0 !default;
$rac-sub-header-section-title-color: $rac-primary-color-poseidon-0 !default;
$rac-sub-header-section-title-font-size: $rac-primary-font-size-6 !default;
$rac-sub-header-section-title-font-weight: $rac-primary-font-weight-4 !default;
$rac-sub-header-section-title-margin-left: unset !default;
$rac-sub-header-section-title-margin-right: $rac-primary-offset-5 !default;
$rac-sub-header-sub-border-border-bottom: $rac-primary-layout-border-0 !default;
$rac-sub-header-sub-border-margin: 0 0 $rac-primary-layout-offset-3 0 !default;
