@import './_sub-header-mixin';
@import './_sub-header-constant';

.rac {

  // @stable [20.05.2020]
  @include rac-sub-header (
    $rac-sub-header-align-items: $rac-sub-header-align-items,
    $rac-sub-header-cursor: $rac-sub-header-cursor,
    $rac-sub-header-display: $rac-sub-header-display,
    $rac-sub-header-flex-direction: $rac-sub-header-flex-direction,
    $rac-sub-header-height: $rac-sub-header-height,
    $rac-sub-header-navigation-action-margin: $rac-sub-header-navigation-action-margin,
    $rac-sub-header-section-title-color: $rac-sub-header-section-title-color,
    $rac-sub-header-section-title-font-size: $rac-sub-header-section-title-font-size,
    $rac-sub-header-section-title-font-weight: $rac-sub-header-section-title-font-weight,
    $rac-sub-header-section-title-line-height: $rac-sub-header-section-title-line-height,
    $rac-sub-header-section-title-margin-left: $rac-sub-header-section-title-margin-left,
    $rac-sub-header-section-title-margin-right: $rac-sub-header-section-title-margin-right,
    $rac-sub-header-sub-border-border-bottom: $rac-sub-header-sub-border-border-bottom,
    $rac-sub-header-sub-border-margin: $rac-sub-header-sub-border-margin
  );
}