@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [05.04.2020] */
/************************/
$rac-sub-header-align-items: center !default;
$rac-sub-header-cursor: default !default;
$rac-sub-header-display: $rac-primary-display-0 !default;
$rac-sub-header-flex-direction: unset !default;
