@import '../constant';
@import './form/form-layout';
@import './default/default-layout';

// Button [FRAMEWORK-]
.rac-form-layout {
  .rac-header {
    background-color: $color-8;

    * {
      color: white;
    }
  }
}


.app-row-flex {
  display: flex;
  flex-direction: row;
}

.app-column-flex {
  display: flex;
  flex-direction: column;
}

.app-full-layout {
  flex: 1;
}

.app-initial-layout {
  flex: initial;
}

.app-column-layout {
  display: flex;
  flex-direction: row;

  > * {
    flex: 1;

    &.separator {
      flex: .1;
    }
  }
}

.app-row-layout {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}

@import '~sass-flex-mixin/_flex';

.rac-flex {
  @include flexbox;
}

.rac-flex-full {
  @include flex;
}

.rac-flex-row {
  @include flex-direction(row);
}

.rac-flex-column {
  @include flex-direction(column);
}

.rac-flex-center {
  @include justify-content(center);
  @include align-items(center);
}