@import '~sass-flex-mixin/_flex';
@import './form/form-layout';
@import './default/default-layout';

// Button [FRAMEWORK-]
.rac-form-layout {
  .rac-header {
    background-color: $color-2;

    * {
      color: white;
    }
  }
}

// Flex layout [FRAMEWORK-]
.rac-flex {
  @include flexbox;
}

// Flex full layout [FRAMEWORK-]
.rac-flex-full {
  @include flex;
}

// Flex full layout (x2) [FRAMEWORK-]
.rac-flex-full-x2 {
  @include flex(2);
}

// Flex full layout (x4) [FRAMEWORK-]
.rac-flex-full-x4 {
  @include flex(4);
}

// Flex full layout (x8) [FRAMEWORK-]
.rac-flex-full-x8 {
  @include flex(8);
}

// Flex layout separator [FRAMEWORK-]
.rac-flex-separator {
  @include flex(.1);
}

// Flex unset layout [FRAMEWORK-]
.rac-flex-unset {
  @include flex(unset);
}

// Flex row layout [FRAMEWORK-]
.rac-flex-row {
  @include flex-direction(row);
}

// Flex column layout [FRAMEWORK-]
.rac-flex-column {
  @include flex-direction(column);
}

// Flex center layout [FRAMEWORK-]
.rac-flex-center {
  text-align: center;
  @include justify-content(center);
  @include align-items(center);
}

// Flex end position [FRAMEWORK-]
.rac-flex-end {
  @include justify-content(flex-end);
}

// Block center layout [FRAMEWORK-]
.rac-block-center {
  margin: auto;
}