@import '~sass-flex-mixin/_flex';
@import './builder/_layout-builder';
@import './form/_form-layout';
@import './default/default-layout';
@import '../constant';

.rac {

  @include rac-flex-row(                                                                      /* @stable [17.02.2019] */
    $rac-flex-separator-width: $rac-flex-separator-width
  );

  @include rac-flex-no-shrink;                                                                /* @stable [17.02.2019] */

  .rac-flex-wrap {                                                                            /* @stable [16.01.2019] */
    flex-wrap: wrap;
  }

  .rac-flex-unset {
    @include flex(unset);                                           /* @stable [19.09.2018] */
  }

  .rac-flex-column {
    @include flex-direction(column);                                /* @stable [21.09.2018] */
  }

  .rac-flex-full {
    @include flex;                                                  /* @stable [19.09.2018] */
  }

  /**
   * @flex-layout
   * @stable [15.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-one-third,
    $rac-styles-flex: .33
  );

  /**
   * @flex-layout
   * @stable [15.10.2019]
   */
  @include rac-styles (
    $rac-styles-custom: rac-flex-one-quarter,
    $rac-styles-flex: .25
  );

  .rac-flex-three-quarters {
    @include flex(.75);
  }

  .rac-flex-half {
    @include flex(.5);                                              /* @stable [19.09.2018] */
  }

  .rac-flex-separator {
    @include flex(.1);                                              /* @stable [19.09.2018] */
  }

  .rac-flex-full-x2 {
    @include flex(2);                                               /* @stable [21.11.2018] */
  }

  .rac-flex-full-x3 {
    @include flex(3);                                               /* @stable [21.11.2018] */
  }

  .rac-flex-align-items-start {
    @include align-items(flex-start);                               /* @stable [19.09.2018] */
  }

  .rac-flex-align-items-end {
    @include align-items(flex-end);                                 /* @stable [20.09.2018] */
  }

  .rac-flex-justify-content-end {
    @include justify-content(flex-end);                             /* @stable [17.09.2018] */
  }

  .rac-flex-justify-content-space-between {                                                   /* @stable [06.03.2019] */
    @include justify-content(space-between);
  }
}

// Flex layout [FRAMEWORK-]
.rac-flex {
  @include flexbox;
}

.rac-inline-flex {
  @include inline-flex;
}

// Flex full layout (x4) [FRAMEWORK-]
.rac-flex-full-x4 {
  @include flex(4);
}

// Flex full layout (x8) [FRAMEWORK-]
.rac-flex-full-x8 {
  @include flex(8);
}

// Flex center layout [FRAMEWORK-]
.rac-flex-center {
  text-align: center;
  @include justify-content(center);
  @include align-items(center);
}