@import '~nouislider/distribute/nouislider';
@import './_slider-constant';
@import './_slider-mixin';

.rac {

  // @stable [16.10.2020]
  @include rac-slider (
    $rac-slider-connect-background: $rac-slider-connect-background,
    $rac-slider-fields-wrapper-display: $rac-slider-fields-wrapper-display,
    $rac-slider-fields-wrapper-field-width: $rac-slider-fields-wrapper-field-width,
    $rac-slider-fields-wrapper-flex-direction: $rac-slider-fields-wrapper-flex-direction,
    $rac-slider-fields-wrapper-neighbor-child-margin: $rac-slider-fields-wrapper-neighbor-child-margin,
    $rac-slider-handle-background: $rac-slider-handle-background,
    $rac-slider-handle-before-after-content: $rac-slider-handle-before-after-content,
    $rac-slider-handle-border-radius: $rac-slider-handle-border-radius,
    $rac-slider-handle-border: $rac-slider-handle-border,
    $rac-slider-handle-box-shadow: $rac-slider-handle-box-shadow,
    $rac-slider-horizontal-handle-cursor: $rac-slider-horizontal-handle-cursor,
    $rac-slider-horizontal-handle-height: $rac-slider-horizontal-handle-height,
    $rac-slider-horizontal-handle-right: $rac-slider-horizontal-handle-right,
    $rac-slider-horizontal-handle-top: $rac-slider-horizontal-handle-top,
    $rac-slider-horizontal-handle-width: $rac-slider-horizontal-handle-width,
    $rac-slider-horizontal-height: $rac-slider-horizontal-height,
    $rac-slider-target-background: $rac-slider-target-background,
    $rac-slider-target-border-radius: $rac-slider-target-border-radius,
    $rac-slider-target-border: $rac-slider-target-border,
    $rac-slider-target-box-shadow: $rac-slider-target-box-shadow,
    $rac-slider-vertical-width: $rac-slider-vertical-width
  );
}