@import '../constant';

// Profile [FRAMEWORK-][RAC+]
.rac {

  .rac-profile {
    cursor: pointer;                                               /* @stable [26.06.2018] */

    .rac-profile-app-version {
      position: absolute;                                          /* @stable [30.08.2018] */
      top: $rac-profile-app-version-top;                           /* @stable [30.08.2018] */
      right: $rac-profile-app-version-right;                       /* @stable [17.09.2018] */
      font-size: $rac-profile-app-version-font-size;               /* @stable [30.08.2018] */
    }

    .rac-profile-avatar {
      width: $rac-profile-avatar-width;                            /* @stable [26.06.2018] */
      height: $rac-profile-avatar-height;                          /* @stable [26.06.2018] */
      margin-left: $rac-profile-avatar-margin-left;                /* @stable [17.09.2018] */
      background: $rac-profile-avatar-background;                  /* @stable [26.06.2018] */
      background-size: contain;                                    /* @stable [17.09.2018] */
      border-radius: $rac-profile-avatar-border-radius;            /* @stable [26.06.2018] */
    }
  }
}