@import '../constant';

// Profile [FRAMEWORK-][ROOT+]
.rac-root {

  .rac-profile {
    width: 100%;      // [RAC+]
    cursor: pointer;  // [RAC+]
    color: inherit;   // [RAC+]

    &:active {
      color: inherit; // [RAC+]
    }

    // Common
    .rac-profile-logo-wrapper {
      position: relative;                               // [RAC+]
      border-radius: 50%;                               // [RAC+]
      background: $rac-profile-icon-background-color;   // [RAC+]

      .rac-profile-icon {
        position: absolute;                             // [RAC+]
        color: $rac-profile-icon-color;                 // [RAC+]

        &.rac-button {
          padding: 0;           // [RAC+]
          cursor: pointer;      // [RAC+]
          border-style: none;   // [RAC+]
          background: none;     // [RAC+]
        }
      }
    }

    // Name
    .rac-profile-name {
      margin-bottom: 2px;     // [RAC+]
      font-weight: bold;      // [RAC+]
    }

    // Avatar
    .rac-profile-avatar {
      margin-bottom: $rac-default-offset;   // [RAC+]
      width: 64px;                          // [RAC+]
      height: 64px;                         // [RAC+]

      .rac-profile-icon {
        left: 8px;          // [RAC+]
        top: 8px;           // [RAC+]
        font-size: 48px;    // [RAC+]
      }
    }

    // Menu
    .rac-profile-menu {
      float: right;         // [RAC+]
      width: 36px;          // [RAC+]
      height: 36px;         // [RAC+]

      .rac-profile-icon {
        left: 6px;          // [RAC+]
        top: 6px;           // [RAC+]
      }
    }
  }
}


// Profile menu [FRAMEWORK-][RAC+]
.rac {

  .rac-profile-menu {

    .rac-simple-list {

      .rac-simple-list-item {
        cursor: pointer;        // @stable [14.05.2018]
      }

      .rac-menu-item-icon {
        padding-right: $rac-menu-icon-right-offset;   // @stable [14.05.2018]
        vertical-align: middle;                       // @stable [14.05.2018]
      }
    }
  }
}