@import './_tab-panel-mixin';
@import './_tab-panel-constant';

.rac {

  // @stable [10.02.2020]
  @include rac-tab-panel (
    $rac-active-tab-after-background: $rac-active-tab-after-background,
    $rac-active-tab-after-bottom: $rac-active-tab-after-bottom,
    $rac-active-tab-after-box-shadow: $rac-active-tab-after-box-shadow,
    $rac-active-tab-after-content: $rac-active-tab-after-content,
    $rac-active-tab-after-height: $rac-active-tab-after-height,
    $rac-active-tab-after-position: $rac-active-tab-after-position,
    $rac-active-tab-after-width: $rac-active-tab-after-width,
    $rac-active-tab-background: $rac-active-tab-background,
    $rac-active-tab-border-bottom-color: $rac-active-tab-border-bottom-color,
    $rac-active-tab-border: $rac-active-tab-border,
    $rac-first-tab-border-radius: $rac-first-tab-border-radius,
    $rac-inactive-tab-border-left-color: $rac-inactive-tab-border-left-color,
    $rac-inactive-tab-border-right-color: $rac-inactive-tab-border-right-color,
    $rac-last-tab-border-radius: $rac-last-tab-border-radius,
    $rac-single-tab-border-radius: $rac-single-tab-border-radius,
    $rac-tab-align-items: $rac-tab-align-items,
    $rac-tab-background: $rac-tab-background,
    $rac-tab-border-bottom: $rac-tab-border-bottom,
    $rac-tab-border-left: $rac-tab-border-left,
    $rac-tab-border-right: $rac-tab-border-right,
    $rac-tab-border-top: $rac-tab-border-top,
    $rac-tab-border: $rac-tab-border,
    $rac-tab-content-color: $rac-tab-content-color,
    $rac-tab-content-font-size: $rac-tab-content-font-size,
    $rac-tab-content-font-weight: $rac-tab-content-font-weight,
    $rac-tab-content-margin: $rac-tab-content-margin,
    $rac-tab-content-padding: $rac-tab-content-padding,
    $rac-tab-cursor: $rac-tab-cursor,
    $rac-tab-display: $rac-tab-display,
    $rac-tab-icon-margin: $rac-tab-icon-margin,
    $rac-tab-icon-padding: $rac-tab-icon-padding,
    $rac-tab-panel-display: $rac-tab-panel-display,
    $rac-tab-panel-flex-grow: $rac-tab-panel-flex-grow,
    $rac-tab-panel-min-height: $rac-tab-panel-min-height,
    $rac-tab-panel-no-user-select: $rac-tab-panel-no-user-select,
    $rac-tab-panel-wrapper-border-bottom: $rac-tab-panel-wrapper-border-bottom,
    $rac-tab-panel-wrapper-display: $rac-tab-panel-wrapper-display,
    $rac-tab-position: $rac-tab-position
  );
}