@import './_sub-header-link-mixin';
@import './_sub-header-link-constant';

.rac {

  /**
   * @sub-header-link
   * @stable [22.05.2020]
   */
  @include rac-sub-header-link (
    $rac-sub-header-link-custom: $rac-sub-header-link-active-cls,
    $rac-sub-header-link-content-color: $rac-sub-header-link-active-content-color,
    $rac-sub-header-link-content-cursor: $rac-sub-header-link-active-content-cursor
  );
}