@import '../../_classes';
@import '../../_primary-constant';

/************************/
/* @stable [20.06.2020] */
/************************/
$rac-text-area-self-field-height: 100% !default;
$rac-text-area-self-field-input-label-color: $rac-primary-color-poseidon-3 !default;
$rac-text-area-self-field-input-label-font-size: $rac-primary-font-size-0 !default;
$rac-text-area-self-field-input-label-position: absolute !default;
$rac-text-area-self-field-input-label-right: $rac-primary-offset-0 !default;
$rac-text-area-self-field-input-label-top: 2px !default;
$rac-text-area-self-field-input-padding: $rac-primary-field-offset-0 !default;
