@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [04.05.2020] */
/************************/
$rac-list-item-align-items: center !default;
$rac-list-item-border-radius: unset !default;

/************************/
/* @stable [04.05.2020] */
/************************/
$rac-full-list-flex-basis: $rac-primary-flex-basis-1 !default;
$rac-full-list-flex-grow: $rac-primary-flex-grow-1 !default;

/************************/
/* @stable [04.05.2020] */
/************************/
$rac-default-list-item-color: unset !default;
$rac-default-list-item-odd-background: $rac-primary-odd-background-0 !default;
