@import '../constant';
@import '../mixin';
@import './_list-constant';
@import './navigation/_navigation-list';

.rac {

  /**
   * @list
   * @stable [27.10.2019]
   */
  @include rac-list (
    $rac-list-item-align-items: $rac-list-item-align-items,
    $rac-list-item-border-radius: $rac-list-item-border-radius,
    $rac-list-item-content-flex: $rac-list-item-content-flex,
    $rac-list-item-cursor: $rac-list-item-cursor,
    $rac-list-item-display: $rac-list-item-display,
    $rac-list-item-flex-direction: $rac-list-item-flex-direction,
    $rac-list-item-font-size: $rac-list-item-font-size,
    $rac-list-item-font-weight: $rac-list-item-font-weight,
    $rac-list-item-icon-background: $rac-list-item-icon-background,
    $rac-list-item-icon-color: $rac-list-item-icon-color,
    $rac-list-item-margin: $rac-list-item-margin,
    $rac-list-item-no-user-select: $rac-list-item-no-user-select,
    $rac-list-item-padding: $rac-list-item-padding,
    $rac-list-item-selected-background: $rac-list-item-selected-background,
    $rac-list-margin: $rac-list-margin,
    $rac-list-padding: $rac-list-padding,
    $rac-list-position: $rac-list-position
  );

  /**
   * @full-list
   * @stable [04.05.2020]
   */
  @include rac-list (
    $rac-list-custom: $rac-full-list-cls,
    $rac-list-flex-basis: $rac-full-list-flex-basis,
    $rac-list-flex-grow: $rac-full-list-flex-grow
  );

  /**
   * @default-list
   * @stable [29.01.2020]
   */
  @include rac-list (
    $rac-list-custom: $rac-default-list-cls,
    $rac-list-item-color: $rac-default-list-item-color,
    $rac-list-item-odd-background: $rac-default-list-item-odd-background
  );
}