@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [04.05.2020] */
/************************/
$rac-list-item-align-items: center !default;
$rac-list-item-border-radius: unset !default;
$rac-list-item-content-flex-grow: $rac-primary-flex-grow-1 !default;
$rac-list-item-cursor: default !default;
$rac-list-item-display: $rac-primary-display-0 !default;
$rac-list-item-flex-direction: unset !default;
$rac-list-item-font-size: $rac-primary-font-size-0 !default;
$rac-list-item-font-weight: unset !default;
$rac-list-item-hover-background: $rac-primary-hover-background-0 !default;
$rac-list-item-icon-background: unset !default;
$rac-list-item-icon-color: unset !default;
$rac-list-item-margin: unset !default;
$rac-list-item-no-user-select: true !default;
$rac-list-item-odd-background:  $rac-primary-odd-background-0 !default;
$rac-list-item-padding: $rac-primary-offset-1 $rac-primary-offset-3 $rac-primary-offset-1 $rac-primary-offset-2 !default;
$rac-list-item-selected-background: $rac-primary-color-callisto-2 !default;
$rac-list-margin: 0 !default;
$rac-list-padding: 0 !default;
$rac-list-position: relative !default;

/************************/
/* @stable [04.05.2020] */
/************************/
$rac-full-list-flex-basis: $rac-primary-flex-basis-1 !default;
$rac-full-list-flex-grow: $rac-primary-flex-grow-1 !default;
