@import '../constant';
@import './navigation/navigation-list';

.rac-list {
  cursor: default;
  overflow-x: auto;
}

.rac-list-empty {
  height: 100%;
  width: 100%;
  cursor: default;

  .app-list-search-action-wrapper {
    cursor: pointer;

    .mdc-list-item {
      justify-content: center;
    }
  }
}