@import './navigation/navigation-list';

.app-list {
  &.mdc-list {
    overflow: auto;
    position: relative;
    cursor: default;
    padding-top: 0;

    .mdc-list-item {
      .material-icons {
        vertical-align: bottom;
      }
    }

    .mdc-list-divider {
      margin: 0;
    }
  }
}

.app-empty-list {
  cursor: default;

  .app-list-search-action-wrapper {
    cursor: pointer;

    .mdc-list-item {
      justify-content: center;
    }
  }
}

.app-empty-list, .app-list {
  .app-list-add-action {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: black;
  }
}