@import '../constant';
@import './navigation/navigation-list';
@import './subheader/subheader';

// List [FRAMEWORK-][RAC+]
.rac {

  .rac-list, .rac-simple-list, .rac-navigation-list {
    padding: unset;                                          /* @stable [25.06.2018] */
  }

  .rac-list, .rac-simple-list {
    cursor: default;                                         /* @stable [23.06.2018] */
    overflow-x: hidden;                                      /* @stable [23.06.2018] */
    overflow-y: auto;                                        /* @stable [23.06.2018] */

    .rac-list-item {
      color: $rac-list-item-color;                           /* @stable [23.06.2018] */
      font-size: $rac-list-item-font-size;                   /* @stable [23.06.2018] */

      &.rac-list-item-warning {

        .rac-list-item-graphic {
          background-color: $rac-list-item-warning-graphic-background-color;  /* @stable [04.08.2018] */
        }
      }

      &.rac-list-item-normal {

        .rac-list-item-graphic {
          background-color: $rac-list-item-normal-graphic-background-color;   /* @stable [05.08.2018] */
        }
      }

      &.rac-list-item-fail {

        .rac-list-item-graphic {
          background-color: $rac-list-item-fail-graphic-background-color;     /* @stable [05.08.2018] */
        }
      }

      .rac-icon {

        &.rac-list-item-meta-icon {
          margin-left: auto;                                          /* @stable [24.06.2018] */
        }
      }

      .rac-list-item-text {
        margin-bottom: auto;                                          /* @stable [11.08.2018] */
        margin-top: auto;                                             /* @stable [11.08.2018] */
        letter-spacing: $rac-list-item-text-letter-spacing;           /* @stable [12.08.2018] */
        line-height: $rac-list-item-text-line-height;                 /* @stable [12.08.2018] */
      }

      .rac-list-item-secondary-text {
        display: block;                                               /* @stable [12.08.2018] */
        font-size: $rac-list-item-secondary-text-font-size;           /* @stable [12.08.2018] */

        .rac-icon {
          width: $rac-list-item-secondary-text-icon-width;            /* @stable [11.08.2018] */
          height: $rac-list-item-secondary-text-icon-height;          /* @stable [11.08.2018] */
          display: inline-block;                                      /* @stable [25.06.2018] */
        }
      }

      .rac-list-item-graphic {
        background-color: $rac-list-item-graphic-background-color;  /* @stable [25.06.2018] */

        .rac-icon {
          color: $rac-list-item-graphic-icon-color;                 /* @stable [25.06.2018] */
          width: $rac-list-item-graphic-icon-width;                 /* @stable [24.06.2018] */
          height: $rac-list-item-graphic-icon-height;               /* @stable [24.06.2018] */
        }
      }
    }
  }

  .rac-button-add-icon {

    &.rac-icon {

      &.rac-action-icon {
        position: absolute;                                         /* @stable [23.06.2018] */
        right: $rac-add-button-icon-right;                          /* @stable [23.06.2018] */
        bottom: $rac-add-button-icon-bottom;                        /* @stable [23.06.2018] */
        width: $rac-add-button-icon-width;                          /* @stable [24.06.2018] */
        height: $rac-add-button-icon-height;                        /* @stable [24.06.2018] */
        background-color: $rac-add-button-icon-background-color;    /* @stable [23.06.2018] */
        color: $rac-add-button-icon-color;                          /* @stable [25.06.2018] */
        opacity: $rac-add-button-icon-opacity;                      /* @stable [25.06.2018] */
        border-radius: $rac-add-button-icon-border-radius;          /* @stable [25.06.2018] */

        .svg-inline--fa {
          width: $rac-add-button-fa-icon-width;                     /* @stable [24.06.2018] */
          height: $rac-add-button-fa-icon-height;                   /* @stable [24.06.2018] */
        }
      }
    }
  }
}