@import '../constant';
@import './navigation/navigation-list';

.rac-list {
  overflow: auto;
  position: relative;
  cursor: default;
}

.rac-list-empty {
  cursor: default;

  .app-list-search-action-wrapper {
    cursor: pointer;

    .mdc-list-item {
      justify-content: center;
    }
  }
}