@import '../../mixin';
@import './_view-field-constant';

.rac {

  /**
   * @view-field
   * @stable [19.06.2020]
   */
  @include rac-field (
    $rac-field-custom: $rac-view-field-cls,
    $rac-field-attachment-margin: $rac-view-field-attachment-margin,
    $rac-field-attachment-position: $rac-view-field-attachment-position
  );
}