.app-text-field-wrapper,
  .app-text-field-input-wrapper,
  .app-text-field {
  width: 100%;
}

.app-text-field-deactivated .app-text-field-prefix {
  opacity: .6;
}

.app-text-field-prefix {
  padding: 0 0 8px;
}

.app-text-field-loader {
  position: absolute;
  bottom: 8px;
  left: 50%;
  color: rgba(black, .6);
}

.app-text-field-wrapper {

  .rac-action {
    color: rgba(black, .6);

    &[disabled] {
      opacity: .6;
      cursor: default;
    }
  }

  .app-text-field {
    border-bottom: 1px solid rgba(black, .6);

    .mdc-text-field__input {
      padding-top: 10px;
      border-bottom: none;          // Replace with app-text-field:border-bottom

      &[readonly], &[disabled] {
        opacity: .6;
      }
    }
  }
}