.app-textfield-wrapper,
  .app-textfield-input-wrapper,
  .app-textfield {
  width: 100%;
}

.app-textfield-wrapper {
  .app-action {
    &.mdc-toolbar__icon {
      padding: 0 0 6px 0;
    }
    color: rgba(black, .6);

    &[disabled] {
      opacity: .4;
    }
  }

  .mdc-textfield__input {
    border-bottom: none;
    &[readonly] {
      opacity: .4;
    }
  }

  .mdc-textfield {
    border-bottom: 1px solid rgba(black, .6);
  }
}