.rac {
  .rac-barcode {  // TODO
    border: 1px solid black;                    /* @stable [10.06.2018] */
    padding: 16px;                              /* @stable [10.06.2018] */
    display: inline-block;
    margin: 0 16px 16px 0;
    font-size: 14px;
    font-weight: 500;

    .rac-barcode__data {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}