@import '../../vue-constant';
@import '../../mixin';
@import '../../vue-mixin';

.vac {

  @include rac-styles(                                                                        /* @stable [05.01.2019] */
    $rac-styles-custom: vue-viewer-preview-label,
    $rac-styles-font-size: $vue-viewer-preview-label-font-size
  );

  @include rac-styles(                                                                        /* @stable [09.12.2018] */
    $rac-styles-custom: vue-viewer-preview-file-name,
    $rac-styles-color: $vue-viewer-preview-file-name-color,
    $rac-styles-font-size: $vue-viewer-preview-file-name-font-size,
    $rac-styles-text-decoration: underline dotted
  );

  @include vue-icon(                                                                          /* @stable [05.01.2019] */
    $icon-custom: vue-viewer-preview-icon-close,
    $icon-width: $vue-viewer-preview-icon-close-size,
    $icon-height: $vue-viewer-preview-icon-close-size,
    $icon-cursor: pointer
  );
}