// Grid [FRAMEWORK-][RAC+]
.rac {

  .rac-grid-container-wrapper {

    .rac-grid {

      .rac-grid-column {

        &.rac-grid-header-column {
          text-align: left;           /* @stable - 05.04.2018 */
          white-space: nowrap;        /* @stable - 05.04.2018 */

          .rac-grid-column-direction {
            margin-left: 4px;         /* @stable - 05.04.2018 */
            vertical-align: bottom;   /* @stable - 05.04.2018 */
          }
        }
      }
    }
  }
}