@import '../../constant';
@import '../_field-mixin';

.rac {

  /**
   * @place-dialog
   * @stable [16.03.2020]
   */
  @include rac-place-dialog (
    $rac-place-dialog-body-height: $rac-place-dialog-body-height,
    $rac-place-dialog-body-min-width: $rac-place-dialog-body-min-width,
    $rac-place-dialog-title-font-size: $rac-place-dialog-title-font-size,
    $rac-place-dialog-title-margin: $rac-place-dialog-title-margin
  );
}