@import '../../constant';

// AddressField [FRAMEWORK-][RAC+]
.rac {

  .rac-form-field {

    .rac-dialog {

      .rac-dialog-addressfield-place {
        color: $rac-dialog-addressfield-place-color;                  /* @stable [29.07.2018] */
        font-size: $rac-dialog-addressfield-place-font-size;          /* @stable [29.07.2018] */
        margin-bottom: 16px;                                          /* @stable [29.07.2018] */
      }

      .rac-google-maps-map {
        min-height: $rac-dialog-addressfield-google-maps-min-height;  /* @stable [31.07.2018] */
      }
    }
  }
}