@import '../_primary-constant';
@import '../_classes';

/************************/
/* @stable [05.04.2020] */
/************************/
$rac-drawer-background: $rac-primary-color-metis-4 !default;
$rac-drawer-display: $rac-primary-display-0 !default;
$rac-drawer-flex-direction: $rac-primary-flex-direction-0 !default;
