@import './_drawer-mixin';
@import './_drawer-constant';

.rac {

  /**
   * @drawer
   * @stable [14.05.2020]
   */
  @include rac-drawer (
    $rac-drawer-background: $rac-drawer-background,
    $rac-drawer-display: $rac-drawer-display,
    $rac-drawer-flex-direction: $rac-drawer-flex-direction
  );
}