@import '~sass-flex-mixin/_flex';
@import '../../constant';

// Field [MDC+]
.rac-form-field {
  width: 100%;

  .rac-text-field {
    width: 100%;
    border-bottom: 1px solid $color-2;

    .rac-field-input {
      border-bottom: none;
    }

    + .rac-text-field-help-text {
      margin-bottom: 0;
    }
  }

  .rac-field-input-wrapper {
    width: 100%;
  }
}

// Header field  [MDC+]
.rac-header {
  .rac-form-field {
    .rac-text-field {
      border-color: $color-4;
    }
  }
}

// Form field  [MDC+]
.rac-form {
  .rac-form-field {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(start);
    @include align-items(flex-start);

    &.rac-checkbox-field {
      @include flex-direction(row);
      @include align-items(center);
    }
  }
}

// Menu field  [MDC+]
.rac-menu {
  .rac-form-field {
    @include flex-direction(row);

    .rac-text-field {
      @include flex;
      margin: 0 16px 16px;
    }
  }
}