@import '~sass-flex-mixin/_flex';

@import '../../constant';

// Field [FRAMEWORK+][RAC+]
.rac {

  .rac-form-field {

    .mdc-floating-label {
      /**
        * @stable - 30.03.2018
        * https://github.com/material-components/material-components-web/issues/2488
        */
      pointer-events: none;
    }
  }
}


// Field [MDC+]
.rac-form-field {

  // Textarea [MDC+]
  .rac-textarea-field {
    .rac-field-input {
      padding-top: 0;     // [MDC override]
      margin-top: 36px;   // [MDC bugfix]
    }
  }
}

// Form field  [MDC+]
.rac-form {
  .rac-form-field {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(start);
    @include align-items(flex-start);
  }
}