@import '~sass-flex-mixin/_flex';
@import '../../constant';

.mdc-form-field,
  .mdc-form-field .mdc-text-field,
  .rac-text-field-input-wrapper {
  width: 100%;
}

.rac-text-field {
  &.mdc-text-field {
    border-bottom: 1px solid $color-2;

    .mdc-text-field__input {
      padding-top: 10px;
      border-bottom: none;        // Replaced with rac-text-field:border-bottom

      &[readonly], &[disabled] {
        opacity: $opacity;
      }
    }
  }
}

.rac-header .rac-text-field {
  &.mdc-text-field {
    border-color: $color-4;
  }
}

.rac-form {
  .mdc-form-field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &.rac-checkbox-field {
      flex-direction: row;
      align-items: center;
    }
  }
}

.rac-menu .mdc-form-field {
  @include flex-direction(row);

  .rac-text-field {
    @include flex;
    margin: 0 16px 8px;
  }
}