// View field [FRAMEWORK-][RAC+]
.rac {

  .rac-form-field {

    .rac-view-field {
      width: 100%;                          /* @stable [27.06.2018] */
      margin-right: 8px;                    /* @stable [27.06.2018] */
      margin-left: 8px;                     /* @stable [27.06.2018] */
      max-height: 152px;                    /* @stable [28.06.2018] */
      overflow: hidden;                     /* @stable [29.06.2018] */
    }
  }
}