// View field [FRAMEWORK-]
.rac {

  .rac-form-field {

    .rac-image-field {
      width: 100%;
      margin-right: 8px;
      margin-left: 8px;

      
      .rac-picture-empty {
        width: 100px;
        height: 100px;
      }

      .rac-picture {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}